<div class = "col-md-3" id = "recent-friends">

<div class = "row">

  <div class = "col-md-4">
    <%= profile_photo(current_user) %>
  </div>

  <div class = "col-md-8">

    <p>
      <%=link_to current_user.name, user_path(current_user) %>
    </p>

    <p>
      <%=link_to "Edit Profile", edit_user_profile_path(current_user) %>
    </p>

  </div>

</div>



<h4>Recently Active</h4>

<% @posts.each do |post| %>

  <div class = "row recently-active-user">

    <div class ="col-md-2">
      <%= profile_photo(post.user) %>
    </div>

    <div class="col-md-10">
      <p><%= link_to post.user.name, post.user %></p>
      <p class = "date-posted">Posted on <%= readable_date(post.created_at) %></p>
    </div>

  </div>

<% end %>

<strong>
  <%= link_to "See All Your Friends", user_friends_path(current_user) %>
</strong>
</div>