<article class="friend-summary">
    <% if friend.profile.profile_photo_id %>
      <%= image_tag Photo.find(friend.profile.profile_photo_id).photo.url(:medium), style: "height:150px; width:150px;" %>
    <% else %>
      <%= image_tag image_url('no_photo_medium.jpg'), style: "heigth:150px; width:150px;" %>
    <% end %>
  <div class="friend-name">
    <%= link_to "#{full_name(friend)}", user_timeline_path(friend) %>
    <p><%= link_to "#{friend_count(friend)} friends", user_friends_path(friend) %></p>
  </div>
  <% if @current_user == find_current_page_user %>
    <%= link_to "Unfriend Me", friendship_path(friendship: {
                                              friender_id: @current_user.id,
                                              friendee_id: friend.id}),
                                                   method: :delete,
                                                    class: "unfriend pull-right" %>
  <% end %>
</article>
