<div class="row">
  <div class="col md-12">
    <%= form_for @user do |user_fields| %>
      <%= user_fields.file_field :avatar %>
      <%= user_fields.label :delete_avatar, "Remove Avatar" %>
      <%= user_fields.check_box :delete_avatar %>
      <%= f.submit "Remove avatar" %>
    <% end %>
  </div>
</div>