<div class="info-box row">
          <header class="col-xs-12">
            <h4>Friends (542)</h4>
          </header>
          <div class="col-xs-12">
            <div class="row thumbnail-grid text-center">
              <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
               <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
               <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
              <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
              <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
        <div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
                <p class="name"><a href="#">Ron Weasley</a></p>
              </div>
              <p class="text-center"><a href="#">See More Friends</a></p>
            </div>
          </div>