<div class="col-md-12">
  <% image = image_url(user.profile.cover.url) %>
  <%= content_tag :div, class: 'jumbotron', style: "background: url(#{image})" do %>
    <div class="masthead">
      <%= 
        image = image_tag user.avatar.url, class: "headshot", height: "128px", width: "128px"
        link_to image, user_change_avatar_path(user)
        %>

      <div class="masthead-name">
        <%= content_tag :h2, "#{user.first_name} #{user.last_name}" %>  
      </div>
      
      <div class="masthead-nav">
        <ul class="nav nav-tabs">
          <li><%= link_to 'Timeline', timeline_path(id: user.timeline_id) %></li>
          <li><%= link_to 'About', user %></li>
          <li><%= link_to 'Photos', photos_path(id: user.id) %></li>
          <li><%= link_to 'Friends', friends_path(id: user.id) %></li>
        </ul>
      </div>

      <%= link_to('Account Management', edit_user_path(user), id: "masthead-edit-profile", class: "btn btn-primary btn-md") if user_check %>

    </div>
  <% end %>
</div>
