<div class="panel panel-default"><!-- begin-mini-friends-panel -->
  <div class="panel-heading">
    <h3 class="panel-title center-text center-text">Friends<span class="grey">(542)</span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <img class="col-xs-4" src='<%= asset_path('ron.jpg') %>'>
      <img class="col-xs-4" src='<%= asset_path('ginny.jpg') %>'>
      <img class="col-xs-4" src='<%= asset_path('hermione.jpg') %>'>
    </div>
    <div class="row mini-friends-row">
      <a class="col-xs-4 center-text" href="#">Ron Weasley</a>
      <a class="col-xs-4 center-text" href="#">Ginny Weasley</a>
      <a class="col-xs-4 center-text" href="#">Hermione Granger</a>
    </div>
    <div class="row">
      <img class="col-xs-4" src='<%= asset_path('hagrid.jpg') %>'>
      <img class="col-xs-4" src='<%= asset_path('george.jpg') %>'>
      <img class="col-xs-4" src='<%= asset_path('fred.png') %>'>
    </div>
    <div class="row mini-friends-row">
      <a class="col-xs-4 center-text" href="#">Hagrid</a>
      <a class="col-xs-4 center-text" href="#">George Weasley</a>
      <a class="col-xs-4 center-text" href="#">Fred Weasley</a>
    </div>
    <%= link_to 'See More Friends', friends_path, id: 'see-more-friends', class: 'col-xs-6 col-xs-offset-4 underline' %>
  </div>
</div><!-- end-mini-friends-panel -->
