<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <div class="row">
    <%= split_column make_pages_form f, :first_name %>
    <%= split_column make_pages_form f, :last_name %>
  </div>
  <% [:email, :password, :password_confirmation].each do |q| %>
    <%= make_pages_form f, q %>
  <% end %>
  <div class="form-group">
    <%= f.submit 'Sign up!', id: 'sign-up', class: 'btn btn-success' %>
  </div>
<% end %>