<div class="col-xs-3 photos-pic-container" id="thing">
  <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hermione.jpg') %>'></a>
  <div class="pic-date-container col-xs-10 col-xs-offset-1">
    <p class="pic-date">Uploaded May 3rd, 2016</p>
  </div>
</div>
<div class="col-xs-3 photos-pic-container" id="thing">
  <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hp.jpg') %>'></a>
  <div class="pic-date-container col-xs-10 col-xs-offset-1">
    <p class="pic-date">Uploaded May 3rd, 2016</p>
  </div>
</div>
<div class="col-xs-3 photos-pic-container" id="thing">
  <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('ginny.jpg') %>'></a>
  <div class="pic-date-container col-xs-10 col-xs-offset-1">
    <p class="pic-date">Uploaded May 3rd, 2016</p>
  </div>
</div>
<div class="col-xs-3 photos-pic-container" id="thing">
  <a href="#" class="photos-pic"><img class="col-xs-12" src=<%= asset_path('dobby.jpg') %>></a>
  <div class="pic-date-container col-xs-10 col-xs-offset-1">
    <p class="pic-date">Uploaded May 3rd, 2016</p>
  </div>
</div>
</div><!-- end 1st row -->
<div class="row photos-row"><!-- 2nd row -->
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hp.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hagrid.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hagrid.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('hermione.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
</div><!-- end 2nd row -->
<div class="row photos-row"><!-- 3rd row -->
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('ginny.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('ron.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('george.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('fred.png') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
</div><!-- end 3rd row -->
<div class="row photos-row"><!-- 4th row -->
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('george.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('dobby.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('ron.jpg') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
  <div class="col-xs-3 photos-pic-container" id="thing">
    <a href="#" class="photos-pic"><img class="col-xs-12" src='<%= asset_path('fred.png') %>'></a>
    <div class="pic-date-container col-xs-10 col-xs-offset-1">
      <p class="pic-date">Uploaded May 3rd, 2016</p>
    </div>
  </div>
</div><!-- end 4th row -->
