<div class="row profile-box-title">
  <h2>Photos (834)</h2>
</div>
<div class="row profile-box">
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
</div>
<div class="row profile-box">
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
</div>
<div class="row profile-box">
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
  <div class="col-sm-4">
    <a href="<%= photos_path %>"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="img-responsive"></a>
  </div>
</div>
<div class="row profile-box profile-box-bottom">
  <div class="col-sm-12 center-text">
    <a href="<%= photos_path %>">See more photos</a>
  </div>
</div>
