
          <!--post feed-->
          <div class = "col-md-7 col-md-offset-1" id = "post-feed">

            <form class = "row" id = "post-form">
              <div class = "col-md-12">
                <h5>Post (copied)</h5>
              </div>
              <div class = "col-md-12" id = "post-textarea-col">
                <div class = "form-group">
                  <textarea class = "form-control" rows = "3" placeholder = "Tell the world something..."></textarea>
                </div>
              </div>

              <div class = "col-md-12" >
                <div class = "form-group pull-right">
                  <button class = "btn btn-default" type = "submit" role="Post">Post</button>
                </div>
              </div>
            </form>

            <article class = "row">
              <header class = "col-md-12">
                <div class ="col-md-2">
                  <%= image_tag "user_silhouette_generic.gif" %>
                </div>
                <div class="col-md-10">
                  <p><a href="about.html">Harry Potter</a></p>
                  <p class = "date-posted">Posted on Thursday 6/1/2014</p>
                </div>
              </header>

              <section class = "col-md-12 post-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui</p>
              </section>

              <section class = "col-md-12 like-section">
                <a class="col-md-1" href = "#">Like</a>
                <a class="col-md-2" href = "#">Comment</a>
                <a class = "col-md-1 pull-right" href = "#">Delete</a>
              </section>

            </article><!--post 1-->

            <article class = "row">
              <header class = "col-md-12">
                <div class ="col-md-2">
                  <%= image_tag "user_silhouette_generic.gif" %>
                </div>
                <div class="col-md-10">
                  <p><a href="about.html">Harry Potter</a></p>
                  <p class = "date-posted">Posted on Thursday 6/1/2014</p>
                </div>
              </header>

              <section class = "col-md-12 post-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui</p>
              </section>

              <section class = "col-md-12 like-section">
                <a class="col-md-1" href = "#">Like</a>
                <a class="col-md-2" href = "#">Comment</a>
                <a class = "col-md-1 pull-right" href = "#">Delete</a>
                <p class="col-md-12"><a href="#">Hermione Granger</a> likes this.</p>
              </section>

            </article><!--post 2-->

            <article class = "row">
              <header class = "col-md-12">
                <div class ="col-md-2">
                  <%= image_tag "user_silhouette_generic.gif" %>
                </div>
                <div class="col-md-10">
                  <p><a href="about.html">Harry Potter</a></p>
                  <p class = "date-posted">Posted on Thursday 6/1/2014</p>
                </div>
              </header>

              <section class = "col-md-12 post-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui</p>
              </section>

              <section class = "col-md-12 like-section">
                <a class="col-md-1" href = "#">Unlike</a>
                <a class="col-md-2" href = "#">Comment</a>
                <a class = "col-md-1 pull-right" href = "#">Delete</a>
                <p class="col-md-12"><span>You and <a href="#">Hermione Granger</a> and 3 others like this.</span></p>
              </section>

              <section class="col-md-12 comment-section">
                <article class = "col-md-12 comment">
                  <div class = "col-md-2">
                    <%= image_tag "user_silhouette_generic.gif" %>
                  </div>

                  <div class = "col-md-10">
                    <p class = "col-md-12"><a href="#">Ron Weasley</a> Said on Thursday, 5/21/2014</p>
                    <p class = "col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in</p>
                    <a href="#" class = "col-md-1">Like</a>
                    <span class = "col-md-10">3 other people like this</span>
                    <a href ="#" class = "col-md-1">Delete</a>
                  </div>
                </article> <!--comment-->


                <article class = "col-md-12 comment">
                  <div class = "col-md-2">
                    <%= image_tag "user_silhouette_generic.gif" %>
                  </div>

                  <div class = "col-md-10">
                    <p class = "col-md-12"><a href="#">Harry Potter</a> Said on Thursday, 5/21/2014</p>
                    <p class = "col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in</p>
                    <a href="#" class = "col-md-1">Like</a>
                    <span class = "col-md-10">3 other people like this</span>
                  </div>
                </article> <!--comment-->





                <!--post a comment form -->
                <form class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Write a comment..."></textarea>
                  </div>
                  <div class="form-group">
                    <a class="col-md-1" href="#">Cancel</a>
                    <button type="submit" class="col-md-3 pull-right btn btn-default">Comment</button>
                  </div>
                </form>
              </section>

            </article><!--post 3-->

          </div>



        </div>
