<% posts.each do |post| %>
<section class="row section-container">
  <div class="col-sm-12">
    <div class="row post-wrapper">
      <div class="col-xs-2 col-sm-1">
      <%= image_tag("harry_potter_small.jpg", class: "post-pic") %>
      </div>
      <div class="col-xs-9 col-sm-10 friend-name-wrapper">
        <p><%= link_to @user.full_name, user_profile_path(@user, @user.profile), class: "friend-name" %></p>
        <p>Posted on <%= post.updated_at.strftime("%A %-m/%-d/%Y") %></p>
      </div>
    </div>
    <div class="row post-wrapper">
      <div class="col-xs-12">
        <p class="post-content"><%= post.description %></p>
      </div>
    </div>
    <div class="row post-wrapper section-footer">
      <div class="col-xs-7 col-sm-4">
        <% if post.likers.include?(current_user) %>
          <%= button_to "Unlike", like_path( user_liked_id(post)), method: :delete, class: "friend-name"%>
        <% else %>
          <%= button_to "Like", post_likes_path(post), method: :post, class: "friend-name" %>
        <% end %>
        <a class="friend-name" href="#" disabled="true">Comment</a>
        <div class="row">
          <div class="col-sm-10 like-listing-expanded">
            <p><%= print_likers(post) %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-8 text-right">
        <% if @user == current_user %>
          <%= button_to "Delete", post_path(post), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</section><!-- Old Post Section -->
<% end %>
