<!-- Your markup here! -->
<!-- Your markup here! -->

<div id="static_pages">
	<%= render 'navbar' %>

	<%= render 'banner' %>

	<div class="container section-container">
		<div class="row section-header">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center">Edit Profiles</h2>
			</div>
		</div>

		<%= render 'profile_form', user: @user %>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="row">
					<div class="col-sm-12">
						<h3>Basic Information</h3>
					</div> <!-- Basic info Header -->
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">Birthday:</p>
					</div>
					<div class="col-xs-7">
						<p><%= @user.birth_date.strftime('%B %e, %Y') %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">College:</p>
					</div>
					<div class="col-xs-7 ">
						<input class="form-control" type="text" value="Hogwart's College">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">Hometown:</p>
					</div>
					<div class="col-xs-7">
						<input class="form-control" type="text" value="Godrick's Hollow, England">
						<!-- <p>Godrick's Hollow, England</p> -->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">Currely Lives:</p>
					</div>
					<div class="col-xs-7">
						<input class="form-control" type="text" value="Godrick's Hollow, England">
					</div>
				</div><!-- Basic information IDs -->

				<div class="row">
					<div class="col-sm-12">
						<h3>Contact Information</h3>
					</div> <!-- Contact info Header -->
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">Email:</p>
					</div>
					<div class="col-xs-7">
						<p><%= @user.email %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<p class="content-id">Telephone:</p>
					</div>
					<div class="col-xs-7">
						<input class="form-control" type="text" value="555-123-4567">
						<!-- <p>555-123-4567</p> -->
					</div>
				</div><!-- Contact Info Content -->
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-12">
						<h3>Words to Live By</h3>
					</div> <!-- Words to live by header -->
				</div>
				<div class="row">
					<div class="col-sm-12">
						<textarea class="form-control" rows="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</textarea>
					</div> <!-- Words to live by content -->
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h3>About Me</h3>
					</div> <!-- About Me header -->
				</div>
				<div class="row">
					<div class="col-sm-12">
						<textarea class="form-control" rows="6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla ariatur. Excepteur sint caecat cupidatat non oident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
					</div> <!-- About Me content -->
				</div>
			</div><!-- Right half content -->
		</div><!-- Content wrapper -->
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" id="save-change-wrapper">
				<a href="about.html" class="btn btn-primary btn-lg btn-block">Save Changes</a>
			</div>
		</div>
	</div><!-- About container -->
</div>
