
<!-- replace static content with content from @user's profile, except birth_date -->
<div id="about" class="container">
  <header class="row" id="row-header">
    <div class="col-xs-2 col-xs-offset-5 content-center">
      <h1 id="about-header">About</h1>  
    </div>
    <div class="col-xs-2 col-xs-offset-3 content-center">
      <input type="button" id="edit-button" value="Edit your Profile">
    </div>
  </header>
  <div class="row" id="about-content">
    <div class="col-xs-5" id="basic-and-contact-info">
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h2>Basic Information</h2>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>Birthday:</h4>
        </div>

        <div class="col-xs-4 col-xs-offset-3">
          <h4 class="not-bold"><%= @profile.birth_date.to_formatted_s(:rfc822)  %></h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>College:</h4>
        </div>
        <div class="col-xs-5 col-xs-offset-3">
          <h4 class="not-bold"><%= @profile.college %></h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>Hometown:</h4>
        </div>
        <div class="col-xs-7 col-xs-offset-3">
          <h4 class="not-bold"><%= @profile.hometown %></h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Currently Lives:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold"><%= @profile.currently_lives %></h4>
        </div>  
      </div>
      <div class="row" id="contact-information">
        <header class="col-xs-11 col-xs-offset-1">
          <h2>Contact Information</h2>
        </header>
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Email:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold"><%= @user.email %></h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Telephone:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold"><%= @profile.telephone %></h4>
        </div>  
      </div>
    </div>
    <div class="col-xs-7" id="words-and-about-me">
      <div class="row padding-left">
        <header class="col-xs-12">
          <h2>Words to Live By</h2>
        </header> 
      </div>
      <div class="row padding-left">
        <div class="col-xs-11">
          <p id="live-words"><%= @profile.life_words %></p>
        </div>  
      </div>
      <div class="row padding-left">
        <header class="col-xs-12">
          <h2 id="about-me-title">About Me</h2>
        </header> 
      </div>
      <div class="row padding-left">
        <div class="col-xs-11">
          <p id="live-words"><%= @profile.about_me %></p>
        </div>  
      </div>
    </div>
  </div>
</div>