<main>
<header class = "container" id="cover">

  <%= render partial: 'cover_images' %>

    <!--secondary navbar-->
    <div id = "profile-nav" class = "row">
      <div class = "col-md-7 col-md-offset-3">
        <ul class = "nav nav-tabs " role = "profile-nav">
          <li><%= link_to "Timeline", timeline_path %></li>
          <li class='active'><%= link_to "About", about_path %></li>
          <li><%= link_to "Photos (123)", photos_path  %></li>
          <li><%= link_to "Friends (542)", friends_path %></li>
      </div>
    </div>
  </header>

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-md-offset-2 col-md-8 about-header">
        <h2>Edit Profile</h2>
      </div>
    </header>


    <form class = "row">
      <div class = "col-md-5 col-md-offset-1">
        <h3>Basic Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Birthday:</td>
            <td>July 31st, 1980</td>
          </tr>
          <tr>
            <td>College:</td>
            <td><input class="form-control" type="text" value="Hogwarts College"></input></td>
          </tr>
          <tr>
            <td>Hometown:</td>
            <td><input class="form-control" type="text" value="Godrick's Hollow, England"></input></td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td><input class="form-control" type="text" value="Godrick's Hollow, England"></input></td>
          </tr>
        </table>

        <h3>Contact Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Email:</td>
            <td>harry_potter@hogwarts.edu</td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td><input class="form-control" type="text" value="555-123-4567"></input></td>
          </tr>
        </table>

      </div>

      <div class = "col-md-5">
        <h3>Words to live by</h3>
        <textarea class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</textarea>
        <h3>About me</h3>
        <textarea class="form-control" rows="9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
      </div>

      <div class="form-group col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-lg btn-block btn-default" id="save-profile">Save changes!</button>
      </div>
    </form>
  </section>

</main>