<% content_for :page do %>
  about_edit
<% end %>
<main >
  <div class = "row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render partial: 'layouts/menu_options', :locals => { user: @user } %>
      <br>
      <div class="row"><!-- begin about-panel-row -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title col-xs-3 col-xs-offset-5" id="about-panel-title">Edit Profile</h3>
            <div class="spacer"> </div>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 panel-content">
              <%= form_for @user do |user_fields| %>
                <%= user_fields.fields_for :profile_attributes, @profile do |profile_fields| %>
                  <div class="col-xs-5">
                    <h1 class="info-header">Basic Information</h1>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-3">Birthday:</p>
                      <div class="col-xs-7 col-xs-offset-2">
                        <%= profile_fields.text_field :birthday, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-3">College:</p>
                      <div class="col-xs-7 col-xs-offset-2">
                        <%= profile_fields.text_field :college, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-3">Hometown:</p>
                      <div class="col-xs-7 col-xs-offset-2">
                        <%= profile_fields.text_field :hometown, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-4">Currently Lives:</p>
                      <div class="col-xs-7 col-xs-offset-1">
                        <%= profile_fields.text_field :currently_lives, class: 'form-control' %>
                      </div>
                    </div>
                    <h2 class="info-header">Contact Information</h2>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-3">Email:</p>
                      <div class="col-xs-7 col-xs-offset-2">
                        <%= user_fields.text_field :email, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="row info-row">
                      <p class="bold-info  col-xs-4">Telephone:</p>
                      <div class="col-xs-7 col-xs-offset-1">
                        <%= profile_fields.text_field :telephone, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="col-xs-12" id="right-column-container">
                      <h2 class="info-header">Words to Live By</h2>
                      <div class="info-row">
                        </textarea>
                        <%= profile_fields.text_area :words_to_live_by, rows: 3, class: 'form-control' %>
                      </div>
                      <h2 class="info-header" id="about-me-header">About Me</h2>
                      <div class="info-row">
                        <%= profile_fields.text_area :about_me, rows: 10, class: 'form-control' %>
                      </div><!-- end info-row -->
                    </div><!-- end right column container -->
                  </div><!-- end right column -->
                  <div class="col-xs-6 col-xs-offset-3">
                    <!-- <button type="button" class="btn btn-primary" id="save-changes-button">Save Changes</button> -->
                    <%= user_fields.submit 'Save Changes', class: 'btn btn-primary', id: 'save-changes-button' %>

                <% end %>
              <% end %>
                  </div>
            </div>
          </div>
        </div>
      </div><!-- end about-panel-row>
                 </div>
                 </div><!--row-->
</main>
