<% content_for :page do %>
  about
<% end %>
<main >
  <div class = "row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render 'layouts/menu_options' %>
      <br>
      <div class="row"><!-- begin about-panel-row -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title col-xs-3 col-xs-offset-4" id="about-panel-title">About</h3>
            <%= link_to "Edit your Profile", about_edit_path, type: 'button', class: 'btn btn-primary col-xs-offset-3', id: 'edit-profile-button' if current_user == @user %>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 panel-content">
              <div class="col-xs-5">
                <h1 class="info-header">Basic Information</h1>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Birthday:</p>
                  <!-- <p class="col-xs-7 col-xs-offset-2">July 31st, 1980</p> -->
                  <%= content_tag :p, @profile.birthday, class: 'col-xs-7 col-xs-offset-2' %>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">College:</p>
                  <%= content_tag :p, @profile.college, class: 'col-xs-7 col-xs-offset-2' %>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Hometown:</p>
                  <%= content_tag :p, @profile.hometown, class: 'col-xs-7 col-xs-offset-2' %>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-4">Currently Lives:</p>
                  <%= content_tag :p, @profile.currently_lives, class: 'col-xs-7 col-xs-offset-1' %>
                </div>
                <h2 class="info-header">Contact Information</h2>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Email:</p>
                  <%= content_tag :p, @user.email, class: 'col-xs-7 col-xs-offset-2' %>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-4">Telephone:</p>
                  <%= content_tag :p, @profile.telephone, class: 'col-xs-6 col-xs-offset-1' %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-12" id="right-column-container">
                  <h2 class="info-header">Words to Live By</h2>
                  <%= content_tag :p, @profile.words_to_live_by, class: 'info-row' %>
                  <h2 class="info-header" id="about-me-header">About Me</h2>
                  <%= content_tag :p, @profile.about_me, class: 'info-row' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end about-panel-row-->
    </div>
  </div><!--row-->
</main>
