<!-- cover -->
<%= render :partial => "shared/jumbotron" %>

<%= render :partial => "shared/timeline_nav" %>

<div class="container">
  <div class="panel panel-default user-panel">
    <div class="panel-heading">
      <h1>Friends</h1>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="thumbnail">

            <div class="row">
              <div class="col-sm-4 vcenter">
                <%= link_to "#" do %>
                  <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                <% end %>
              </div>
              <div class="col-sm-4 vcenter">
                <div class="friend-info">
                  <%= link_to "Hermione Granger", "#" %> <br>
                  <span class="text-info">432 friends</span>
                </div>
              </div>
              <div class="col-sm-3 vcenter">
                <button class="btn btn-default">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
