<% content_for :title do %>
  <title>Friends</title>
<% end %>

<div class="container">
  <div class="pages">
    <%= render partial: '/shared/toolbar' %>
    <div class="row about-title">
      <div class="col-md-12">
        <h3>Friends</h3>
      </div>
    </div>
    <div class="row about-container">
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Hermione Granger", "#" %>
              <p>432 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Ron Weasley", "#" %>
              <p>336 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Hermione Granger", "#" %>
              <p>432 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Ron Weasley", "#" %>
              <p>336 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Hermione Granger", "#" %>
              <p>432 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 friend">
          <div class="row">
            <div class="col-md-2">
              <img src="https://unsplash.it/70/70"/>
            </div>
            <div class="col-md-6">
              <%= link_to "Ron Weasley", "#" %>
              <p>336 Friends</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>