<div id="static_pages">
	<%= render 'navbar' %>

	<%= render 'banner', edit: false, page_from: 'friends' %>

	<div class="container section-container">
		<div class="row section-header">
			<div class="col-sm-12">
				<h2 class="text-center">Friends</h2>
			</div>
		</div><!-- Friends Header -->
		<div class="row section-content">
			<div class="col-sm-6 content-left">
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
			</div><!-- Left Friends Content -->
			<div class="col-sm-6 content-right">
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
				<div class="row friend-wrapper">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<a href="#"><%= image_tag("icon_photo_small.png", class: "friend-img") %></a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 friend-name-wrapper">
						<p><a href="#">Hermione Granger</a></p>
						<p>432 Friends</p>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default btn-block unfriend-btn">Unfriend Me</button>
					</div>
				</div><!-- Friend Wrapper -->
			</div><!-- Right Friends Content -->
		</div><!-- Friends Content -->
	</div><!-- Content Section -->
</div>
