<%= render 'layouts/navbar_logged_in' %>
<main>
<!-- nav bar -->

<!-- banner box -->
<%= render 'layouts/jumbotron'%>

<!-- profile panel -->

<div class="container about-page-container">

  <div class="box-container about-container">
    <div class="row">
          <h2 class="col-sm-6 col-sm-offset-1"><%= image_tag('friend_icon.png')%>Friends</h2>  
    </div>
  </div>
</div>
<div class="container">
    <div class="col-sm-12 about-content friend-container">
        <div class="row">
          <div class="friend-tile first-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>

          <div class="friend-tile first-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>
        </div>

        <div class="row">
          <div class="friend-tile second-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>


          <div class="friend-tile second-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>

        </div>

        <div class="row">
          <div class="friend-tile third-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>
          <div class="friend-tile third-row col-sm-5">
             <%= image_tag("default_photo.png")%>
              <p><a href="#">Hermione Granger</a><br>432 Friends</td></p>
              <button type="button" class="btn">Unfriend Me</button>
          </div>
        </div>

    </div><!-- closing row -->
</div><!-- Closing container -->


<!-- profile panel -->

</main>