<%= render :partial => 'shared/signed_in_navbar' %>

<main class = "container">

  <%= render :partial => 'middle_navbar' %>


  <section id="friends-section">
      <header>
        <div class="row">
          <div class="col-xs-12">
            <h2>Friends</h2>
          </div>
        </div>
      </header>

      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "Hermione-Granger.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Hermione Granger</h4>
                  </a>
                  <a href="#">
                    <h6>322 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "RonWeasley.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Ron Weasley</h4>
                  </a>
                  <a href="#">
                    <h6>256 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div><!-- Ends row of 2 friends -->


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "Rubeus_Hagrid.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Rubeus Hagrid</h4>
                  </a>
                  <a href="#">
                    <h6>781 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "Cho-Chang.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Cho Chang</h4>
                  </a>
                  <a href="#">
                    <h6>401 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "Bonnie-Wright.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Ginny Weasley</h4>
                  </a>
                  <a href="#">
                    <h6>681 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "cedric-diggory.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Cedric Diggory</h4>
                  </a>
                  <a href="#">
                    <h6>199 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "albus-dumbledore.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Albus Dumbledore</h4>
                  </a>
                  <a href="#">
                    <h6>3,527 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <%= image_tag "lord-voldemort-smiling.jpg" %>
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Lord Voldemort</h4>
                  </a>
                  <a href="#">
                    <h6>1 Friend</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>

    </section>
</main>

<br>