<div class="static-pages">

  <%= render "logged_in_navbar" %>

  <%= render "header" %>

  <main id="friends" class="container">
    <div class="row section-banner">
      <div class="col-md-12 section-header">
        <h1>Friends</h1>
      </div>
    </div>
    <div class="row">
      <!-- left side of friends section -->
      <div class="col-md-6">
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>
          </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>
          </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>            </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
      </div>
      <!-- right side of friends section -->
      <div class="col-md-6">
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>            </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
               <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>            </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
        <div class="row friend-tile">
          <div class="col-md-3">
            <a href="#">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-thumbnail' %>
            </a>            </div>
          <div class="col-md-6 friend-name">
            <a href="#">Hermione Granger</a>
            <p class="friend-count">432 friends</p>
          </div>
          <div class="col-md-3 unfriend">
            <button>Unfriend me</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>