<main>
  <!-- Header -->
  <header class="container" id="bg">
    <section class="jumbotron">
        <%= image_tag("harry_potter_small.jpg", :class => "profile-image") %>
        <h3>Harry Potter</h3>
    </section>
  </header>

  <!-- Navigation -->
  <div class="container" id="nav-links">
   <ul class="nav nav-pills">
    <li role="nav"><%= link_to "Timeline", timeline_path %></li><!--
    --><li role="nav"><%= link_to "About", about_path %></li><!--
    --><li role="nav"><%= link_to "Photos(123)", photos_path %></a></li><!--
    --><li role="nav" class="active"><%= link_to "Friends(567)", friends_path %></li>
  </ul>
  </div>

  <!-- Bootstrap grid system -->
  <section class="content">
    <div class="container">
      <div class ="row">
        <!-- Page Heading -->
        <div class="col-md-12 heading">
          <h1>Friends</h1>
        </div>
      </div>
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a> <P>432 Friends</P></div>
            <div class="media-right ">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a><P>432 Friends</P></div>
            <div class="media-right">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
     </div>
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a><p>432 Friends</p></div>
            <div class="media-right ">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a><p>432 Friends</p></div>
            <div class="media-right">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a><p>432 Friends</p></div>
            <div class="media-right ">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <article class="media friend-container">
            <div class="media-left media-middle">
              <img class="media-object" src="user_silhouette_generic.gif">
            </div>
            <div class="media-body media-middle"> <a href="#" class="media-heading">Hermoine Granger</a><P>432 Friends</P></div>
            <div class="media-right">
              <button class="btn btn-default unfriend-btn">Unfriend Me</button>
            </div>
          </article>
        </div>
      </div>
    </div> <!-- end of container -->
  </section>
</main>