<main class="container">
	<div class="row">
		<aside class="col-md-7">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-middle">
  				<h3>Connect with all your friends!</h3>
  				<ul>
  					<li>See photos and updates in your newsfeed.</li>
  					<li>Post your status for the world to see from your profile.</li>
  					<li>Get in touch with your friends by "friending" them.</li>
  					<li>Like things because you're a positive person!</li>
  				</ul>
  			</div>
  		</div>
		</aside>

		<div class="col-md-4">
			<h1>Sign Up</h1>
      <%= form_for :user, url: 'users#create' do |f| %>
      <!-- <form role="form"> -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name.' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name.' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Your email address.' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Your password.' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your password.' %>
        </div>
<!--           <div class="form-group">
          <label>Birthday</label>
          <div class="row">
            <div class="col-xs-4">
              <select class="form-control">
                <option>Month</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select class="form-control">
                <option>Day</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select class="form-control">
                <option>Year</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label><input type="radio" name="gender">Male</label>
              <label><input type="radio" name="gender">Female</label>
            </div>
          </div> -->
          <div class="form-group">
            <%= f.submit 'Sign up!', id: 'sign-up', class: 'btn btn-success' %>
            <!-- <button id="sign-up" type="submit" class="btn btn-success">Sign up!</button> -->
          </div>
        </div>
      <% end %>
<!--         </form> -->
		</div>
	</div>  	
</main>
