<main class="container">
  <div class="row" id="landing-page">
    <div class="col-sm-5 col-sm-push-7" id="signup">
      <header class="row">
        <div class="col-xs-12"><h1>Sign Up</h1></div>
      </header>
      <div class="row">
        <div class="col-xs-5" id="first-name">
          <h4><input type="text" placeholder="First Name"></h4> 
        </div>
        <div class="col-xs-1" id="gap-name"></div>
        <div class="col-xs-5" id="last-name">
          <h4><input type="text" placeholder="Last Name"></h4>
        </div>
      </div>

      <%= form_for :user, url: users_path do |u| %>
        <div class="row">
          <div class="col-xs-11">
            <h4><%= u.text_field :email, placeholder: "Email" %></h4>
          </div>
        </div>    
        <div class="row">
          <div class="col-xs-11">
            <h4><%= u.text_field :password, placeholder: "Password" %> </h4>
          </div>
        </div>  
        <div class="row">
          <div class="col-xs-11">
            <h4><%= u.text_field :password_confirmation, placeholder: "Confirm your password" %></h4>
          </div>
        </div>  
      <div class="row">
        <div class="col-xs-10">
          <h4>Birthday</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10" id="birthday-options">
          <select>
            <option value="">Month</option>
          </select> 
          <select>
            <option value="">Day</option>
          </select> 
          <select>
            <option value="">Year</option>
          </select> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10" id="gender-input">
          <input type="radio" name="gender" id="gender-input-female" value="Female"><p id="female">Female</p>
          <input type="radio" name="gender" id="gender-input-male" value="Male"><p id="male">Male</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11">
          <%= u.submit "Sign Up!", id: "signup-button" %>
      <% end %>
        </div>
      </div>      
    </div>  

    <div class="col-sm-7 col-sm-pull-5" id="info">
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1" id="invisible">
          <h5>This row is invisible for formatting purposes (because I'm lazy).</h5>
        </div>
      </div>
      <header class="row">
        <div class="col-xs-12">
          <h2 id="connect">Connect with all your friends!</h2>
        </div>
      </header>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h4 class="h4-enlarge"><li>See photos and updates in your news feed.</li></h4>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h4><li>Post your status for the world to see from your profile.</li></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h4><li>Get in touch with your friends by "friending" them.</li></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h4><li>Like things because you're a positive person!</li></h4>
        </div>
      </div>
    </div>

  </div>

</main>