<main class="container">
	<div class="row">
		<aside class="col-md-7">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-middle">
  				<h3>Connect with all your friends!</h3>
  				<ul>
  					<li>See photos and updates in your newsfeed.</li>
  					<li>Post your status for the world to see from your profile.</li>
  					<li>Get in touch with your friends by "friending" them.</li>
  					<li>Like things because you're a positive person!</li>
  				</ul>
  			</div>
  		</div>
		</aside>

		<div class="col-md-4">
			<h1>Sign Up</h1>
      <%= form_for :user, url: 'users#create' do |f| %>
        <div class="row">
          <%= split_column make_pages_form f, :first_name %>
          <%= split_column make_pages_form f, :last_name %>
        </div>
        <%= make_pages_form f, :email %>
        <%= make_pages_form f, :password %>
        <%= make_pages_form f, :password_confirmation %>
        <div class="form-group">
          <%= f.submit 'Sign up!', id: 'sign-up', class: 'btn btn-success' %>
        </div>
      <% end %>
		</div>
	</div>  	
</main>
