<%= render 'layouts/navbar_logged_in' %>
<main>
<!-- nav bar -->

<!-- banner box -->
<%= render 'layouts/jumbotron'%>

<!-- profile panel -->

<div class="container about-page-container">
  <div class="box-container about-container">
    <div class="row">
          <h2 class="col-sm-6 col-sm-offset-1"><%= image_tag('photos_icon.png')%>Photos</h2>
            <button class="btn-default pull-right about-edit-button col-sm-2">Add Photo</button>
    </div>

  </div>
    <div class="col-sm-12 about-content box-container">
      <div class="row photos">
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
    </div>
      <div class="row photos">
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
    </div>
      <div class="row photos">
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
    </div>
        <div class="row photos">
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
        <span class="col-sm-3"><figure><%= image_tag("default_user.gif", :class => "photo-page-img")%><figcaption>Uploaded January 1, 2015</figcaption></figure></span>
      </div><!-- closing row -->
      </div><!-- closingcolspace -->
</div><!-- Closing container -->


<!-- profile panel -->

</main>