<main class="main container">
       <%= render 'profile_header' %>
    <section class="row">
      <div class="col-xs-12">
        <div class="info-box row">
         <header class="col-xs-12">
            <h2 class="module-title">Photos</h2>
            <%= link_to "Add Photos", about_edit_path, {:class => "btn btn-primary btn-sm module-edit"} %>
             
          </header>
       <div class="col-xs-12">
          <div class="row photo-grid">
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           
         </div>
       </div>
        </div>
        </div>
      </section>
      </main>