<main class="photos">
  <!-- Header -->
  <header class="container" id="bg">
    <section class="jumbotron">
        <%= image_tag("harry_potter_small.jpg", :class => "profile-image") %>
        <h3>Harry Potter</h3>
    </section>
  </header>

  <!-- Navigation -->
  <div class="container" id="nav-links">
    <ul class="nav nav-pills">
    <li role="nav"><%= link_to "Timeline", timeline_path %></li><!--
    --><li role="nav"><%= link_to "About", about_path %></li><!--
    --><li role="nav" class="active"><%= link_to "Photos(123)", photos_path %></a></li><!--
    --><li role="nav"><%= link_to "Friends(567)", friends_path %></li>
    </ul>
  </div>

  <!-- Bootstrap Grid System -->
  <section class="content">
    <div class="container">
      <div class ="row">
        <!-- Page Heading -->
        <div class="col-md-12 heading">
          <h1>Photos</h1>
          <button href="#" class="edit-profile-btn btn btn-primary">Upload Photo!</button>
        </div>
      </div>
      <div class="row">
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
        <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
        </div>
        </a>
        <a href="#" class="col-md-3">
        <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
        </div>
        </a>
        <a href="#" class="col-md-3">
        <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
        </div>
        </a>
      </div>
      <div class="row">
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
        <a href="#" class="col-md-3">
          <div class="photo-container">
            <div class="annotation"><p>Uploaded January 1, 2015</p></div>
          </div>
        </a>
      </div>

    </div> <!-- end of container -->
  </section>
</main>