<div id="static_pages">
	<%= render 'navbar' %>

	<%= render 'banner', edit: false, page_from: "photos" %>

	<div class="container section-container">
		<div class="row section-header">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center">Photos</h2>
			</div>
			<div class="col-sm-2 edit-btn">
				<a href="about_edit.html" class="btn btn-primary btn-block">Add Photos</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
			<div class="col-sm-4 col-md-3 photo-container">
				<figure>
					<a href="#"><%= image_tag("user_silhouette_generic.gif", class: "friend-img") %></a>
					<figcaption class="photo-date">Uploaded January 1, 2016</figcaption>
				</figure>
			</div>
		</div><!-- Photo Wrapper -->
	</div><!-- Contentt Section -->
</div>
