<div class="static-pages">

  <%= render "logged_in_navbar" %>

  <%= render "header" %>

  <main class="container" id="photos">
    <div class="row section-banner">
      <div class="col-md-2 col-md-offset-5 section-header">
        <h1>Photos</h1>
      </div>
      <div class="col-md-2 col-md-offset-3 edit-button">
        <button>Add photo!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
      <div class="col-md-3 captioned-photo">
        <a href="#">
          <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
        </a>
        <div class="caption">
          Uploaded Jan. 1, 2015
        </div>
      </div>
    </div>
  </main>
</div>