<%= render 'nav' %>


<div class="container">
          <div class="row">
            <div id="cover-col" class="col-xs-12">
              <img id="user-img" height="150px" src="<%=image_path('user.jpg')%>"  />
              <h2 id="about-name">Harry Potter</h2>
            </div>
            </div>

            <div id="about-links" class="row">
              <div id="link-box1" class="col-xs-1 col-xs-offset-3">
                <h5><a href="timeline.html"><strong>Timeline</strong></a></h5>
              </div>
              <div id="link-box2"  class="col-xs-1">
                <h5><a href="about.html"><strong>About</strong></a></h5>
              </div>
              <div id="link-box3-current" class="col-xs-2">
                  <h5><strong>Photos</strong><small>(123)</small></h5>
              </div>
              <div id="link-box4" class="col-xs-2">
                  <h5><a href="friends.html"><strong>Friends</strong><small>(542)</small></a></h5>
              </div>
              <div id="edit-link" class="col-xs-2">
                  <h5><u><a href="about_edit.html">Edit Profile</a></u></h5>
              </div>
            </div>
          </div>

          <div id="info-wrapper" class="container">
            <div id="about-row" class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <h2 id="about-col"><strong>Photos</strong></h2>
              </div>
              <div  class="col-xs-4">
                  <button id="edit-btn" type="button" class="btn-primary">Add Photo!</button>
                </div>

            </div>

            <div id="about-content" class="friends-content row">

                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>
                  <div class="photo-thumb col-xs-3">
                    <a href="#" title="Uploaded January 1, 2015"><img class="img-responsive" src="<%=image_path('photo.png')%>"></a>
                  </div>


            </div>

            </div>
          </div>
