<main class="main container">
<%= render 'profile_header' %>
<section class="row">
  <aside class="col-sm-4 timeline-sidebar">
    <%= render 'info_box_about' %>
    <%= render 'info_box_photos' %>
    <%= render 'info_box_friends' %>
  </aside>
  <div class="col-sm-8">
    <section class="timeline-feed">
      <%= render 'post_form' %>
      <%= render 'post' %>
      <%= render 'post' %>
      <%= render 'post' %>
    </section>
  </div>
</section>
</main>