<main class="main timeline">
  <%= render 'profile_header_and_links' %>

  <div class="container">
    <div class="bottom-main-section row">
      <section class="left-section col-xs-4">

      <%= render 'shared/timeline/about_block' %>

        <%= render 'shared/timeline/photo_block' %>

        <%= render 'shared/timeline/friend_block' %>

      </section>

      <section class="right-section col-xs-8">

        <%= render 'shared/make_a_post' %>

        <%= render 'shared/timeline/post' %>

        <%= render 'shared/timeline/post' %>

        <%= render 'shared/timeline/post' %>

        <%= render 'shared/timeline/post_with_comment' %>

      </section>
    </div>
  </div>

</main>
