<div class="static-pages">

  <%= render "logged_in_navbar" %>

  <%= render "header" %>

  <main id="timeline" class="container">
    <div class="row">
      <!-- left hand column -->
      <div class="col-md-4">
        <article>
          <div class="row article-top-line">
            <div class="col-md-12">
              <h3>About</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <strong>Born on:</strong> July 31st, 1980
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <strong>Went to school at:</strong> Hogwarts
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <strong>Hometown:</strong> Godrick's Hollow, England
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <strong>Currently Lives:</strong> Godrick's Hollow, England
            </div>
          </div>
        </article>
        <article>
          <div class="row">
            <div class="col-md-12 article-top-line">
              <h3>Photos (123)</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'icon_photo_small.png', class: 'img-responsive' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 centered-text">
              <a href="photos.html">
                See more photos
              </a>
            </div>
          </div>
        </article>
        <article>
          <div class="row article-top-line">
            <div class="col-md-12">
              <h3>Friends (542)</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              <a href="#">Ron Weasley</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              <a href="#">Ginny Weasley</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              <a href="#">Hermione Granger</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
            <a href="#">Draco Malfoy</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
            <a href="#">Parvati Patil</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
            <a href="#">Luna Lovegood</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 centered-text">
              <a href="friends.html">
                See more friends
              </a>
            </div>
          </div>
        </article>
      </div>
      <!-- right hand post feed -->
      <div class="col-md-8">
        <article class="row">
          <div class="row article-top-line">
            <div class="col-md-12">
              <h3>Post</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea rows="4" placeholder="Tell the world something..."></textarea>
            </div>
          </div>
          <div class="row post-bottom">
            <div class="col-md-2 col-md-offset-10 post-button">
              <button>Post</button>
            </div>
          </div>
        </article>
        <article class="row post">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
                <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              </a>
            </div>
            <div class="col-md-10">
              <a href="#">Harry Potter</a>
              <p class="post-date">Posted on Thursday, 6/1/2014</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <p>Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to kiss? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter. Pumpkin juice Trevor wave your wand out glass orbs, a Grim knitted hats. Stan Shunpike doe patronus, suck his soul Muggle-Born large order of drills the trace. Bred in captivity fell through the veil, quaffle blue flame ickle diddykins Aragog. Yer a wizard, Harry Doxycide the woes of Mrs. Weasley Goblet of Fire.</p>
            </div>
          </div>
          <div class="row comment-section post-bottom">
            <div class="col-md-1">
              <a href="#">Like</a>
            </div>
            <div class="col-md-1">
              <a href="#">Comment</a>
            </div>
            <div class="col-md-1 col-md-offset-8">
              <a href="#">Delete</a>
            </div>
          </div>
        </article>
        <article class="row post">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
                <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              </a>              </div>
            <div class="col-md-10">
              <a href="#">Harry Potter</a>
              <p class="post-date">Posted on Thursday, 5/21/2014</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <p>Toad-like smile Flourish and Blotts he knew I’d come back Quidditch World Cup. Fat Lady baubles banana fritters fairy lights Petrificus Totalus. So thirsty, deluminator firs’ years follow me 12 inches of parchment. Head Boy start-of-term banquet Cleansweep Seven roaring lion hat. Unicorn blood crossbow mars is bright tonight, feast Norwegian Ridgeback. Come seek us where our voices sound, we cannot sing above the ground, Ginny Weasley bright red. Fanged frisbees, phoenix tears good clean match..</p>
            </div>
          </div>
          <div class="row comment-section post-bottom">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1">
                  <a href="#">Like</a>
                </div>
                <div class="col-md-1">
                  <a href="#">Comment</a>
                </div>
                <div class="col-md-1 col-md-offset-8">
                  <a href="#">Delete</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a href="#">Hermione Granger</a> likes this.
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="row post">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
                <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
              </a>              </div>
            <div class="col-md-10">
              <a href="#">Harry Potter</a>
              <p class="post-date">Posted on Thursday, 5/21/2014</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies. Mudbloods yew pumpkin juice phials Ravenclaw’s Diadem 10 galleons Thieves Downfall. Ministry-of-Magic mimubulus mimbletonia Pigwidgeon knut phoenix feather other minister Azkaban. Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks.</p>
            </div>
          </div>
          <div class="row comment-section post-bottom">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1">
                  <a href="#">Unlike</a>
                </div>
                <div class="col-md-1 col-md-offset-9">
                  <a href="#">Delete</a>
                </div>
              </div>
              <div class="row end-of-like-section">
                <div class="col-md-12">
                  You and <a href="#">Hermione Granger</a> and three others like this.
                </div>
              </div>
              <div class="row comment">
                <div class="col-md-2">
                    <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="#">Ron Weasley</a> <span class="post-date">said on Thursday 5/21/14:</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <a href="#">Like</a>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                      Three other people like this.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row comment">
                <div class="col-md-2">
                    <%= image_tag 'user_silhouette_generic.gif', class: 'img-responsive' %>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="#">Harry Potter</a> <span class="post-date">said on Friday 5/22/14:</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>Mudbloods yew pumpkin juice phials Ravenclaw’s Diadem 10 galleons Thieves Downfall. Ministry-of-Magic mimubulus mimbletonia Pigwidgeon knut phoenix feather other minister Azkaban. Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks..</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <a href="#">Like</a>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                      Three other people like this.
                    </div>
                    <div class="col-md-1">
                      <a href="#">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 comment-entry">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea rows="6" placeholder="Write a comment..."></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <a href="#">Cancel</a>
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                      <button>Comment</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

  </main>
</div>