<header class="container">
  <%= render "/shared/cover" %>

  <div class="row">
    <ul class="nav nav-tabs" id="menu">
      <li role="presentation" class="active"><a href="<%= timeline_path %>">Timeline</a></li>
      <li role="presentation"><a href="<%= about_path %>">Åbout</a></li>
      <li role="presentation"><a href="<%= photos_path %>">Photos (834)</a></li>
      <li role="presentation"><a href="<%= friends_path %>">Frænds (99)</a></li>
      <li role="presentation" class=
      "pull-right"><a href="#">Edit Profile</a></li>
    </ul>
  </div>
</header>

<main class="container">
  <div class="row">
    <aside class="col-sm-4">
      <div class="row profile-box-title">
        <h2>Åbout</h2>
      </div>
      <div class="row profile-box profile-box-bottom">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5">
              <strong>Birthday</strong>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <p>11/04/979</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <strong>College</strong>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <p>Thor State Tech</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <strong>Hometown</strong>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <p>Scania, Sweden</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <strong>Currently Lives</strong>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                <p>Møn, Denmark</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render "photo_box" %>

      <%= render "friend_box" %>
    </aside>

    <%= render "post_box" %>

      <article>
        <div class="row profile-box">
          <div class="col-sm-2">
            <a href="timeline.html"><img src="/orm_profile.jpg"></a>
          </div>
          <div class="col-sm-10">
            <a href="timeline.html">Red Orm</a><br>
            <time datetime="2014/06/01">Posted on Thursday 6/1/2014</time>
          </div>
        </div>

        <div class="row profile-box profile-box-bottom">
          <div class="col-sm-12">
            <p>Lørem ipsum dolor sit amet, consectetur ådipisicing elit, sed do eiusmod
            tempor incididunt ut labore et doløre magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodö
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum doløre eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="row row profile-box profile-box-bottom comment-row">
          <div class="col-sm-1">
            <a href="#">Like</a>
          </div>
          <div class="col-sm-1">
            <a href="#">Comment</a>
          </div>
          <div class="col-sm-1 col-sm-offset-8">
            <a href="#">Delete</a>
          </div>

        </div>
      </article>

      <article>
        <div class="row profile-box">
          <div class="col-sm-2">
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Ingrid_Bergman_-_Gaslight_44.jpg"></a>
          </div>
          <div class="col-sm-10">
            <a href="#">Ingrid the Magnificent</a><br>
            <time datetime="2014/05/24">Posted on Monday 5/24/2014</time>
          </div>
        </div>

        <div class="row profile-box profile-box-bottom">
          <div class="col-sm-12">
            <p>Lørem ipsum dolor sit amet, consectetur ådipisicing elit, sed do eiusmod
            tempor incididunt ut labore et doløre magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodö
            consequat.</p>
          </div>
        </div>

        <div class="row row profile-box comment-row">
          <div class="col-sm-1">
            <a href="#">Unlike</a>
          </div>
          <div class="col-sm-1">
            <a href="#">Comment</a>
          </div>
          <div class="col-sm-1 col-sm-offset-8">
            <a href="#">Delete</a>
          </div>
        </div>
        <div class="row row profile-box profile-box-bottom comment-row">
          <div class="col-sm-12">
            <p>You and <a href="#">Sharktopus</a> and 3 others like this.</p>
          </div>
        </div>
      </article>

      <article>
        <div class="row profile-box">
          <div class="col-sm-2">
            <a href="timeline.html"><img src="/orm_profile.jpg"></a>
          </div>
          <div class="col-sm-10">
            <a href="timeline.html">Red Orm</a><br>
            <time datetime="2014/05/22">Posted on Saturday 5/22/2014</time>
          </div>
        </div>

        <div class="row profile-box profile-box-bottom">
          <div class="col-sm-12">
            <p>Lørem ipsum dolor sit amet, consectetur ådipisicing elit, sed do eiusmod
            tempor incididunt ut labore et doløre magna aliqua.</p>
          </div>
        </div>

        <div class="row row profile-box comment-row">
          <div class="col-sm-1">
            <a href="#">Like</a>
          </div>
          <div class="col-sm-1">
            <a href="#">Comment</a>
          </div>
          <div class="col-sm-1 col-sm-offset-8">
            <a href="#">Delete</a>
          </div>
        </div>
        <div class="row row profile-box profile-box-bottom comment-row">
          <div class="col-sm-12">
            <p><a href="#">Captain Ahab</a> and 8 others like this.</p>
          </div>
        </div>

        <div class="row row profile-box comment-row">
          <div class="col-sm-2">
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/3/39/George_Miller_Bligh.jpg"></a>
          </div>
          <div class="col-sm-10">
            <a href="#">Horatio Hornblower</a><time datetime="2014/05/22"> posted on Saturday 5/22/2014</time>
            <p>Lørem ipsum dolor sit amet, consectetur ådipisicing elit, sed do eiusmod
            tempor incididunt ut labore et doløre magna aliqua.</p>
            <div class="row">
              <div class="col-sm-1">
                <a href="#">Like</a>
              </div>
              <div class="col-sm-10">
                <p><a href="#">5 people</a> like this.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row row profile-box comment-row">
          <div class="col-sm-2">
            <a href="timeline.html"><img src="/orm_profile.jpg"></a>
          </div>
          <div class="col-sm-10">
            <a href="timeline.html">Red Orm</a><time datetime="2014/05/22"> posted on Saturday 5/22/2014</time>
            <p>Lørem ipsum dolor sit amet, consectetur ådipisicing elit, sed do eiusmod
            tempor incididunt ut labore et doløre magna aliqua.</p>
            <div class="row">
              <div class="col-sm-1">
                <a href="#">Like</a>
              </div>
              <div class="col-sm-9">
                <p><a href="#">2 people</a> like this.</p>
              </div>
              <div class="col-sm-1">
                <a href="#">Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row profile-box comment-row">
          <div class="col-sm-12">
            <textarea class="form-control" rows="2" placeholder="Write a comment..."></textarea>
          </div>
        </div>
        <div class="row row profile-box profile-box-bottom comment-row">
          <div class="col-sm-1">
            <a href="#">Cancel</a>
          </div>
          <div class="col-sm-3 col-sm-offset-8">
            <button type="submit" class="btn btn-primary btn-block">Comment</button>
          </div>
        </div>

      </article>

    </section>

  </div>
</main>
