<% content_for :page do %>
  timeline
<% end %>
<!-- navbar containing logo and logins-->
<!-- THESE ARE COPY-PASTED FROM BOOTSTRAP EXAMPLES -->
<!-- Static so that it is permanently fixed to the top -->
<!-- notice that this is a ROW as well as a navbar -->
<!--contains everything below the navbar-->
<main >
  <div class = "row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render partial: 'layouts/menu_options', :locals => { user: @user } %>
      <br>
      <div class="row"><!-- begin timeline-row -->
        <div class="col-xs-5"><!-- begin-left-column-->
          <div class="panel panel-default"><!-- begin-mini-about-panel -->
            <div class="panel-heading">
              <h3 class="panel-title center-text">About</h3>
            </div>
            <div class="panel-body">
              <p><span class="bold">Born on:</span> July 31st, 1980</p>
              <p><span class="bold">Went to school at:</span> Hogwarts</p>
              <p><span class="bold">Hometown:</span> Godrick's Hollow, England</p>
              <p><span class="bold">Currently Lives:</span> Godrick's Hollow</p>
            </div>
          </div><!-- end-mini-about-panel -->
          <div class="panel panel-default"><!-- begin-mini-photos-panel -->
            <div class="panel-heading">
              <h3 class="panel-title center-text">Photos <span class="grey">(123)</span></h3>
            </div>
            <div class="panel-body">
              <div class="row mini-photos-row">
                <img class="col-xs-4" src='<%= asset_path('george.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('ginny.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('hermione.jpg') %>'>
              </div>
              <div class="row mini-photos-row">
                <img class="col-xs-4" src='<%= asset_path('dobby.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('hp.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('flag.png') %>'>
              </div>
              <div class="row mini-photos-row">
                <img class="col-xs-4" src='<%= asset_path('ron.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('hagrid.jpg') %>'>
                <img class="col-xs-4" src='<%= asset_path('fred.png') %>'>
              </div>
              <%= link_to 'See More Photos', photos_path, class: 'col-xs-6 col-xs-offset-4 underline' %>
            </div>
          </div><!-- end-mini-photos-panel -->
          <div class="panel panel-default"><!-- begin-mini-friends-panel -->
            <div class="panel-heading">
              <h3 class="panel-title center-text center-text">Friends<span class="grey">(<%= @friends.count %>)</span></h3>
            </div>
            <div class="panel-body mini-friends-body">
              <div class="row">
                <%= render partial: 'friendings/mini_friend', collection: @friends %>
              </div>
              <%= link_to 'See More Friends', user_friends_path, id: 'see-more-friends', class: 'col-xs-6 col-xs-offset-4 underline' %>
            </div>
          </div><!-- end-mini-friends-panel -->
        </div><!-- end-left-column-->
        <div class="col-xs-7"><!-- begin-right-column-->
          <div class="panel panel-default"><!-- begin-new-post-panel -->
            <div class="panel-heading">
              <h3 class="panel-title center-text center-text">Post</h3>
            </div>
            <% if current_user == @user || current_user.friends_with?(@user) %>
              <%= form_for @post do |post_builder| %>
                <div class="panel-body">
                  <%= post_builder.text_area :post_text, placeholder: 'Tell the world something...', rows: 3, class: 'form-control' %>
                </div>
                <div class="panel-footer">
                  <%= post_builder.submit 'Post', class: 'btn btn-primary col-xs-offset-11' %>
                </div>
          </div><!-- end-new-post-panel -->
              <% end %>
            <% end %>
            <%= render partial: 'post', collection: @posts, :locals => { user: @user } %>
            <%#= render partial: 'static_pages/timeline_filler' %>
        </div><!-- end right-column-->
      </div><!-- end timeline-row-->
    </div>
  </div><!--row-->
</main>
