<div class="container">
  <div class="row" id="cover-photo">
    <div class="col-sm-10 username">
      <a href="#"><%= image_tag("harry_potter_small.jpg", id: "profile-pic") %></a>
      <h1>Harry Potter</h1>
    </div>
  </div>
  <div class="row link-bar">
    <div class="col-sm-7 col-sm-offset-2" role="navigation">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation"><%= link_to "Timeline", root_path %></li>
        <li role="presentation"  class= "active-tab"><%= link_to "About", user_profile_path(user, user.profile) %></li>
        <li role="presentation"><%= link_to user_photos_path(@user.id) do %>
            Photos <span class="small-grey">(123)</span>
          <% end %></li>
        <li role="presentation"><%= link_to user_friends_path(@user.id) do %>
          Friends <span class="small-grey">(542)</span>
        <% end %></li>
      </ul>
    </div><!-- Nav Menu -->
  </div><!-- Link bar -->
</div> <!-- Banner Container -->
