<div class="container">

  <div class="row">

    <article class="top-main-section">

      <% if find_current_page_user.profile.cover_photo_id.present? && Photo.exists?(find_current_page_user.profile.cover_photo_id) %>
        <div id="cover-photo">
          <%= image_tag Photo.find(find_current_page_user.profile.cover_photo_id).photo.url(:large), class: "cover-photo-image" %>
        </div>
      <% else %>
        <div id="empty-cover-photo">
          <p>No Photo Selected</p>
        </div>

      <% end %>

      <nav>

        <table class="timeline-links">
          <tr>
            <td class="link-wrapper empty"></td>
            <td class="first-link link-wrapper timeline-link <%= add_gray_background_if(user_timeline_path) %>">
              <%= link_to "Timeline", user_timeline_path, data: { turbolinks: false }, class: "link" %>
            </td>
            <td class="link-wrapper about-link <%= add_gray_background_if(user_profile_path) %>">
              <%= link_to "About", user_profile_path, class: "link" %>
            </td>
            <td class="link-wrapper photos-link <%= add_gray_background_if(user_photos_path) %>">
              <%= link_to "Photos(#{photo_count(find_current_page_user)})", user_photos_path, class: "link" %>
            </td>
            <td class="link-wrapper friends-link <%= add_gray_background_if(user_friends_path) %>">
              <%= link_to "Friends(#{friend_count(find_current_page_user)})", user_friends_path, class: "link" %>
            </td>
            <td class="edit-profile-link link-wrapper">
              <%= link_to "Edit Profile", edit_user_profile_path, class: "link" %>
            </td>
          </tr>
        </table>

      </nav>

      <div class="name-pic-block">

        <% if find_current_page_user.profile.profile_photo_id && Photo.exists?(find_current_page_user.profile.profile_photo_id) %>
          <div id="profile-pic">
            <%= image_tag Photo.find(find_current_page_user.profile.profile_photo_id).photo.url(:medium), size: '200x200' %>
          </div>
        <% else %>
          <div id="empty-profile-pic">
            <p>No Photo Selected</p>
          </div>
        <% end %>
        <h1 id="profile-name"> <%= user.profile.name %></h1>
        <%= render partial: 'shared/friend_unfriend_button', locals: { current_user: @current_user,
                                                                             friend: find_current_page_user
                                                                           } %>
      </div>

    </article>

  </div>

</div>
