<%= render "shared/hero" %>

<header class="row">
  <div class="col-md-offset-2 col-md-8 about-header">
    <h2>Edit Profile</h2>
  </div>
</header>

<%= form_for @profile, {:url => { :action => :update }} do |f| %>
  <div class="row">
    <div class = "col-md-6">
      <h3>Basic Information</h3>
      <table class="table">
        <tr>
          <td>Birthday:</td>
          <td><%= @user.birthday %></td>
        </tr>
        <tr>
          <td>College:</td>
          <td><%= f.text_field :school, :class => "form-control" %></td>
        </tr>
        <tr>
          <td>Hometown:</td>
          <td><%= f.text_field :hometown, :class => "form-control" %></td>
        </tr>
        <tr>
          <td>Currently Lives:</td>
          <td><%= f.text_field :current_town, :class => "form-control" %></td>
        </tr>
      </table>

      <h3>Contact Information</h3>
      <table class="table">
        <tr>
          <td>Email:</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td><%= f.telephone_field :phone_number, :class => "form-control" %></td>
        </tr>
      </table>
    </div>

    <div class="form-group col-md-6">
      <h3>Words to live by</h3>
      <%= f.text_area :quotes, :class => "form-control", rows: 3 %>
      <h3>About me</h3>
      <%= f.text_area :about, :class => "form-control", rows: 9 %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.submit 'Save Changes', :class => "btn btn-block btn-danish" %>
    </div>
  </div>

<% end %>