  <main>
    

      <%= render partial: '/shared/nav_menu' %>

      <section class="panel panel-default panel-custom">
        <div class="panel-heading clearfix">
          <!-- <a href="#" class="btn btn-primary btn-sm pull-right">Edit your profile</a> -->
          <h4 class="panel-text text-center">Edit Profile</h4>


        </div>
        <div class="panel-body">
          <div class="row about-info dark-inputs">
            <div class="col-sm-5">
              <h3>Basic Information</h3>
              <%= simple_form_for @profile, url: profile_path(@profile) do |f| %>


              <%= f.input :birthday, disabled: true, class: 'form-inline', hint: 'You cannot change your birthday' %>
              <%= f.input :college, placeholder: "College" %>
              <%= f.input :hometown, placeholder: "Hometown" %>
              <%= f.input :current_town, placeholder: "Current Town" %>

              <h3>Contact Information</h3>
              


              <%= f.input :email, disabled: true, hint: "You cannot change your email" %>
              <%= f.input :telephone, placeholder: "Phone Number" %>
            </div>
            <div class="col-sm-7">
              <div>
                <h3>Words to Live By</h3>
                <%= f.input :words_to_live_by, as: :text %>
              </div>
              <div>
                <h3>About Me</h3>
                <%= f.input :about_me, as: :text %>
              </div>
              <div>
                <%= f.input :profile_pic, as: :file %>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2" >
              <%= f.button :submit, "Save", html: {class: "btn btn-primary btn-block btn-lg"} %>
              <% end %>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

</main>