<main>

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-sm-offset-2 col-sm-8 about-header">
        <h2>Edit Profile</h2>
      </div>
    </header>


    <%= form_for [@user, @profile], class: "row" do |profile_fields| %>
      <div class = "col-sm-5 col-sm-offset-1">
        <h3>Basic Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Birthday:</td>
            <td><%=@profile.birthday%></td>
          </tr>
          <tr>
            <td>College:</td>
            <td><%=profile_fields.text_field :college, class: "form-control"%></td>
          </tr>
          <tr>
            <td>Hometown:</td>
            <td><%=profile_fields.text_field :hometown, class: "form-control"%></td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td><%=profile_fields.text_field :currently_lives, class: "form-control"%></td>
          </tr>
        </table>

        <h3>Contact Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Email:</td>
            <td><%=@user.email%></td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td><%=profile_fields.text_field :telephone, class: "form-control"%></td>
          </tr>
        </table>

      </div>

      <div class = "col-sm-5">
        <h3>Words to live by</h3>
        <%=profile_fields.text_area :words_to_live_by, rows: 3, class: "form-control"%>
        <h3>About me</h3>
        <%=profile_fields.text_area :about_me, rows: 9, class: "form-control"%>
      </div>

      <div class="form-group col-sm-6 col-sm-offset-3">
        <%=profile_fields.submit "Save Changes!", class: "btn btn-lg btn-block btn-default", id: "save-profile"%>
      </div>
    <% end %>
  </section>

</main>

