<%= content_for :usernav, true %>

<section id="about" class="post col-xs-12">
  <div class="row">
    <header class="post-header col-xs-12">
      <h2>About</h2>
    </header>
  </div>
  <div class="row">
    <section class="post-content col-xs-12">
      <div class="row">
        <%= form_for [current_user, current_user.profile] do |f| %>
        <div class="information col-md-5">

          <h3>Basic Information</h3>
          <dl>
            <dt><%= f.label :birthday, "Birthday:" %></dt>
            <dd>
              <div class="row">
                <%= f.date_select :birthday,
                { start_year: Date.current.year,
                  end_year: 100.years.ago.year,
                  prompt: { day: 'Birth Day', month: 'Birth Month', year: 'Birth Year' },
                },
                {class: 'form-control', required: "true"} %>
              </div>
            </dd>

            <dt><%= f.label :college, "College:" %></dt>
            <dd><%= f.text_field :college, class: 'form-control' %></dd>

            <dt><%= f.label :hometown, "Hometown:" %></dt>
            <dd><%= f.text_field :hometown, class: 'form-control' %></dd>

            <dt><%= f.label :current_home, "Currently Lives:" %></dt>
            <dd><%= f.text_field :current_home, class: 'form-control' %></dd>

          </dl>

          <h3>Contact Information</h3>
          <dl>
            <dt>Email:</dt>
            <dd><%= current_user.email %> <%= link_to "edit", edit_user_path(current_user) %></dd>

            <dt><%= f.label :phone, "Telephone:" %></dt>
            <dd><%= f.text_field :phone, class: 'form-control' %></dd>
          </dl>

        </div>

        <div class="personality col-md-7">
          <%= f.fields_for :bio do |bf| %>
            <h3><%= bf.label :slogan, "Words To Live By" %></h3>
            <%= bf.text_area :slogan, class: 'form-control', rows: 5, value: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima natus assumenda, iste nesciunt odio dolorum. Eveniet accusamus, quis, esse dignissimos ex fuga est, excepturi ab non itaque nostrum quae." %>
            <h3><%= bf.label :about, "Words To Live By" %></h3>
            <%= bf.text_area :about, class: 'form-control', rows: 9, value: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tellus nisi, id condimentum dui tristique sed. Donec luctus eros quis ante consequat sagittis. Phasellus consectetur lectus ac lectus mattis vulputate. Maecenas non risus tellus. Proin ullamcorper, ex id iaculis scelerisque, odio dui posuere purus, sit amet viverra mi nibh sit amet risus. Duis tempor pretium arcu, ut dictum justo interdum pharetra. Suspendisse vulputate pellentesque massa, eu gravida diam semper ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra erat eget vulputate lacinia. Aenean in porta elit. Aenean egestas in urna id bibendum. Integer nec placerat metus." %>
          <% end %>
        </div>
        <div class="submit-button col-xs-12 col-md-6 col-md-offset-3">
          <%= f.submit "Save Changes", class: "btn btn-block btn-primary" %>
        </div>
        <% end %>
      </div>
    </section>
  </div>
</section>
