<main class = "container">

  <%= render :partial => 'shared/middle_navbar', locals: {:@user => current_user} %>

  <section id="about-section">
    <header>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <h2>About</h2>
        </div>
        <div class="col-xs-2">
          <%= link_to @profile ? edit_profile_path : new_profile_path do %>
            <button class= "btn btn-active", id= "edit-profile">
              Edit Your Profile
            </button>
          <% end %>
        </div>
      </div>
    </header>


    <div class="row about-info">
      <div class="col-sm-5 col-sm-offset-1">
        <h3>Basic Information</h3>

        <div class="row">
          <div class = "col-xs-4">
            <b>Birthday:</b>
          </div>
          <div class = "col-xs-8">
            <%= current_user.birthday.to_formatted_s(:long) %>
          </div>
        </div>

        <div class="row">
          <div class = "col-xs-4">
            <b>College:</b>
          </div>
          <div class = "col-xs-8">
            <%= @profile ? @profile.college : "None" %>
          </div>
        </div>

        <div class="row">
          <div class = "col-xs-4">
            <b>Hometown:</b>
          </div>
          <div class = "col-xs-8">
            <%= @profile ? @profile.hometown : "None" %>
          </div>
        </div>

        <div class="row">
          <div class = "col-xs-4">
            <b>Currently Lives:</b>
          </div>
          <div class = "col-xs-8">
            <%= @profile ? @profile.current_home : "None" %>
          </div>
        </div>


        <h3>Contact Information</h3>

        <div class="row">
          <div class = "col-xs-4">
            <b>Email:</b>
          </div>
          <div class = "col-xs-8">
            <%= current_user.email %>
          </div>
        </div>

        <div class="row">
          <div class = "col-xs-4">
            <b>Telephone:</b>
          </div>
          <div class = "col-xs-8">
            <%= @profile ? @profile.mobile : "None" %>
          </div>
        </div>

      </div>

      <div class="col-sm-5">

        <h3>Words to live by</h3>
        <p>
          <%= @profile ? @profile.summary : "None" %>
        </p>

        <h3>About me</h3>
        <p>
          <%= @profile ? @profile.about : "" %>
        </p>
      </div>
    </div>
    <br>
  </section>
</main>

<br>
