<main class="container">
  <div class="row">
    <!-- Main photo -->
    <section>
      <div class="jumbotron"></div>
    </section>
  </div>

    <!-- Profile photo -->
  <div class="row">
    <section class="col-sm-4 img-responsive profile-pic">
      <%= image_tag 'harry_potter_small.jpg' %>
    </section>
  </div>

  <!-- Middle navigation links -->
  <div class="row">
    <section>
      <ul class="nav nav-pills middle-nav">
        <li role="presentation" class="img-bucket"></li>
        <li><%= link_to "Timeline", {}, {class: "clickable"} %></li>
        <li><%= link_to "About", {}, {class: "clickable"} %></li>
        <li><%= link_to "Photos", {}, {class: "clickable"} %></li>
        <li><%= link_to "Friends", {}, {class: "clickable"} %></li>
        <li><%= link_to "Edit Profile", edit_user_profile_path(@profile.user), {class: "navbar-right"} %></li>
      </ul>

    </section>
  </div>


  <!-- About bar -->
  <div class="navbar about-bar">
    <section>
        <h3 class="navbar-header about-text">About</h3>
        <%= button_to "Edit Profile", edit_user_profile_path(@profile.user), method: :get, class: "btn btn-primary navbar-right navbar-btn about-btn" %>
    </section>
  </div>


  <!-- Chunk of text below About nav-->
  <div class="row box-border">

    <!-- Left-hand chunk of text-->
    <section class="col-sm-5">
      <!-- Basic Information table -->
      <table class="table col-sm-offset-1">
      <thead>
      <tr>
        <th class="col-sm-6">Basic Information</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Birthday:</td>
        <td><%= @profile.user.birthday.strftime("%B %d, %Y") if @profile.user.birthday%></td>
      </tr>
      <tr>
        <td>College:</td>
        <td>Hogwarts College</td>
      </tr>
                <tr>
        <td>Hometown</td>
        <td>Godrick's Hollow, England</td>
      </tr>
                <tr>
        <td>Currently Lives:</td>
        <td>Godrick's Hollow, England</td>
      </tr>
      </tbody>
      </table>

      <!-- Contact Information table -->
      <table class="table col-sm-offset-1">
      <thead>
      <tr>
        <th class="col-sm-6">Contact Information</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Email:</td>
        <td><%= @profile.user.email %></td>
      </tr>
      <tr>
        <td>Telephone:</td>
        <td>555-123-4567</td>
      </tr>
      </tbody>
      </table>

    </section>

  <!-- Right-hand side text -->
    <section class="pull-right col-sm-6">
    <h3>Words to Live by</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h3>About Me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  </div>

  <div class="row bottom-spacer">
  <br>
  </div>

</main>