<section class="container main-header">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag 'hogwarts_small.jpg' %>
      <%= image_tag 'user_silhouette_generic.gif', class:"profile" %>
      <a class="title-name"><%= @user.profile.first_name %> <%= @user.profile.last_name %></a>
    </div>
  </div>

  <!-- nav links -->
  <div class="row nav-link-row">
    <div class="col-xs-2 nav-links">
      <a style="visibility: hidden"><p>test</p></a>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Timeline", user_timeline_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "About", user_profile_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <a href="/static_pages"><p>Photos</p></a>
    </div>
    <div class="col-xs-2 nav-links">
      <a href="/static_pages/new"><p>Friends</p></a>
    </div>
    <% if current_user == @user %>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Update Profile", edit_profile_path(current_user) %></p>
    </div>
    <% end %>
  </div>
</section>

<!-- content -->
<section class="container content">
  <div class="row title-header">
    <div class="col-xs-4 col-xs-offset-4">
      <p class="title">About</p>
    </div>
<!--     <div class="col-xs-4">
      <button type="button" class="btn btn-primary btn-sm edit-button">Edit your Profile</button>
    </div> -->
  </div>
  <div class="row content-space">

    <div class="col-xs-5 data-points">
      <h1>Basic Information</h1>
      <div class="row">
        <div class="col-xs-5">
          <p>Gender:</p>
          <p>Birthday:</p>
          <p>Hometown:</p>
          <p>Currently Lives:</p>
        </div>

        <div class="col-xs-7">
          <p><%= @profile.gender.titleize if @profile.gender%></p>
          <p><%= @profile.birthdate %></p>
          <p><%= @profile.hometown %></p>
          <p><%= @profile.current_residence %></p>
        </div>
      </div>

      <h1>Contact Information</h1>
      <div class="row">
        <div class="col-xs-5">
          <p>Email:</p>
          <p>Telephone:</p>
        </div>

        <div class="col-xs-7">
          <p><%= @user.email %></p>
          <p><%= @profile.telephone %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 data-strings">
      <h1>Words to Live By</h1>
      <p><%= @profile.words_to_live_by %></p>
      <h1>About Me</h1>
      <p><%= @profile.about_me %></p>
    </div>

  </div>

</section>