<%= render partial: 'shared/navbar' %>
<main>
  <header class = "container" id="cover">

    <%= render partial: 'shared/cover_images' %>

    <!--secondary navbar-->
    <%= render partial: 'shared/second_nav' %>

  </header>



<!-- THIS PART CHANGES PAGE BY PAGE -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-md-offset-2 col-md-8 about-header">
        <h2>About</h2>
      </div>
      <% if current_user %>
        <form class="col-md-2 about-header" action="about_edit.html">
          <div class="form-group">
            <%= link_to "Edit your Profile", edit_user_profile_path(current_user), class: 'btn btn-default', id: 'edit-profile-button' %>
          </div>
        </form>
      <% end %>
    </header>


    <div class = "row">
      <div class = "col-md-5 col-md-offset-1">
        <h3>Basic Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Birthday:</td>
            <td><%= current_user.profile.month %></td>
          </tr>
          <tr>
            <td>College:</td>
            <td><%= current_user.profile.college if current_user.profile.college %></td>
          </tr>
          <tr>
            <td>Hometown:</td>
            <td><%= current_user.profile.hometown if current_user.profile.hometown %></td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td><%= current_user.profile.current_city if current_user.profile.current_city %></td>
          </tr>
        </table>

        <h3>Contact Information</h3>
        <table class = "table about-table">
          <tr>
            <td>Email:</td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td><%= current_user.profile.telephone if current_user.profile.telephone %></td>
          </tr>
        </table>

      </div>

      <div class = "col-md-5">
        <h3>Words to live by</h3>
        <p><%= current_user.profile.words_to_live_by %></p>
        <h3>About me</h3>
        <p><%= current_user.profile.about_me %></p>
      </div>
    </div>
  </section>

</main>