<%= render "shared/search_navbar" %>
<%= render "shared/profile_header" %>

<div class="container">
  <div class="row about-user-section">
    <div class="col-md-12">
      ABOUT
    </div>
  </div>
  <div class="row basic-and-words-to-live">
    <div class="col-md-4 basic">
      <%= @profile.id%>
      <%= @profile.current_location %>
      <%= @profile.telephone %>
      <%= @profile.user.first_name %>
      <%= @profile.user.last_name %>
      Basic
    </div>

    <div class="col-md-8 words-to-love">
      Words to Live by
    </div>
  </div>
</div>