  <main>
    <div class="container">
      <%= render partial: 'shared/cover' %>
      <%= render partial: '/shared/nav_menu' %>

    <section class="timeline-wrap">
      <div class="row">

        <div class="col-md-4">
          <%= render partial: '/profiles/timeline_partials/photos_panel' %>
          <%= render partial: 'profiles/timeline_partials/friends_panel' %>
        </div> <!--col-md -4 -->
        <div class="col-md-8">
          <% if current_user %>
          <%= render partial: 'profiles/timeline_partials/new_post' %>
          <% end %>
          <% @posts.each do |p| %>
            <%= render partial: 'profiles/timeline_partials/post', :locals => {:p => p} %>
          <% end %>
        </div> <!-- col-md -8 -->
    </section>
  </div> <!-- end of container -->
</main>
