<div class = "homepage">
<nav class="navbar navbar-fixed">
<section class="container-fluid">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#slide-out">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Danebook</a>
	</div>

	<div class="collapse navbar-collapse" id="slide-out">
		<%= form_tag session_path, class: "navbar-form navbar-right", method: :post do %>
			<section class="form-group inline-form">
				<%= label_tag 'Name', class: 'form-group' do %>
					Name
					<%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Username' %>
				<% end %>

				<%= label_tag 'Email', class: 'form-group' do %>
					Email
					<%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email'  %> 
				<% end %>

				<%= label_tag 'Password', class: 'form-group' do %> 
					Password
					<%= password_field_tag :password_digest, nil, class: 'form-control', placeholder: 'Password'  %>
				<% end %>

				<%= submit_tag "Log In", class: 'btn btn-info'  %>
			</section>
		<% end %> 
	<br>
	</div><!-- /.navbar-collapse -->

</section><!-- /.container-fluid -->
</nav>