<!-- Navbar -->
<nav id="navbar" class="navbar navbar-default">

  <div class="container">

    <!-- Navbar Header and Toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Danebook", root_path, {class: 'navbar-brand'} %>

    </div>

    <!-- Sign In Form -->
    <div id="navbar-collapse" class="collapse navbar-collapse">

      <div id="navbar-signin" class="navbar-form form-inline navbar-right">

        <%= form_tag session_path do %>

          <%= label_tag :email %>
          <%= text_field_tag :email, nil, class: 'form-control' %>

          <%= label_tag :password %>
          <%= text_field_tag :password, nil, class: 'form-control' %>

          <%= label_tag "Remember me?" %>
          <%= check_box_tag :remember_me %>

          <%= submit_tag "Login", class: 'btn btn-default' %>

        <% end %>
      </div>

    </div>

  </div>

</nav>