<%= form_for user, class: "form-group" do |user_fields| %>
  <div class="row">
    <%= user_fields.fields_for :profile, Profile.new do |profile_fields| %>
      <div class="col-sm-6">
        <%= profile_fields.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      </div>
      <div class="col-sm-6">
        <%= profile_fields.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>
      <div class="col-sm-12">
        <%= user_fields.email_field :email, placeholder: "Your Email", class: "form-control" %>
      </div>
      <div class="col-sm-12">
        <%= user_fields.password_field :password, placeholder: "Your New Password", class: "form-control" %>
      </div>
      <div class="col-sm-12">
        <%= user_fields.password_field :password_confirmation, placeholder: "Confirm Your Password", class: "form-control" %>
      </div>
      <div class="col-sm-12">
        <%= profile_fields.label :birthday, "Birthday" %>
        <br>
        <%= profile_fields.date_select(:birthday_year, 
                                       :order => [:month, :day, :year], 
                                       :start_year => 1900, 
                                       :end_year => Date.today.year - 18, 
                                       class: "form-control") %>
      </div>
      <div class="col-sm-12">
        <%= profile_fields.radio_button(:gender, "male") %>
        <%= label :gender_male, "Male" %>
        <%= profile_fields.radio_button(:gender, "female") %>
        <%= label :gender_female, "Female" %>
      </div>
      <div class="col-sm-12">
        <%= user_fields.submit "Sign Up", class: "btn btn-lg btn-success full-width center-block" %>
      </div>
    <% end %>
  </div>
<% end %>