<main class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Log in to access your account</h1>
      <%= form_for :session, url: login_url do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit 'Submit' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>