<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1>
                Danebook
            </h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <%= form_tag session_path do %>
            <%= label_tag do %>
            Email
            <%= email_field_tag :email %>
            <% end %>

            <%= label_tag do %>
            Password
            <%= password_field_tag :password %>
            <% end %>

            <%= label_tag do %>
            Remember me?
            <%= check_box_tag :remember_me %>
            <% end %>

            <%= submit_tag "Enter the Danebook", :class => 'btn btn-primary'  %>
            <% end %>

            <%= button_to "Sign Up", root_url, :class => "btn btn-success", method: :get %>
        </div>
    </div>
</nav>
