<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <br><br><br><br><br>
    <h1> Login </h1>

    <%= form_tag session_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <br>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br>
      <%= submit_tag "Log in" %>
    <% end %>

  </div>
</div>