<main class="main photos-wrapper">
  <%= render partial:'shared/profile_header_and_links', locals: { user: @current_user } %>

  <div class="container">

    <div class="row bar-div">
      <header class="bar">
        <h1 class="photos-heading photos-title">Photos</h1>
        <%= button_to "Add Photo", photos_path, method: :get, :class => "photos-heading white-text edit pull-right" %>
      </header>
    </div>

    <div class="row photos-border">

      <%= render 'shared/photos/column' %>
      <%= render 'shared/photos/column' %>
      <%= render 'shared/photos/column' %>
      <%= render 'shared/photos/column' %>

    </div>

  </div>
</main>
