<div id="main">

  <div id="db_bar">
     <span style="position:absolute;margin-top:20px;">Danebook</span>
  </div>
  
  <div id="login_bar">
    <p>
      <%= form_for(@user, url: session_path) do |user_fields| %>
        <table id="login">
          <tr>
            <td><%= user_fields.label 'Email' %> </td>
            <td><%= user_fields.label 'Password'%></td> 
            <td></td>
          </tr>
          <tr>
            <td> <%= user_fields.text_field :email, placeholder: "email",
                 class: "form_control"  
                 %> 
            </td>
            <td> <%= user_fields.password_field :password, placeholder: "password",
                    class: "form_control"
                  %>
            </td>
            <td> <%= user_fields.submit "Log In", class: "btn btn-info" %></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="keep_logged_in">Keep me logged in</td>
            <td><a href="dummy_url" id="hover_link">Forgot your password?</a></td>
          </tr>
        </table>
      <% end %>
    </p>
  </div>