<h1>Hello <%= @friend.full_name %></h1>

<p><%= @user.full_name %> wants to be you friend on Danebook!</p>

</p>Checkout <%= @user.full_name %> 's Profile: <%= @user_url %></p>

</p>Accept: <%= @accept_url %></p>
</p>Decline: <%= @decline_url %></p>

</p>Thanks for being part of the Danebook Community!!</p>