<div class="row">
	<div class="col-xs-12">
		<div class="row timeline-post-comment">
			<div class="col-xs-12">
				<!-- Top section of a post -->
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-sm-1">
								<%= image_tag "default_photo.png" %></img>
							</div>
							<div class="col-sm-5">
								<div>
								<h4><%= link_to comment.author.full_name, comment.author %></h4>
								<h6>Said on <%= comment.posted_on %></h6>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<%= comment.body %>
							</div>
						</div>
						<div class="row">
						    <% if current_user %>
								<div class="col-sm-1">
									<%= display_like_or_unlike_button(comment) %>
								</div>
							<% end %>
							<% if current_user && current_user.id == comment.user_id %>
								<div class="col-sm-1">
								    <%= link_to "Delete", comment, method: "delete" %>
								</div>
							<% end %>
							<% if comment.likes.count > 0 %>
								<div class="col-sm-5">
									<%= present_likes_count(comment) %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
