
<div class="panel panel-default panel-styler" 
     id="comment-panel-<%= comment.id %>">
  <div class="panel-body panel-body-style basic-margin">
    <div id="comment-<%= comment.id %>" 
         style="clear:both;text-align:left;font-size:1.0em;">  
      <%= comment.body %>
      
      <p>
        <%= likeable_like_unlike_link(comment) %>
        <% if current_user.id == comment.user_id %>
           <%= link_to "Delete", comment_path(comment.id, user_id: comment.user_id), method: :delete, :remote => true %>
        <% end %>   
      </p>

    </div>
  </div>
</div>    
  