<div class="comment row">
  <div class="col-xs-12">
    <div class="row">
      <%= image_tag("harry_potter_small.jpg", :alt => "Harry Potter", :class => "col-xs-2 post-picture") %>
      <div class="col-xs-10">
        <h5><%= link_to comment.author.name, user_path(comment.author) %> commented <%= time_ago_in_words(comment.created_at) %> ago</h5>
        <p><%= comment.content %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <%= like_button(comment, comment.commentable) %>
        </div>
        <div class="pull-left">
          <%= likes_count(comment) %>
        </div>
        <% if current_user && comment.author == current_user %>
          <div class="pull-right">
            <%= link_to "Delete", post_comment_path(comment.commentable, comment), method: "DELETE", data: { confirm: "Are you sure you want to delete this post?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>