<article class = "feed-posts">
  <div class="row">
    <div class="col-xs-2">
      <%=image_tag "user_silhouette_generic.gif", width: "50px", height: "50px" %>
    </div>
    <div class="col-xs-10">
      <p><%= link_to comment.user.full_name, user_path(comment.user.id) %></p>
      <p class="date-posted">Posted on <%=comment.created_at %></p>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-12 post-body">
      <p><%=comment.body%></p>
    </div>
  </div>

  <div class = "row">
    <footer class="col-md-12 like-section">
      <div class = "row">
        <%= like_or_unlike_link(comment) %>
        <a class="col-xs-2" href="#">Comment</a>
        <a class="col-xs-1 col-xs-offset-6" href="#">Delete</a>
      </div>
    </footer>
  </div>
</article><!--First comment end-->