<div class="comment-section">

  <div class="row comment">

    <div class="comment-pic col-xs-2">
      
      <%=image_tag comment.avatar.photo.url(:thumb)%>
      
    </div>

    <div class="comment-author col-xs-10">

      <%= link_to comment.author.full_name, user_profile_path(comment.author) %>   <%= comment.posted_on %>

    </div>

    <div class="col-xs-10 comment-content">

      <p><%= comment.body %></p>

      <p>  

      <%if current_user.likes?(comment)%>
        <%=link_to "Unlike", likes_path(user_id: current_user.id, liking_id: comment.id, liking_type: comment.class), method: 'delete' , class: "col-sm-2"%>
      <%else%>
        <%=link_to "Like", likes_path(liking_id: comment.id, liking_type: comment.class), method: 'post' , class: "col-sm-2"%>
      <%end%>
       
      

      <% if current_user && current_user.id == comment.user_id %>
       
            <%= link_to "Delete", comment, method: "delete", class: "col-sm-2 like-btn pull-right" %>
        
      <% end %>

      </p>

    </div>

  </div>
</div>
