<div class="comment-form" data-id="<%=commentable.class.to_s%>-<%=commentable.id%>">
  <%= form_for Comment.new, remote: true, class: "form-group" do |comment_fields| %>
    <div class="col-sm-12">
      <%= comment_fields.text_area :body, placeholder: "Write a comment", class: "form-control" %>
    </div>
    <div class="col-sm-12 submit-bar">
      <%= comment_fields.hidden_field :user_id, value: current_user.id %>
      <%= comment_fields.hidden_field :commentable_id, value: commentable.id %>
      <%= comment_fields.hidden_field :commentable_type, value: commentable.class.to_s %> 
      <%= button_tag 'Cancel', :type => 'reset' %>
      <%= comment_fields.submit "Comment", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>