<div class="col-sm-12 combox">

  <% post.comments.includes(:likes).each do |comment| %>

  <div class="col-sm-2 posted-by">
    <img src="https://www.blastr.com/sites/blastr/files/styles/blog_post_media/public/dawn_apes_caesar.jpg?itok=-jHgIwlD">
  </div>
  <div class="col-sm-10 posted-name">
    <p>
      <%= comment.user.profile.full_name %>
      <br>
      Commented on <%= comment.created_at.to_date %>
    </p>
  </div>
  <div class="col-sm-12">
    <p class="post-text">
      <%= comment.body %>
    </p>
    <div class="col-sm-1 ">
      <%= like_button(comment) %>
    </div>
    <div class="col-sm-8">
      <span class="grey"><%= Like.display_likes_msg(comment) %></span>
    </div>
    <% if current_user == comment.user %>
      <div class="col-sm-1 col-sm-offset-8">
        <%= link_to "Delete", comment_path(comment.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <% end %>

  <%= render partial: "comments/comment_form", locals: { post: post } %>
</div>