<div class="col-xs-12">
  <div class="row timeline-post-comment">
    <div class="col-xs-12">
      <!-- Top section of a post -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <!-- <div class="col-sm-1">
              <%= image_tag "default_photo.png" %>
            </div> -->
            <div class="col-sm-5">
              <div>
              <h4><%= link_to comment.user.full_name, user_profiles_path(comment.user)   %>
              <h6><%= comment.created_at %></h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= comment.body %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- In application_helper -->
              <%= like_links(comment) %>
            </div>
            <div class="col-sm-8">
              <%= user_like_info(comment) %>
              <% if comment.user_id == current_user.id%>
                <div class="col-sm-1 col-sm-offset-4 timeline-comment-delete">
                <%= link_to "Delete", comment_path(comment), method: :delete %>
              <% end %>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>