<div class="row comment">
  <img class="col-xs-2" src='<%= asset_path('ron.jpg') %>'>
  <p class="col-xs-10 comment-heading"><%= link_to comment.user.profile.name, '#', class: 'underline' %></p>
  <%= content_tag(:p, comment.comment_text, class: 'col-xs-10') %>
  </p>
  <!-- <a class="col-xs-1 col-xs-offset-2 underline" href="#">Like</a> -->
  <!-- <p class="col-xs-8 grey"> 3 other people like this</p> -->
  <% unless comment.likes.map(&:user).include?(current_user) %>
    <%= link_to 'Like', comment_likes_path(comment), method: :post, class: 'col-xs-1 underline' %>
  <% else %>
    <%= link_to 'Unlike', like_path(comment.likes.where("user_id=#{current_user.id}").first), method: :delete, class: 'col-xs-1 underline' %>
  <% end %>
  <%= link_to 'Delete', comment_path(comment), method: :delete, class: 'col-xs-1 col-xs-offset-8 underline' if comment.user == current_user %>
  <%= content_tag(:p, construct_like_sentence(comment.likes), class: 'col-xs-8 top-margin-10') if comment.likes.any? %>
</div>
