
  <%= form_for(Comment.new,
                method: "post",
                class: "panel panel-default 
                        panel-style container-border") do |comment_fields| %>
    THIS USER IS <%= @user.id %>
    <%= comment_fields.hidden_field :user_id, value: current_user.id %>
    <%= comment_fields.hidden_field :commentable_type, value: commentable.class %>
    <%= comment_fields.hidden_field :commentable_id, value: commentable.id %>

    <div class="panel-body panel-body-style basic-margin">
      <%= comment_fields.text_area :body, placeholder:"Comment", class: "form-control",
          rows: 1 %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-info btn-xs comment-button">
              Comment
      </button>
    </div>
  <% end %>