<% if post.has_comments? %>
  <% post.comments.order(created_at: :asc).each do |comment| %>
    <div class="comment">
      <header>
        <div class="image-container">
          <%= display_headshot(comment.user) %>
        </div> <!-- image-container -->
        <p><%= link_to comment.user.display_name, comment.user %></p>
        <p class="posted">Said on <%= comment.created_at.to_date %></p>
      </header>
      <section><%= comment.id %>: <%= comment.body %>

      <%= display_comment_like_unlike(comment) %>
      <%= render 'shared/likes', object: comment %>
      </section>
      <div class="right-side-links">
        <%= link_to 'Delete Comment', user_post_comment_path(post.user, post, comment), method: :delete, data: {confirm: 'Are you sure you want to delete this comment?'} if policy(comment).destroy? %>
      </div><!-- right-side-links -->

    </div><!-- comment -->

  <% end %>
<% end %>
