<%= form_for [comment.commentable, Comment.new] do |comment| %>
  <div class="media-left">
    <%= image_tag("default_image.jpg", class: "comment-picture") %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <%= comment.text_field :content, placeholder: "Write your comment here", class: "comment-text form-control", 'aria-label'=> "basic-addon1" %>
    <%= comment.submit "Comment on Post", class: "btn btn-success" %>
    <%= form_for [comment, comment.likes.build] do |like| %>
      <%= like.hidden_field :user_id, value: current_user.id %>
      <%= like.submit "Like", class: "btn btn-primary"%>               
    <% end %>
  </div>
<% end %>