<% comments.each do |comment| %>
  <div class="section-outline">
    <div class="row comment-title"> 
      <div class="col-md-1">
        <%= image_tag("harry_potter_small.jpg", size: "30x30") %>
      </div>
      <div class="col-md-11">
         <!-- %= link_to "#{comment_user_fullname(comment)}", user_path(comment.user) %> -->
        <p>Said on <%= comment.created_at %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= comment.body %></p>
      </div>
    </div>
  </div>
  <div class="row comment-links last-post">
    <div class="col-md-10">
      <% if current_user_liked?(photo) %>
        <%= link_to "Unlike", like_path(Like.find_by(user: current_user, likeable: photo)), method: 'delete' %>
      <% else %>
         <%= link_to "Like", likes_path(:like => {:likeable_id => photo.id, :likeable_type => photo.class.name} ), method: 'photo' %>
      <% end %>
    </div>
    <div class="col-md-2">
     <!--  %= link_to "Delete", comment_path(comment),
           data: { confirm: "Are you sure?" },
            method: :delete %> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if count_likes(photo) > 0 %>
          <p>
            <%= " likes this" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
