<% comments.each do |comment| %>
  <%= render partial: '/shared/author_thumbnail', locals: { resource: comment } %>
  <br>
  <div class="inner-comment-body">
    <p><%= comment.body %></p>
    <br>
      <%= render partial: 'shared/display_likes', locals: { resource: comment } %>
      <% if current_user == comment.user %>
        <%= link_to "Delete", comment_path(current_user, comment),
                              method: :delete,
                              class: "pull-right",
                              data: {
                                confirm: "Are you sure you would like to delete this resource? This action cannot be undone"
                              } %>
      <% end %>
      <p><%= list_likes(comment, current_user) %></p>
  </div>

<% end %>
