<!--HERO-->
<div class="container">

  <header class="hero">
    <div class="avatar">
    </div>
    <div class="user-name">
      <div class="user-name-wrapper">
        <%= full_name_of_user(current_user) %>
      </div>
      <div class="clearfix"></div>
    </div>

    <%= render "shared/add_remove_friend_btn", :locals => {} %>

  </header>

  <!--SUB-NAVIGATION-->
  <%= render "shared/sub_navbar" %>

  <!--SECTION BAR-->
  <section class="nav-about">
    <h2>
      Friends
    </h2>
  </section>

  <!--FRIENDS GRID -->

    <main class="main-about">
      <div class="row">
          <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6">


          <div class="friend-box">
            <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
            <div class="friend-name">
              <%= link_to "#{user_full_name(user)}", user_path(user.id) %>
              <%= user.friended_users.count %> Friends
            </div>
            <%= render partial: "shared/add_remove_friend_small_btn", :locals => {:user_id => user.id } %>
          </div>

        </div>
          <% end %>
      </div>
    </main>

</div>
