<article class="col-sm-4">
  <div class="panel panel-default">

    <div class="row ">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <%= image_tag("user_silhouette_generic.png") %>
        </div>

        <div class="col-sm-8">
          <h4><%= link_to "#{friend.first_name} #{friend.last_name}", user_timeline_path(friend) %></h4>
          <h4><%= @user.friended_users.count %> Friend(s)</h4>
        </div>

      <% if current_user && current_user.friended_users.include?(friend) %>
        <div class="form-group text-center">
          <%= button_to "Remove Friend", user_friending_path(current_user, friend), method: :delete, class: "btn btn-primary" %>
        </div>

      <% elsif current_user && !current_user.friended_users.include?(friend) %>
        <div class="form-group text-center">
          <%= button_to "Add Friend", user_friending_path(current_user, friend), class: "btn btn-success" %>
        </div>

      <% end %>

      </div>
    </div>

  </div>
</article>