<%= render 'shared/signed_in_header' %>
<div class="container">
  <%= render 'shared/cover_main' %>
  <%= render 'shared/mid_navigation' %>


  <h1><%= @user.full_name %>'s Friends</h1>

  <div class="row">
   <%= render partial: "friends", locals: {friends: @friends} %>
  </div>
</div>