<% if @like.first.likeable_type.to_s == "Photo" %>
<% elsif @like.first.likeable_type.to_s == "Comment" %>
   $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").children().last().remove()

    $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").children().last().after("<div class='like-area'><div class='clearfix'><%= j(render :partial => 'likes', :locals => { :obj => Comment.find(@like.first.likeable_id) } ) %></div></div>")

<% else %>
  $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").siblings().children().first().remove()

  <% if Post.find(@like.first.likeable_id).user_id == current_user.id %>
    $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").siblings().children().first().remove()
  <% end %>

  $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").siblings().children().first().remove()

  $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").siblings().children().first().remove()


  $("#<%= @like.first.likeable_type.downcase %>-<%= @like.first.likeable_id %>").siblings().eq(0).prepend("<%= j(render :partial => 'likes', :locals => { :obj => Post.find(@like.first.likeable_id) } ) %>")
<% end %>