<div class = "panel panel-default" id="timeline-friend-box">
  <div class="panel-heading">
    <h2 class="panel-title">Friends (<%= friend_count %>)</h2>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-4  center-text">
        <% @left_col.each do |friend| %>
          <%= render partial: "friend_box_friend", locals: { friend: friend } %>
        <% end %>
      </div>
      <div class="col-sm-4  center-text">
        <% @center_col.each do |friend| %>
          <%= render partial: "friend_box_friend", locals: { friend: friend } %>
        <% end %>
      </div>
      <div class="col-sm-4  center-text">
        <% @right_col.each do |friend| %>
          <%= render partial: "friend_box_friend", locals: { friend: friend } %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-4">
        <a href="<%= user_friendships_path(@user) %>">See friends</a>
      </div>
    </div>
  </div>
<div>
