<header>

<!-- Navbar Container -->
  <%= render partial: 'nav' %>

  </header>

    <div class="container">
        <!-- Full Width Cover Photo -->
        <div class="row">
        <img id="cover-photo"  src="/assets/hogwarts_small.jpg" class="img-responsive col-md-12" alt="Responsive Cover">
        </div>
  
        <footer>
          <div class="row">

          <!-- Profile Pic -->
          <div class="img-wrapper col-md-3">
            <img id="profile-pic"  src="/assets/harry_potter_small.jpg" class="navbar-form" alt="Responsive Cover">
          </div>

          <!-- Navbar Links -->
          <div class="col-md-offset-3">

            <!-- Links listed -->
            <ul class="nav navbar-nav">
          <li class="btn btn-default btn-md"><%= link_to "Timeline", user_timeline_path(@user) %></li>

          <!-- Id selector 'Active' for current location -->
          <li class="btn btn-default btn-md" id="active"><%= link_to "About", @user %></li>
          <li class="btn btn-default btn-md"><%= link_to "Photos", user_photos_path(@user) %></li>
          <li class="btn btn-default btn-md"><%= link_to "Friends", user_friends_path(@user) %></li>
          </ul>
          <div class="pull-right">
            <% if current_user? %>
              <%= link_to "Edit Profile", edit_user_path(current_user) %>
            <% end %>
          </div>
        </div>

      </footer>
    </div>