<!-HEADER->


<div class="row">
  <header class="col-sm-12">
    <img src="images/user_silhouette_generic.gif" alt="profile-pic" class="">

    <h3 class="col-sm-offset-2">Harry Potter</h3>

  </header>  
</div>

<div class="row">
  <div class="toolbar">
    <div class="col-sm-offset-2 col-sm-1 menu-item">
      <b><%= link_to 'Timeline'%></b>
    </div>
    <div class="col-sm-1 menu-item active">
      <b><%= link_to 'About'%></b>
    </div>
    <div class="col-sm-1 menu-item">
      <b><%= link_to 'Photos'%></b>
    </div>
    <div class="col-sm-1 menu-item">
      <b><%= link_to 'Friends'%></b>
    </div>
    <div class="col-sm-offset-4 col-sm-2 menu-link">
      <%= link_to "Edit Profile", edit_user_path(@user), class: '' %>
    </div>
  </div>
</div>