<header>

<!-- Navbar Container -->
  <nav class="navbar navbar-default">
    <div class="container">

        <!-- Header Wrapper -->
      <div class="navbar-header">

       <!-- Collapses search and profile under toggle button -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

       <!-- Brand Logo -->
        <a class="navbar-brand" href="#"><img src="/assets/danish_flag.gif" class="logo"></a>
        <a class="navbar-brand">Danebook</a>
      </div>

     <!-- Input form & profile set to collapse -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

       <!-- Search Bar -->
        <form class="navbar-form navbar-left" role="search">
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for Users">
          </div>
        </form>
        <!-- Link to profile -->
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in_user? %>
            <li><%= link_to current_user.first_name, current_user %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    </header>

    <div class="container">
        <!-- Full Width Cover Photo -->
        <div class="row">
        <img id="cover-photo"  src="/assets/hogwarts_small.jpg" class="img-responsive col-md-12" alt="Responsive Cover">
        </div>
  
        <footer>
          <div class="row">

          <!-- Profile Pic -->
          <div class="img-wrapper col-md-3">
            <img id="profile-pic"  src="/assets/harry_potter_small.jpg" class="navbar-form" alt="Responsive Cover">
          </div>

          <!-- Navbar Links -->
          <div class="col-md-offset-3">

            <!-- Links listed -->
            <ul class="nav navbar-nav">
          <li class="btn btn-default btn-md"><%= link_to "Timeline", user_timeline_path(@user) %></li>

          <!-- Id selector 'Active' for current location -->
          <li class="btn btn-default btn-md" id="active"><%= link_to "About", current_user %></li>
          <li class="btn btn-default btn-md"><%= link_to "Photos", user_photos_path(@user) %></li>
          <li class="btn btn-default btn-md"><%= link_to "Friends", user_friends_path(@user) %></li>
      </ul>
      <div class="pull-right">
        <% if signed_in_user? %>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>

    </footer>
  </div>