<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1>
        Danebook
      </h1>
      <!--<div class="row">-->
      <!--  <div class="col-lg-2">-->
      <!--    <h1>Danebook</h1>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
<br>
<br>

    <div id="navbar" style="float: right;" >

      <%= form_tag session_path do %>

        <%= label_tag do %>
          Email
          <%= email_field_tag :email %>
        <% end %>

        <%= label_tag do %>
          Password
          <%= password_field_tag :password %>
        <% end %>

        <%= label_tag do %>
          Remember me?
          <%= check_box_tag :remember_me %>
        <% end %>

        <%= submit_tag "Enter the Danebook", :class => 'btn btn-primary'  %>

      <% end %>
      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <h6>
            Email
          </h6>
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <h6>
            Password
          </h6>
          <input type="password" placeholder="Password" class="form-control">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
        <!<div class="form-group">-->

        <!--</div>-->
      <!-- </form> -->


    </div><!--/.navbar-collapse -->
  </div>
</nav>
