<!-- Navbar -->
<nav id="navbar" class="navbar navbar-default">

  <div class="container">

    <!-- Navbar Header and Toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Danebook", timeline_path, {class: 'navbar-brand'} %>

    </div>

    <!-- Sign In Form -->
    <div id="navbar-collapse" class="collapse navbar-collapse">

      <form id="navbar-signin" class="navbar-form form-inline navbar-right">
        <% if signed_in_user? %>
          <%= "Hello, #{current_user.email}" %>
          <%= link_to "Logout", logout_path, :method => :delete %>
        <% else %>
          <%= form_tag users_path, :method => :get do %>

            <div class="form-group">
              <%= label_tag :email %>
              <%= text_field_tag :email, nil, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label_tag :password %>
              <%= text_field_tag :password, nil, class: 'form-control' %>
            </div>

            <div class='form-group'>
              <%= label_tag :remember_me, 'Remember me?' %>
              <%= check_box_tag :remember_me,  nil, class: 'form-control' %>
            </div>

            <%= submit_tag "Log in", class: 'btn btn-default' %>
          <% end %>
        <% end %>

      </form>

    </div>

  </div>

</nav>