<nav class="navbar navbar-default" id="login-nav">
  <div class="container">

    <h1>Danebook</h1>

    <%= form_tag session_path, class: 'navbar-form form-inline' do %>

      <div class="form-group">
        <%= label_tag nil, class: 'sr-only' do %>
          Email
        <% end %>
        <%= email_field_tag :email, '', class: 'form-control', placeholder: 'Email' %>

      </div>

      <div class='form-group'>
        <%= label_tag nil, class: 'sr-only' do %>
          Password
        <% end %>
        <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= label_tag do %>
          Remember me?
          <%= check_box_tag :remember_me %>
        <% end %>
      </div>

      <%= submit_tag "Enter the Danebook", class: 'btn btn-primary' %>

    <% end %>

  </div>
</nav>
