<% posts.each do |post| %>
  <article class="post-pane">
    <header class="row">
      <div class="col-xs-12">
        <%= image_tag("harry_potter_small.jpg", :alt => "Harry Potter", :class => "pull-left") %>
        <h3><%= link_to post.author.name, user_path(post.author) %></h3>
        <p>Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    </header>

    <section class="row">
      <div class="col-xs-12">
        <p><%= post.content %></p>
      </div>
    </section>

    <footer class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <%= like_button(post) %>
        </div>
        <% if current_user && post.author == current_user %>
          <div class="pull-right">
            <%= link_to "Delete", post_path(post), method: "DELETE", data: { confirm: "Are you sure you want to delete this post?" } %>
          </div>
        <% end %>
      </div>
      <%= likes_count(post) %>
    </footer>
    <% post.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
    <%= form_for(post.comments.build, {html: { :class => "comment" }, url: {post_id: post.id, controller: 'comments', action: :create }}) do |comment_fields| %>
      <section class="row">
        <%= comment_fields.text_area :content, :class => "form-control", rows: 3, placeholder: "What do you think about what #{post.author.name} said?" %>
        <%= comment_fields.submit 'Comment!', :class => "btn btn-large btn-danish btn-block" %>
      </section>
    <% end %>
  </article>
<% end %>
