 <% @user.posts.each do |post| %>
      <div class="comment-row row">
        <!-- Comment Wrapper -->
        <div class="comment-wrapper col-sm-12">
          <!-- Comment-Header -->
          <div class="comment-header row">
            <img src="/images/default_user.gif">
            <div class="profile-name">
              <%= link_to "#{@user.first_name} #{@user.last_name}", @user %>
              <span>Posted on <%= post.created_at %></span>
            </div>
          </div><!-- End Comment Header -->

          <div class="comment-content row">
            <%= post.body %>
          </div><!-- End Content Row -->

          <div class="comment-footer row">
            <div class="clearfix col-xs-12 post-like-delete">
              <% if current_user.liked_resource?(post) %>
                <%= link_to "Unlike", post_like_path(post, current_user.id_of_like(post)), method: :delete, class: "pull-left" %>
              <% else %>
                <%= link_to "Like", post_likes_path(post), method: :post, class: "pull-left" %>
              <% end %>
              <span class="pull-left">
                <%= post.likes.count unless post.likes.empty? %>
              </span>
              <% if current_user %>
                <%= link_to "Delete", post_path(post), method: :delete, class: "pull-right" %>
              <% end %>

            </div>

            <div class="col-xs-12">
              <% post.likes.each do |like| %>
                <span><%= like.author.first_name %></span>
              <% end %>
            </div>
          </div><!-- End Comment Footer -->

          <% post.comments.each do |comment| %>
            <div class="panel panel-default row">
              <div class="panel-heading">
                <%= link_to comment.author.first_name, user_path(comment.author) %>
                <span>Commented on <%= comment.created_at %></span>
              </div>
              <div class="panel-body">
                <%= comment.body %>
              </div>

              <div class="panel-footer clearfix">
                <% if current_user.liked_resource?(comment) %>
                <%= link_to "Unlike", comment_like_path(comment, current_user.id_of_like(comment)), method: :delete %>
                <% else %>
                  <%= link_to "Like", comment_likes_path(comment), method: :post %>
                <% end %>
                <%= comment.likes.count unless comment.likes.empty? %>
                <% if current_user == comment.author %>
                  <%= link_to "Delete", post_comment_path(post, comment), method: :delete, class: "pull-right" %>
                <% end %>
              </div>
            </div>

          <% end %>

          <div class="form-group row">
          <%= form_tag post_comments_path(post) do %>
            <div class="col-xs-12">
              <%= text_area_tag :comment_body, "", class: "form-control", placeholder: "Write a comment.." %>
            </div>
            <div class="col-xs-12">
              <%= submit_tag "Comment", class: "btn navbar-right btn-primary btn-sm" %>
            </div>
            <% end %>
          </div>

        </div><!-- End Comment Wrapper -->
      </div><!-- End Comment Container -->
      <% end %>