<div class="panel panel-default">

  <div class="panel-body">
    <div class="col-sm-4">
      <% if post.author.avatar.nil? %>
        <img src="/images/icon_photo_small.png" class="img-responsive thumbnail">
      <% else %>
        <%= image_tag post.author.image.url(:thumb), class: "img-responsive", alt: "missing photo" %>
      <% end %>
    </div>

    <div class="col-sm-5">
      <%= link_to post.author.full_name, post.author %>
      <br>
      <span>
        Posted on <%= post.created_at.strftime("%w %m/%d/%Y") %>
      </span>
    </div>

    <div class="col-sm-12">
      <p>
        <%= post.body %>
      </p>
    </div>
  </div>

  <div class="panel-footer">
    <% if current_user.liked_resource?(post) %>
      <%= link_to "Unlike", post_like_path(post, current_user.id_of_like(post)), method: :delete %>
    <% else %>
      <%= link_to "Like", post_likes_path(post), method: :post %>
    <% end %>
    <%= post.likes.size unless post.likes.empty? %>

    <% post.comments.each do |comment| %>
      <div class="row">
        <div class="col-xs-3">
          <% if comment.author.avatar.nil? %>
            <img src="/images/icon_photo_small.png" class="img-responsive thumbnail">
          <% else %>
            <%= image_tag comment.author.avatar.image.url(:thumb), class: "img-responsive", alt: "missing photo" %>
          <% end %>
        </div>

        <div class="col-xs-9">
          <%= link_to comment.author.full_name, comment.author %>
          <span>
            Said on <%= comment.created_at.strftime("%w %m/%d/%Y") %>
          </span>
          <br>

          <p>
            <%= comment.body %>
          </p>
        </div>

        <div class="col-xs-12">
          <% if current_user.liked_resource?(comment) %>
            <%= link_to "Unlike", comment_like_path(comment, current_user.id_of_like(comment)), method: :delete %>
          <% else %>
            <%= link_to "Like", comment_likes_path(comment), method: :post %>
          <% end %>
          <%= comment.likes.size unless comment.likes.empty? %>
        </div>

      </div>
    <% end %>

    <div class="row form-group">
      <%= form_tag post_comments_path(post) do %>
        <div class="col-xs-12">
          <%= text_area_tag :comment_body, "", class: "form-control", placeholder: "Write a comment.." %>
        </div>
        <div class="col-xs-12 clearfix">
          <%= submit_tag "Comment", class: "btn pull-right btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>