<div class="col-xs-12">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3>Basic Information</h3>
      <dl class="dl-horizontal bio">
        <dt>Birthday:</dt>
        <dd><%= user.birthday %></dd>
        <dt>College:</dt>
        <dd><%= user.profile.college %></dd>
        <dt>Hometown:</dt>
        <dd><%= user.profile.hometown %></dd>
        <dt>Currently Lives:</dt>
        <dd><%= user.profile.current_city %></dd>
      </dl>
      <h3>Contact Information</h3>
      <dl class="dl-horizontal bio">
        <dt>Email:</dt>
        <dd><%= user.email %></dd>
        <dt>Telephone:</dt>
        <dd><%= user.profile.telephone %></dd>
      </dl>
    </div>
    <div class="col-md-5">
      <h3>Word to Live By</h3>
      <p><%= user.profile.quote %></p>
      <h3>About Me</h3>
      <p><%= user.profile.about %></p>
    </div>
  </div>
</div>