<div class="col-xs-12">
  <div class="media" style="margin-top: 20px;">
    <div class="media-left">
      <a href="<%= user_path(current_user) %>">
        <% if current_user.avatar %>
          <%= image_tag current_user.avatar.photo.url(:thumb) %>
        <% else %>
          <%= image_tag "/images/harry_potter_profile.png", style: "height: 100px; width: 100px;"%>
        <% end %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to current_user.name, user_path(current_user) %></h4>
      <p><%= link_to "Edit Profile", edit_profile_path(current_user) %></p>
    </div>
  </div>

  <hr>
  <h3>Recently Active</h3>

</div>

<% @activities.each do |activity| %>
  <div class="col-xs-12">
    <div class="media" style="margin-top: 20px;">
      <div class="media-left">
        <a href="<%= user_path(current_user) %>">
          <% if activity.user.avatar %>
            <%= image_tag activity.user.avatar.photo.url(:thumb) %>
          <% else %>
            <%= image_tag "/images/harry_potter_profile.png", style: "height: 100px; width: 100px;"%>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to activity.user.name, user_path(activity.user) %></h4>
        <p><%= "#{activity.event} on #{activity.created_at.strftime("%A %m/%d/%Y %I:%M %p")}" %></p>
      </div>
    </div>
  </div>
<% end %>
