<%= form_for @user, html: {id: "sign-up-form"} do |user_fields| %>
  <h1 id="main-action">Sign up</h1>
  <div class="form-elements">
    <%= display_form_errors(@user, :email) %>
    <%= user_fields.text_field :email, placeholder: "Email", class: "wide-box" %>
    <%= display_form_errors(@user, :password) %>
    <%= user_fields.password_field :password, placeholder: "Your New Password", class: "wide-box" %>
    <%= display_form_errors(@user, :password_confirmation) %>
    <%= user_fields.password_field :password_confirmation, placeholder: "Confirm Your Pasword", class: "wide-box" %>

    <%= user_fields.submit "Sign Up!", id: "sign-up-button" %>
  </div>
<% end %>

<!--

<form id="sign-up-form" method="post">
  <h1 id="main-action">Sign up</h1>
  <div class="form-elements">
    <input id="first-name-box" class="smaller-input-box" type="text" placeholder="First Name">
    <input class="smaller-input-box" type="text" placeholder="Last Name">
    <input class="wide-box" type="text" placeholder="Email"><br>
    <input class="wide-box" type="password" placeholder="Your New Password"><br>
    <input class="wide-box" type="password" Placeholder="Confirm Your Password"><br>
    <label id="birthday" for="birthday"><strong>Birthday</strong></label><br>

    <%= select_month(14, prompt: 'Month') %>
    <%= select_day(prompt: "Day") %>
    <%= select_year(Date.today, start_year: 1920) %>

    <br>

    <input type="radio" name="gender" value="female">Female
    <input type="radio" name="gender" value="male">Male<br>
    <input type="submit" value="Sign Up!" id="sign-up-button">
  </div>
</form> -->
