<!-- Sign up form on right-hand side -->
<section class="col-sm-4 signup">

  <div> <!-- sign up form -->

    <%= form_for @user do |f| %>

      <div class="col-sm-6 form-group">
        <%= field_with_errors(@user, :first_name) %>
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      </div>

      <div class="col-sm-6 form-group">
        <%= field_with_errors(@user, :last_name) %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>        

      <div class="form-group">
        <%= field_with_errors(@user, :email) %>
        <%= f.text_field :email, class: "form-control", placeholder: "Your Email" %>
      </div>

      <div class="form-group">
        <%= field_with_errors(@user, :password) %>
        <%= f.password_field :password, class: "form-control", placeholder: "Your New Password" %>
      </div>

      <div class="form-group">
        <%= field_with_errors(@user, :password_confirmation) %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password" %>
      </div>


      <div class="row form-group">
        <div class="col-sm-12">
        <%= f.label :birthday %>
        <%= f.date_select :birthday, {:prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :start_year => 1900, :end_year => 2015}, {:class => 'form-control col-sm-2'}  %>
        </div>
      </div>


      <div class="form-group">
        <%= f.radio_button(:gender, "Male") %> Male 
        <%= f.radio_button(:gender, "Female") %> Female
      </div>


    <div class="form-group">
      <%= f.submit "Sign Up!", class: "btn btn-success btn-lg btn-block" %>
    </div>

  </form>

  <% end %>



  </div> <!-- sign up form -->

</section>