<%= render :partial => 'shared/profile_header', :locals => {:user => user} %>

<!-- Profile Page / Timeline -->
<section id="timeline" class="row profile-page-container row-offcanvas row-offcanvas-left">

  <!-- Details -->
  <div class="col-sm-4 details-container sidebar-offcanvas">

    <div class="row">

      <!-- About -->
      <section id="about" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            <%= user.name %>
          </h1>
        </header>
        <div class="about-container">
          <dl>
            <dt>Birthday:</dt><dd><%= user.birthday %></dd>
            <dt>College:</dt><dd><%= user.profile.college %></dd>
            <dt>Hometown:</dt><dd><%= user.profile.hometown %></dd>
            <dt>Currently Lives:</dt><dd><%= user.profile.currently_lives %></dd>
          </dl>
        </div>
      </section>

      <!-- Photos -->
      <section id="photos" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            Photos
          </h1>
        </header>

        <!-- Photo -->
        <div class="photos-container">

          <div class="row">
            
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>

            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>

            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/photos">
                <img src="/assets/images/icon_photo_small.png" alt="Photo"/>
              </a>
            </div>

          </div>

        </div>
        <footer>
          <a href="/photos">
            See More Photos
          </a>
        </footer>
      </section>

      <!-- Friends -->
      <section id="friends" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            Friends
          </h1>
        </header>
        <div class="friends-container">

          <div class="row">
            
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>

            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/images/user_silhouette_generic.gif.png" alt="Friend"/>
              <a href="#">
                Friend's Name
              </a>
            </div>

          </div>

        </div>
        <footer>
          <a href="/photos">
            See More Friends
          </a>
        </footer>
      </section>
    </div>

  </div>

  <!-- Timeline -->
  <div class="col-sm-7 col-sm-offset-1 timeline-container clearfix">

    <div class="pull-left visible-xs offcanvas-toggle-container">
      <button type="button" class="btn btn-primary offcanvas-toggle" data-toggle="offcanvas">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>

    <div class="row">

      <%# Render post form only if current user is this user %>
      <% if is_current_user?(user) %>

        <%= render :partial => 'posts/form', :locals => {:post => user.posts.build} %>

      <% end %>

      <!-- Posts -->
      <% if posts.present? %>
        <% posts.order(:created_at => 'DESC').each do |post| %>

          <%= render post %>

        <% end %>

      <% else %>

        <div class="no-posts col-xs-12">
          <article>
            <p class="text-warning">
              No posts yet!
            </p>
          </article>
        </div><!-- post col -->

      <% end %>

    </div><!-- row -->

  </div><!-- col -->

</section><!-- timeline row -->




