<div class="col-md-6 friend-list-entry">
  <div class="row">
    <div class="col-xs-3">
      <%= link_to(profile_photo(user, :medium, "img-responsive img-thumbnail"), user) %>
    </div>
    <div class="col-xs-6">
      <p><%= link_to user.name, user %></p>
      <p><%= "#{user.friends.count} friends" %></p>
      <p>Lives in <%= user.profile.current_town %></p>
      <p>From <%= user.profile.hometown %></p>
      <p>Born on <%= user.birthday.to_formatted_s(:long_ordinal) if user.birthday %></p>
    </div>
    <div class="col-xs-3">
      <%= friend_button(user) %>
      <%= decline_button(user, "btn btn-danish pull-right") %>
    </div>
  </div>
</div>