<section class="info-pane">
  <header class="row">
    <div class="col-md-12">
      About
    </div>
  </header>

  <div class="row">
    <section class="col-md-12">

      <p class="col-sm-6"><strong>Born on:</strong></p>
      <p class="col-sm-6"><%= @user.birthday %></p>

      <p class="col-sm-6"><strong>Went to school at:</strong></p>
      <p class="col-sm-6"><%= @user.profile.school %></p>

      <p class="col-sm-6"><strong>Hometown:</strong></p>
      <p class="col-sm-6"><%= @user.profile.hometown %></p>

      <p class="col-sm-6"><strong>Currently Lives:</strong></p>
      <p class="col-sm-6"><%= @user.profile.current_town %></p>

    </section>
  </div>

  <div class="row">
    <footer class="col-md-12">
      <%= link_to "More about #{@user.name}", user_profile_path(@user) %>
    </footer>
  </div>
</section>