<%= render partial: 'shared/header', locals: { user: @user } %>


<!-ABOUT->


<div class="row section-title">
  <h1 class="col-sm-offset-2 col-sm-8 text-center">About</h1>
  <% if @user == current_user %>
    <div class="col-sm-2 section-button">
        <%= link_to 'Edit Your Profile', edit_user_path(@user), class: 'pull-right btn btn-info' %>  
    </div>
  <% end %>

</div>

<div class="row">
  <div class="section-content col-sm-12">
       <div class="col-sm-5">
          <section>
              <h3>Basic Information</h3>
              <table class="table table-borderless">
                <tr>
                  <td>Birthday:</td>
                  <td><%= @user.birth_month %>/<%= @user.birth_date %>/<%= @user.birth_year %></td>
                </tr>
                 <tr>
                  <td>College:</td>
                  <td><%= @user.profile ? @user.profile.college : 'n/a' %></td>
                </tr>
                 <tr>
                  <td>Hometown:</td>
                  <td><%= @user.profile ? @user.profile.hometown : 'n/a' %></td>
                </tr>
                 <tr>
                  <td>Current Location:</td>
                  <td><%= @user.profile ? @user.profile.current_location : 'n/a' %></td>
                </tr>
              </table>
            </section>

            <section>
              <h3>Contact Information</h3>
              <table class="table table-borderless">
                <tr>
                  <td>Email:</td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td>Telephone:</td>
                  <td><%= @user.profile ? @user.profile.telephone : 'n/a' %></td>
                </tr>
              </table>
            </section>
        </div>

        <div class="col-sm-6 col-sm-offset-1">
          <section>
            <h3>Words to Live By</h3>
            <p><%= @user.profile ? @user.profile.words : 'n/a' %></p>
          </section>

          <section>
            <h3>About Me</h3>
            <p><%= @user.profile ? @user.profile.about_me : 'n/a' %></p>
          </section>
        </div>

  </div>
</div>
