<%= render partial: "shared/header", locals: { active: :about } %>

<main class="container">
  <div class="row timeline-left-column timeline-right-column">
    <div class = "panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Åbout</h2>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <h3>Basic Information</h3>
            <%= render "about_box" %>

            <h3>Contact Information</h3>
            <div class="row">
              <div class="col-sm-5">
                <strong>Email</strong>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <p><%= @user.email %></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <strong>Telephone</strong>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <p><%= @user.telephone if @user.telephone %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <h3>Wörds to Live By</h3>
            <p><%= @user.quote if @user.quote %></p>

            <h3>Åbout Me</h3>
            <p><%= @user.about if @user.about %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
