
  <%= render partial: "layouts/shared/navbar_signed_in" %>
  
  <div class="row"> <!--main row-->
  
    <div class="col-md-2"><!--empty left column space-->
    </div>
      
    <div class="col-md-8"><!--main middle for image and nav links--> 

      <!--for the cover image -->
      <div class="row no-pad container-border">
       
        <div class="image-container">
          <img src="http://vignette3.wikia.nocookie.net/harrypotter/images/b/bd/Dhogwarts.jpg/revision/latest?cb=20120128145344"
          class="img-responsive cover-image" alt="Responsive image">

          <img src="http://ndl.mgccw.com/mu3/000/488/259/sss/42409d600b984fc9934a52f28291ba27_small.png" 
               class="img-thumbnail" id ="profile-image" alt="profile">      
        </div>
        
        <div class="row no-pad container-border" >
          <div  class="col-md-12 text-center">
            <div class="list-group list-group-horizontal">
              <a href="<%= new_user_post_path(@user) %>" class="list-group-item">Timeline</a>
              <a href="<%= user_path(@user) %>" class="list-group-item">About</a>
              <a href="photos.html" class="list-group-item">Photos</a>
              <a href="friends.html" class="list-group-item">Friends</a>

              <%if current_user_view?%>
                <a href=" <%= edit_user_path(@user) %>" class="list-group-item active">Edit Profile</a>
              <% else %>
                <a href="<%= edit_user_path(@user) %>" class="list-group-item">Edit Profile</a>
              <% end %>  

            </div>
          </div>
        </div>
    
       <div class="panel-container row no-pad">
        <div class="panel panel-default page-type-panel-body panel-style"> 
          <div class="panel-body panel-body-style">
            <strong>Edit Profile</strong>
          </div>
        </div>
      </div>

      <%= form_for @user do |user_fields| %>
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
        <section class="col-md-6">

          <div class="form-group form-group-xs">
            <h4> Basic Information </h4>
          </div>
           
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="birthday">Birthday
            </label>
            <p>
             <%= user_fields.fields_for :profile do |profile_fields| %>
               <%= @profile.birthdate.strftime("%B %d, %Y") %>
              <% end %>
            </p>
          </div>
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="college">College</label>
            <p>
              <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :college, 
                    class: "form-control" %>
              <% end %> 
            </p>
          </div>
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="hometown">
              Hometown
            </label>
            <p>
              <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :hometown,
                    class: "form-control" %>
              <% end %> 
            </p>
          </div> 
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="domicile">
              Currenty lives in
            </label>
            <p>
             <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :domicile,
                   class: "form-control" %>
              <% end %> 
            </p>
          </div>
        </section>    
  
        <section class="col-md-6">
          <div style="margin:0;padding:0;margin-top:1em;">
            <div class="form-group">
              <label for="words">Words to live by:</label>
               <%= user_fields.fields_for :profile do |profile_fields| %>
                 <%= profile_fields.text_area :my_words,
                   class: "form-control" %>
              <% end %> 
            </div>
          </div>

          <div style="margin:0;padding:0;margin-top:1em;">
            <div class="form-group">
              <label for="about">About me:</label>
               <%= user_fields.fields_for :profile do |profile_fields| %>
                 <%= profile_fields.text_area :about_me,
                   class: "form-control" %>
              <% end %> 
            </div>
          </div>
        </section>
        <br>
        <button type="submit" name="submit" class="btn btn-info btn-block save-changes-btn">
            Save your changes
        </button>
        <br>
      <% end %>  
    </div>  
      
    <div class="col-md-2">
    </div>
  </div>

