
  <%= render partial: "layouts/shared/navbar_signed_in" %>

<div class="row"> <!--main row for rest of page-->

  <div class="col-md-8 col-md-offset-2"><!--main middle for image and nav links--> 

    <%= render partial: "layouts/shared/page_bg_nav", 
               locals: {page_is: "edit_profile"} %>
    
       <div class="panel-container row no-pad">
        <div class="panel panel-default page-type-panel-body panel-style"> 
          <div class="panel-body panel-body-style">
            <strong>Edit Profile</strong>
          </div>
        </div>
      </div>

      <%= form_for @user do |user_fields| %>
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
        <section class="col-md-6">

          <div class="form-group form-group-xs">
            <h4> Basic Information </h4>
          </div>
           
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="birthday">Birthday
            </label>
            <p>
              <%= user_fields.fields_for :profile do |profile_fields| %>
                <% if @profile.birthdate %>
                  <%= @profile.birthdate.strftime("%B %d, %Y") %>
                <% else %>
                    -
                <% end %> 
              <% end %>
            </p>
          </div>
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="college">College</label>
            <p>
              <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :college, 
                    class: "form-control" %>
              <% end %> 
            </p>
          </div>
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="hometown">
              Hometown
            </label>
            <p>
              <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :hometown,
                    class: "form-control" %>
              <% end %> 
            </p>
          </div> 
          
          <div class="form-group form-group-xs">
            <label class="col-sm-4 control-label" for="domicile">
              Currenty lives in
            </label>
            <p>
             <%= user_fields.fields_for :profile do |profile_fields| %>
                <%= profile_fields.text_field :domicile,
                   class: "form-control" %>
              <% end %> 
            </p>
          </div>
        </section>    
  
        <section class="col-md-6">
          <div style="margin:0;padding:0;margin-top:1em;">
            <div class="form-group">
              <label for="words">Words to live by:</label>
               <%= user_fields.fields_for :profile do |profile_fields| %>
                 <%= profile_fields.text_area :my_words,
                   class: "form-control" %>
              <% end %> 
            </div>
          </div>

          <div style="margin:0;padding:0;margin-top:1em;">
            <div class="form-group">
              <label for="about">About me:</label>
               <%= user_fields.fields_for :profile do |profile_fields| %>
                 <%= profile_fields.text_area :about_me,
                   class: "form-control" %>
              <% end %> 
            </div>
          </div>
        </section>
        <br>
        <button type="submit" name="submit" class="btn btn-info btn-block save-changes-btn">
            Save your changes
        </button>
        <br>
      <% end %>  
    </div>  
      
    <div class="col-md-2">
    </div>
  </div>

