<main class="container" style="margin-top: 50px">
  <div class="row">

    <aside class="col-sm-4 timeline-left-column">

      <%= render "friend_box" %>

    </aside>

    <section class="col-sm-8 timeline-right-column  post-list">

      <div id="flash-messages">
        <%= render partial: "shared/flash" %>
      </div>

      <%# render "add_friend_box" %>
      <h1 style="text-align: center">Newsfeed</h1>

      <%= render "post_box" %>

      <%= render @posts %>
      <%= will_paginate @posts %>

          </section>
        </div>
      </main>
