<div id="users">
  <%= render 'shared/navbar' %>

  <div class="container nav-margin padding-tainer">
    <%= render 'shared/flash' %>
    <% @users.each_with_index do |user, i| %>
      <div class="col-xs-4 col-xs-offset-<%= i.even? ? 2 : 1%>">
          <img class="post-pic" src="http://placehold.it/70x70">
          <%= link_to "#{user.full_name}", user_path(user), class: "commenter-name" %>
          <% if current_user.friended_users.pluck(:id).include?(user.id) %>
            <%= button_to "Unfriend", friending_path(user.id, :current_user_id => current_user.id), :method => :delete %>
          <% else %>
            <%= button_to "Friend",
                  friendings_path(:id => user.id, :current_user_id => current_user.id),
                  :method => "POST" %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
