<div class="container">
          <%= render "/shared/second_nav", user: @user %>

          <!-- Current location header -->
          <main class="row">
              <article class="col-xs-4">
                  <%= render "/shared/about", user: @user %>             
                  <!-- Photos aside -->
                  <%= render "/shared/pictures", user: @user %>

                <!-- Current location header -->
                <%= render "/shared/friends_side_main", user: @user %>
              </article>

              <!-- Post Entry -->
              <article class="col-xs-8">
                  <% if @user == current_user %>
                    <%= form_for @post, url: user_posts_path(current_user.id, :format => "js"), remote: true  do |f| %>
                      <section class="post">
                          <header class="nav-post">
                              <h4>
                              Post
                              </h4>
                          </header>
                          <div class="post-body">
                              <div class="form-group">
                                  <%= f.text_area :body, wrap: "hard", rows: "4", class: "form-control" %>
                              </div>
                          </div>
                          <div class="nav-footer">
                              <%= f.submit "Post", class: "btn btn-primary" %>
                          </div>
                      </section>
                    <% end %>
                  <% else %>
                    <%= render "/shared/are_friends" %>
                  <% end %>

                 <div class="cutoff"></div>

                  <% @posts.each do |post| %>
                    <%= render "/shared/post", post: post%>
                  <% end %>
