<%= render partial: "./shared/navbar" %>
<main class ="search-results">
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <ul>
              <div class="panel panel-default">
                <div class="panel-body">
                  <li><%= user.full_name %></li>
                  <li><%= user.dob %></li>
                  <% if current_user.friends.exists?(user.id) %>
                    <li><%= link_to "Unfriend", friending_path(:friend_id => user.id), method: :delete  %></li>
                  <% else %>
                    <li><%= link_to "Friend", friendings_path(:friend_id => user.id), method: :post  %></li>
                  <% end %>
                </div>
              </div> 
            </ul>
          <% end %>
        </div>
            
        </div>
      </div>
    </div>
  </div>
</main>