<main class="search-results">

  <div class="container">
    <p><%= "Showing #{@users.count} users whose first or last names contain '#{params[:user_query]}'" unless @users.empty? %></p>

    <div class="row bar-div">

      <div class="search-results-bar">
        <h1 class="search-results-title">Search Results</h1>

      </div>
    </div>

    <div class="row search-results-section">

      <% if @users.empty? %>
        <p>No Users Found</p>
      <% else %>
      <div class="col">
        <% @users.each do |profile| %>

          <div class="row" id="search-result-cell">

            <div class="col-md-4 cell-columns">
              <%= render partial: 'shared/photo_or_no_photo', locals: { user: profile.user, image_size: :medium, file: 'no_photo_medium.jpg' } %>
            </div>

            <div class="col-md-5 cell-columns about-friend-column">
              <h3><%= link_to "#{profile.name}", user_timeline_path(profile.user) %></h3>
              <h4><%= link_to "#{friend_count(User.find(profile.user.id))} Friends", user_friends_path(profile.user) %></h4>
              <p>Currently lives in <%= profile.current_town%></p>
              <p>From <%= profile.hometown %></p>
              <p>Born on <%= profile.birthday.strftime("%B %d, %Y") %></p>
            </div>

            <div class="col-md-3 cell-columns">
              <%= render partial: 'shared/friend_unfriend_button', locals: { current_user: @current_user, friend: User.find(profile.user.id) } %>
            </div>

          </div>

        <% end %>

      </div>
      
      <% end %>

    </div>

  </div>

</main>
