<main class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= content_tag :h1, 'Sign up', style: 'text-align:center' %>
        <div class="form-group">
          <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
        </div>
        <div class="form-group">
          <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email address' %>
        </div>
        <div class="form-group">
         <%= f.password_field :password, class: 'form-control', placeholder: 'Password'%>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your password' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</main>