<%= render partial: 'sessions/navbar_home' %>
<!-- Main Content -->
<main id="main-content" class="container">

  <div class="row">

    <!-- Info -->
    <section class="col-xs-12 col-md-6 col-md-offset-1">

      <div class="info">

        <div class="info-title-container">
          <h1>Connect with all your friends!</h1>
        </div>

        <div class="info-list-container">

          <ul class="info-list">
            <li>See photos and updates in your news feed.</li>
            <li>Post your status for the world to see form your profile.</li>
            <li>Get in touch with your friends by "friending" them. Hooray!</li>
            <li>Like things because you're a positive person.</li>
          </ul>

        </div>

      </div>
    </section>

    <!-- Sign Up Form -->
    <section class="col-xs-12 col-md-4">

      <h1>Sign Up</h1>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <form id="signup">

        <div class="row">

          <!-- Name -->
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
            </div>
          </div>

          <!-- Email -->
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control', placeholder: 'Your Email Address' %>
            </div>
          </div>

          <!-- Password -->
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :password %>
              <%= f.text_field :password, class: 'form-control', placeholder: 'Your New Password' %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.text_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Your Password' %>
            </div>
          </div>

          <!-- Birthday -->
          <div class="col-xs-12">

            <div class="row">

              <div class="col-xs-12">
              <%= f.label :birthday %>
              <%= f.date_select :birthday, { :prompt => {:day => 'Day', :month => 'Month', :year => 'Year' }, :end_year => 1910, :start_year => 2015}, {class: 'form-control'} %>
              </div>

            </div>

          </div>

          <!-- Gender -->
          <div class="col-xs-4">
            <div class="form-group">
              <%= f.radio_button(:gender, "Male") %> Male
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <%= f.radio_button(:gender, "Female") %> Female
            </div>
          </div>

        </div>

        <!-- Submit Sign Up -->
        <%= f.submit "Sign Up!", class: 'btn btn-success btn-lg btn-block' %>
      <% end %>
      </form>

    </section>

  </div>

</main>
