<h1>Sign Up</h1>


<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= display_error(@user, :name) %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= display_error(@user, :email) %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= display_error(@user, :password) %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= display_error(@user, :password) %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: button_classes %>
  </div>
<% end %>


<%= link_to 'Cancel', root_path %>
