<div class="sign-up-form col-sm-5">
  <div class="row">
    <div class="col-md-12">
      <h4>New School Form</h4>
      <%= form_for @user do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <br>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      <h4> Old school form</h4>
      <h1>Sign up</h1>
    </div>
  </div>