<div class="row">
  <div class="col-sm-6" style="margin: 0 auto;">

    <h1>Sign Up</h1>

    <%= form_for(@user) do |f| %>

      <div class="field">
        <%= f.label :name %>
        <%= display_error(@user, :name) %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= display_error(@user, :email) %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= display_error(@user, :password) %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Password Confirmation' %>
        <%= display_error(@user, :password) %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="actions", style="margin-bottom: 20px;">
        <%= f.submit 'Create Account', class: button_classes('success btn-block') %>
      </div>
    <% end %>
    <%= link_to 'Cancel', root_path, class: button_classes %>
  </div> <!-- col-sm-6 -->
</div> <!-- row -->

