<section id="reasons" class="col-md-7">
  <h2>Connect with all your friends!</h2>
  <ul>
    <li>See photos and updates in your newsfeed.</li>
    <li>Post your status for the world to see from your profile.</li>
    <li>Get in touch with your friends by "friending" them.</li>
    <li>Like things because you're a positive person!</li>
  </ul>
</section>
<section id="signup" class="col-md-5">
  <h1>Sign Up</h1>
  <%= form_for @user, html: { "cf-form-element" => true } do |f| %>
    <%= f.fields_for :profile do |pf| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= pf.label :first_name, "First Name:", class:'sr-only' %>
              <%= pf.text_field :first_name, class: "form-control", placeholder: "First Name" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= pf.label :last_name, "Last Name:", class:'sr-only' %>
              <%= pf.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :email, "Your Email:", class:'sr-only' %>
              <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
            </div>
            <div class="form-group">
              <%= f.label :password, "Your New Password:", class:'sr-only' %>
              <%= f.password_field :password, class: "form-control", placeholder: "Your New Password" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Your Password:", class:'sr-only' %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= pf.label :birthday, "Your Birthday:", class:'sr-only' %>
            <%= pf.date_select :birthday, {:start_year => Date.current.year, :end_year => 1920},{class: 'form-control'} %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <%= pf.radio_button :gender, 'm' %>
              <%= pf.label :gender, "Male", class: "radio-inline"%>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <%= pf.radio_button :gender, 'f' %>
              <%= pf.label :gender, "Female", class: "radio-inline"%>
            </div>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
              <%= f.submit "Sign Up!", class: "btn btn-success btn-block btn-large" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
