
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Danebook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <%= form_tag login_path, class: "navbar-form navbar-right" do %>
            <div class="form-group">
              <%= text_field_tag :email, nil, class: "form-control", placeholder: "E-mail" %>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
            </div>
            <%= submit_tag "Log In", class: "btn btn-success", id: "login-btn" %>

            <%= check_box_tag :remember_me %>
          <% end %>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <main class="container">
      <section class="row">
        <div class="col-md-7 hi-there">
          

          <p><h3>Connect with all your friends!</h3></p>
          <p>
            <ul>
              <li>See photos and updates in your news feed.</li>
              <li>Post your status for the world to see from your profile</li>
              <li>Get in touch with your friends by "friending" them</li>
              <li>Like things because you're a positive person!</li>
            </ul>
          </p>
        </div>

        <div class="col-md-5">
          <h2 class="form-signin-heading">Sign Up</h2>
          <%= form_for @user, html: {class: "form-signin"} do |f| %>

          <%= f.text_field :first_name, class: "name, form-control", id: "firstName", placeholder: "First Name" %>

          <%= f.text_field :last_name, class: "name, form-control", id: "lastName",  placeholder: "Last Name" %>
   
          <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "Your E-mail"%>

          <%= f.password_field :password, class: "form-control", id: "inputPassword", placeholder: "Your Password" %>

          <%= f.password_field :password_confirmation, class: "form-control", id: "inputPassword", placeholder: "Confirm Password"  %>

           <%= f.fields_for :profile, Profile.new do |profile_helper| %>
              <%= profile_helper.collection_radio_buttons :gender, ["male", "female"], :itself, :itself, {}, class: "radio-group" %>
              <br>
              <div class="btn-group">
              <%= profile_helper.date_field :birthday,class: "btn btn-default dropdown-toggle", value: "1990-01-01", max: Date.yesterday %>
              </div>

            <% end %>
            <br>
            <br>
          <%= f.submit "Sign Up!", class: "btn btn-lg btn-primary btn-block final" %>



          <% end %>
          <form class="form-signin">
        </div>
      </section>
    </main>

   


         