<%= render partial: 'shared/top_bar' %>
  <ma in>
    <div class="row">
      <section class="col-md-7">
        <div class="row">
        <div class="col-md-6 col-md-offset-3 test">
        <h1 >Connect with all your friends!</h1>
          <ul>
            <li>See photos and updates in your news feeds</li>
            <li>Post your status for the world to see from your profile</li>
            <li>Get in touch with your friends by "friending" them</li>
            <li>Like things because you're a positive person!</li>
          </ul>
        </div>
        </div>
      </section>
      <section class="col-md-3 sign-up">
          <h1>Sign Up</h1>

          <%= form_for @user do |f| %>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
              </div>
            </div>
          </div>
                      
          <div class="form-group">
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

          </div>
          <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
          </div>



  <%= f.fields_for :profile do |profile_field| %>

 

  
          <h3><%= profile_field.label :birthdate, "Birthday" %></%></h3>
          <div class="row">
            <div class="col-sm-4  form-group">
              <%= profile_field.date_select :birthdate,     
                                            {:start_year => (Date.current.year - 13),
                                            :end_year => 1908,
                                            :order => [:month, :day, :year],
                                            :date_separator => '</div><div class="col-xs-4">',
                                            :prompt => true}, 
                                            :class => 'form-control' %>
            </div>
         </div>
         <h4>Gender</h4>
          <div class="row form-group">
            <div class="col-sm-4">
              <%= profile_field.label :gender, "Female" %>
              <%= profile_field.radio_button(:gender, "Female") %>
            </div>
            <div class="col-sm-4">
                 <%= profile_field.label :gender, "Male" %>
               <%= profile_field.radio_button(:gender, "Male") %>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <%= f.submit "Sign-Up", class: "btn btn-success btn-block" %>
            <% end %>
          </div>


      </section>
    </div>
  </main>

