<div class="navbar navbar-default danebook-navbar">
    <!-- Can't tell if the mockup wants Danebook logo to the very left of the page at all times, or centered like the main content container. -->
    <div class="container">
      <div class="navbar-header danebook-navbar-logo">
        <button type="button" id="collapse-button"class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <!-- These spans draw the lines inside the button -->
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="home.html" class="navbar-brand" id="danebook-logo">Danebook</a>
      </div>
      <!-- This is appears to wrap the right portion of the navbar and is id'd to be controlled to collapse when the screen shrinks too much.-->
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
        <% if signed_in_user? %>
          <div class="navbar navbar-right">
            <p><%= current_user.full_name %></p>
          </div>
        <% else %>
        <!-- This is the actual right part of the navbar -->
          <%= form_tag session_path, :class=>"navbar-form navbar-right" do %>
            <!-- We have two inputs, one for email, one for the password, and a button to submit. -->
            <div class="form-group">
              <%= label_tag do %>
                <%= text_field_tag :email, value=nil,{:placeholder => "Email", :class=>"form-control"} %>
              <% end %>
            </div>
            
            <div class="form-group">
              <%= label_tag do %>
                <%= password_field_tag :password, value=nil, {:placeholder => "Password", :class=>"form-control"}%>
              <% end %>
            </div>

            <%= submit_tag "Log in", class: "btn btn-primary sign-in-button"%>
          <% end %>
        <% end %>
          
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Connect with all your friends!</h2>
          <ul class="connect-list-reasons">
            <li><b>See photos and updates</b> in your news feed.</li>
            <li><b>Post your status for the world to see</b> from your profile.</li>
            <li><b>Get in touch with your friends</b> by "friending" them.</li>
            <li><b>Like things</b> because you're a positive person!</li>
          </ul>
      </div>

      <div id="sign-up-forms" class="col-md-5">
        <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
        <div class="row">
          <div class="col-sm-6 naming-form">
            <%= field_with_errors(@user, :first_name) %>
            <%= f.text_field :first_name, {:required => true, :placeholder => "First Name", :class => "form-control"} %>
          </div>

          <div class="col-sm-6 naming-form-left">
            <%= field_with_errors(@user, :last_name) %>
            <%= f.text_field :last_name, {:required => true, :placeholder => "Last Name", :class => "form-control"} %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 input-form">
            <%= field_with_errors(@user, :last_name) %>
            <%= f.text_field :email, {:required => true, :placeholder => "Email", :class => "form-control"} %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12 input-form">
            <%= field_with_errors(@user, :password) %>
            <%= f.password_field :password, {:required => true, :placeholder => "Password", :class => "form-control"} %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 input-form">
            <%= field_with_errors(@user, :password_confirmation) %>
            <%= f.password_field :password_confirmation, {:required => true, :placeholder => "Password Confirmation", :class => "form-control"} %>
          </div>
        </div>



        <h4>Birthday</h4>
        <div class="row">
          <%= field_with_errors(@user, :dob) %>
          <%= f.date_select(:dob, {}, required: true)%>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= field_with_errors(@user, :gender) %>
            <%= f.label :gender, "Male" %>
            <%= f.radio_button(:gender, 0) %>
            <%= f.label :gender, "Female" %>
            <%= f.radio_button(:gender, 1) %>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Sign Up", class: "btn btn-success sign-up-button"%>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
