<%= render partial: "layouts/navlinks", locals: {user: @user} %>

<section class="container content">
  <div class="row title-header">
    <div class="col-xs-4 col-xs-offset-4">
      <p class="title">Newsfeed</p>
    </div>
  </div>

  <%= form_for [@user, @post] do |f| %>

    <div class="row section-posts">
      <div class="col-xs-6 col-xs-offset-2">
        <%= f.text_area :body, size: "72x6", placeholder: "Tell the world something" %>
      </div>
    </div>
    <div class="row section-submit">
      <div class="col-xs-6 col-xs-offset-2">
        <%= f.submit "Submit", class: "btn btn-primary btn-sm submit-button" %>
      </div>
    </div>

  <% end %>

  <div class="row section-posts">
    <div class="col-xs-9 col-xs-offset-2">
      <h3>Recent Friend Posts</h3>
      <% unless current_user.friendeds.empty? %>
        <% Post.friend_posts(current_user).each do |post| %>

        <div class="row old-post">
          <div class="col-xs-1 pic">
            <%= image_tag 'user_silhouette_generic.gif', class:"poster-pic2" %>
          </div>
          <div class="col-xs-11 name">
            <%= link_to full_name(post.user), user_profile_path(post.user), class:"poster" %>
            <p>Posted on <%= post.created_at.strftime("%m/%d/%Y") %></p>
          </div>
        </div>
        <div class="row post-content">
          <div class="col-xs-12">
            <p><%= post.body %></p>
          </div>
        </div>
        <div class="row post-comment">
          <div class="col-xs-2">
            <% unless current_user.like_exist?(post, "Post") %>
              <%= link_to "#{post.likes.count} Like(s)", post_likes_path(post), method: :post %>
            <% else %>
              <%= link_to "Unlike", post_like_path(current_user.find_like(post, "Post").first, id: "0"), method: :delete %>
            <% end %>
          </div>

        </div>

        <% unless post.likes.empty? %>
          <div class="row post-like">
            <div class="col-xs-12">
              <p><%= post.like_list %> likes this</p>
            </div>
          </div>
        <% end %>

        <% post.comments.each do |comment| %>

        <div class="row comment-post">
          <div class="col-xs-1 pic">
            <%= image_tag 'user_silhouette_generic.gif', class:"poster-pic2" %>
          </div>
          <div class="col-xs-11 name">
            <p class="poster2"><%= comment.user.profile.name %> said on <%= comment.created_at.strftime("%m/%d/%Y") %></p>
            <p class="poster2"><%= comment.body %></p>
            <% if current_user == comment.user %>
              <%= link_to "Remove Comment", user_comment_path(current_user, comment), method: :delete, class: "poster2" %>
            <% end %>
          </div>
        </div>

        <% end %>

        <%= form_for [current_user, @comment] do |f| %>
          <%= f.hidden_field :commentable_id, :value => post.id %>
          <%= f.hidden_field :commentable_type, :value => "Post" %>

          <div class="row comment-next">
            <div class="col-xs-12">
              <%= f.text_area :body, size: "72x4", placeholder: "Write a comment.", style: "margin-top: 5px" %>
            </div>
          </div>

          <div class="row next-submit">
            <div class="col-xs-2 col-xs-offset-5">
              <%= f.submit "Comment", class: "btn btn-primary btn-sm submit-button" %>
            </div>
          </div>

          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>

  

</div>