<main class="main newsfeed container">

    <div class="bottom-main-section row">

      <section class="left-section recently-active-friends-section col-md-4">
        <% if @current_user.profile.profile_photo_id? %>
          <%= image_tag Photo.find(@current_user.profile.profile_photo_id).photo.url(:medium) %>
        <% else %>
          <%= image_tag image_url('no_photo_medium.jpg') %>
        <% end %>
        <h4><%= link_to "#{@current_user.profile.name}", user_timeline_path(@current_user) %></h4>
        <%= link_to "Edit Profile", edit_user_profile_path(@current_user) %>
        <%= render partial: 'recently_active_friends', locals: { friends: recently_active_friends(@current_user) } %>

      </section>

      <section class="right-section col-md-8">

        <%= render template: 'posts/new', locals: { post: @current_user.posts.build} %>

        <% if friends_recent_posts(@current_user) %>
          <% friends_recent_posts(@current_user).each do |post| %>
            <%= render partial: 'posts/post_with_comment', locals: { post: post, current_user: @current_user } %>
          <% end %>
        <% end %>

      </section>
    </div>

</main>
