<main class="container">

    <div class="row row-eq-height">

      <section class="recently-active-friends-section col-md-4">

        <div class="row">
          <div class="col-xs-7">
            <%= link_to user_timeline_path(@current_user) do %>
              <%= render partial: 'shared/photo_or_no_photo', locals: { user: @current_user,
                                                          image_size: :medium,
                                                                file: 'no_photo_medium.jpg',
                                                                size: '200x200'
                                                              } %>
            <% end %>
          </div>

          <div class="col-xs-5">
            <h4 style="margin-top:4em;">
              <%= link_to "#{@current_user.profile.name}", user_timeline_path(@current_user), class: "timeline-link" %>
            </h4>
            <%= link_to "Edit Profile", edit_user_profile_path(@current_user) %>
          </div>

        </div>

        <div class="row">
          <%= render partial: 'recently_active_friends', locals: { friends: recently_active_friends(@current_user) } %>
        </div>

      </section>

      <section class="col-md-8" id="feed-section">

        <%= render template: 'posts/new', locals: { post: @current_user.posts.build} %>

        <% if friends_recent_posts(@current_user) %>
          <% friends_recent_posts(@current_user).each do |post| %>
            <%= render partial: 'posts/post_with_comment', locals: { post: post, current_user: @current_user } %>
          <% end %>
        <% end %>

      </section>

    </div>

</main>
