<main class="photos">
  <!-- Header -->
  <%= render partial: 'shared/header', locals: {user: @user, profile_photo: @profile_photo}%>

  <!-- Navigation -->
  <%= render partial: 'shared/nav_loggedin', locals: {user: @user, active: 'photos'} %>


  <!-- Bootstrap Grid System -->
  <section class="content">
    <div class="container">
      <div class ="row heading">
        <!-- Page Heading -->
        <div class="col-md-10">
          <h1>Photos</h1>
        </div>
        <div class="col-md-2">
          <% if current_user_page %>
            <%= link_to "Upload Photo!", new_photo_path, class: "btn btn-primary pull-right edit-profile-btn" %>
          <% end %>
        </div>
      </div>
      <div class="row photo-row">
        <% if !@photos.empty? %>
          <% @photos.each do |photo| %>
            <%= puts "self_or_friend : #{self_or_friend(@user)} : TODO"  %>
            <%= link_to photo_path(photo), {class: "col-md-3"} do %>
              <div class="photo-container">
                <%= image_tag photo.image.url(:small) %>
                <div class="annotation"><p><%= photo.created_at.strftime("%B %d, %Y") %></p></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div> <!-- end of container -->
  </section>
</main>