<main>
   <!-- Bootstrap grid system -->
  <section class="content">
    <div class="container">
      <div class ="row">
        <!-- Page Heading -->
        <div class="col-md-12 heading">
          <h1>Search Results</h1>
        </div>
      </div>
      <div class="row">
        <!-- Left Column -->
        <% @users.each do |user| %>
          <div class="col-md-8 col-md-offset-2">
            <article class="media friend-container">
              <div class="media-left media-middle">
                <img class="media-object" src="user_silhouette_generic.gif">
              </div>
              <div class="media-body media-middle">
                <%= link_to user.name, about_user_path(user), class: "media-heading" %>
                <P><%= user.friendships_count%> Friends</P>
                <p>Currently lives in <%= user.profile.address %></p>
                <p>From <%= user.profile.hometown %></p>
                <p>Born on <%= user.birthday.to_formatted_s(:long_ordinal) %></p></div>
              <div class="media-right ">
                <%= render partial: 'users/friend_unfriend', locals: {user: user, friends: @friends, pending_friends: @pending_friends} %>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div> <!-- end of container -->
  </section>
</main>