
<main class="container">
  <div class="row">
    <!-- cover photo -->
    <div class="col-md-10 col-md-offset-1 col-xs-12" id="cover-photo">
      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" class="img-responsive">
      <div class="row">
        <!--profile picture which is overlayed on cover photo-->
        <div class="col-md-6 col-md-offset-1 col-xs-10" id="profile-picture">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">
          <h2><h2><%= user_header_name(real_user_id) %></h2></h2>
        </div>
      </div>
    </div>
    <!--set of profile tabs linking to different parts of the page-->
    <%= render "shared/nav_links" %>
    
  </div>
  <div class="row">
    <!--About page header and edit profile button-->
    <div class="col-md-10 col-md-offset-1" id="header-bar">
      <h2>About</h2>
      <% if params[:id] == current_user.id.to_s %>
        <%= link_to "Edit your Profile", edit_user_path(current_user), class: "btn btn-primary", role: "button" %>
      <% end %>
    </div>
    <!--basic information and more about user-->
    <div class="col-md-10 col-md-offset-1" id="basic">
      <div class="row">
        <div class="col-md-6">
          <h3>Basic Information</h3>
          <div class="row">
            <div class="col-xs-5">
              <p><b>Birthday:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.profile.birthday.strftime("%m/%d/%Y") if real_user.profile.birthday %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <p><b>College:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.profile.college %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <p><b>Hometown:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.profile.hometown %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <p><b>Currently Lives:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.profile.currently_lives %></p>
            </div>
          </div>
          <h3 id="contact">Contact Information</h3>
          <div class="row">
            <div class="col-xs-5">
              <p><b>Email:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.email %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <p><b>Telephone:</b></p>
            </div>
            <div class="col-xs-7">
              <p><%= current_user.profile.telephone %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="about-me">
          <h3>Words to Live By</h3>
          <p><%= current_user.profile.words_to_live_by %></p>
          <h3>About Me</h3>
          <p><%= current_user.profile.about_me %></p>
        </div>
      </div>
    </div>
  </div>
  
</main>
