<div id="static_pages">
	<%= render 'shared/navbar' %>

	<%= render 'shared/banner', user: @user %>

	<main class="container">
		<div class="row">
			<div class="col-sm-5 right-gutter hidden-xs">
				<%= render 'about_content' %>
				<%= render 'photos/photo_preview', user: @user %>
				<%= render 'friendings/friends_preview', user: @user %>
			</div><!-- Left Content -->
			<div class="col-sm-7">
				<% if current_user == @user %>
					<%= render 'posts/new_post', post: @post %>
				<% end %>
				<%= render 'posts/user_posts', posts: @posts, user: @user %>
			</div>
		</div>
	</main>
</div>
