<%= render "shared/search_navbar" %>
<%= render "shared/profile_header" %>
<%= render "shared/flash" %>
<%= render "relationships/pending_friend_request" %>
<div class="container">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 about-section">
        <h3 class="text-center">About<h3>
        <p class= "about-details">Name: <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></p></br>
        <p class= "about-details">College: <%= @profile.college %></br></p>
        <p class= "about-details">Current Location: <%= @profile.current_location %></br></p>
        <p class= "about-details">Hometown: <%= @profile.hometown %></br></p>
      </div>
    </div>
    <div class="col-md-12 photo-section">
      <h3 class="text-center"> Photos<p> <%= @user.photos.count %> </p></h3>
      <% @photos.each do |photo| %>
        <div class="col-md-4 index-photo">
          <%= link_to image_tag(photo.picture.url, class: "resize-index-photo"), user_photo_path(photo.user, photo) %>   
        </div>
      <% end %>
    </div>
    <div class="col-md-12 friend-section">
      <h3 class="text-center">Friends</h1>
    </div>
  </div>
  <% if current_user #&& current_user.friends.include?(@user) %>
  <div class="col-md-8">
    <div class="row append">
      <%= render partial: "posts/new_post", locals: {post: @post, user: @user} if @post && current_user%>
    <% @posts.each do |post|%>
      <div class="col-md-12 post-section">
        <div class="displayed-post">
          <div class="media">
            <div class="media-left">
              <%= image_tag("default_image.jpg", class: "post-photo") %>
            </div>
            <div class="media-body">
            <h4 class="media-heading">Posted by: <%=link_to from_user(post), user_path(post.from)%>
            on<%= post.created_at.strftime(' %b %d at %r')%></h4>
              <div class="panel-body">
                <p><%= post.content %> </p>
                <p><%= post.likes.count %> likes</p>
                <% if !post.comments.empty? %>
                  <% post.all_comments.each do |comment| %>
                  <div class="comment-show">
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left"> 
                          <%= image_tag("default_image.jpg", class: "comment-picture") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Commented by: <%= link_to comment.commentable.user.first_name + " " + comment.commentable.user.last_name, user_profiles_path(comment.commentable.user) %> on <%= comment.created_at.strftime(' %b %d at %r')%></h4>
                          <p><%=comment.likes.count %> likes</p>
                          <p><%= comment.content %></p>
                          <div class= "comment-show">
                          <%= render "comments/new_comment",comment: comment, new_comment: comment.comments.build, like: comment.likes.build%>
                        </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <% end %>
                <% else %>
                <% end %>
              </div>
                <% if @post %>
                  <%= form_for [post, @comment] do |comment| %>
                    <%= image_tag("default_image.jpg", class: "comment-picture") %>
                    <%= comment.text_field :content, placeholder: "Write your comment here", class: "comment-text form-control", 'aria-label'=> "basic-addon1" %>
                    <%= comment.submit "Comment on Post", class: "btn btn-success comment-section" %>
                  <% end %>
                  <%= form_for [post, @post.likes.build] do |like| %>
                    <%= like.hidden_field :user_id, value: current_user.id %>
                    <%= like.submit "Like", class: "btn btn-primary like-section"%>               
                  <% end %>

                <%= link_to "Delete Post", user_post_path(current_user, post), method: :delete, class: "btn btn-danger delete-section", remote: true if current_user == @user%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
