<%= render partial: 'shared/menu' %>

<div class="container">
<div class="row">

  <%= render partial: 'timeline_panels' %>

  <!-- Timeline Section -->
  <div class="col-sm-8">
    <% if current_user && current_user.id == @profile.id %>
      <%= render partial: 'post_form' %>
      <%= render partial: 'post_spacing' %>
    <% end %>

    <%= render partial: 'post_spacing' %>
    <%= render partial: 'post_spacing' %>
    <%= render partial: 'post_spacing' %>

    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'post_show' %>
      </div>
    </div>

  </div>
</div>
<!-- End of Timeline Section -->
