<!-- Your markup here! -->

<div class="jumbotron" id="big-body">
  <%= render partial: "shared/user_nav_bar", locals: { profile: @profile} %>
</div>
<div class="col-xs-12" id="body-container">
<div class="something">
  <div class="col-xs-4" id="panels">  
    <div class="row">
      <%= render "shared/wall_post_form"%>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>About(Text Area)</h4>
        <div class="row">
          <div class="col-xs-4">
            <b>Born on: </b>
          </div>
          <div class="col-xs-8">
            <%= @profile.month %>, <%= @profile.day %>, <%= @profile.year %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <b>Went to school at: </b>
          </div>
          <div class="col-xs-8">
            <%= @profile.college %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <b>Hometown: </b>
          </div>
          <div class="col-xs-8">
            <%= @profile.home_town %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <b>Favorite Singer/Band: </b>
          </div>
          <div class="col-xs-8">
            <%= @profile.currently_lives %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8" id="post-panels-box" style="border: 1px solid grey">
    <% if current_user && current_user.id == @user.id %>
      <% @posts.reverse.each do |post| %>
        <%= render partial: "shared/wall_post", locals: { post: post} %>
      <% end %>      
    <% end %>
  </div>

</div>
</div>
</div>