<%= render partial: "layouts/navlinks", locals: {user: @user} %>

<!-- content -->
<section class="container tl-content">
  <div class="row content-space">
    <div class="col-xs-5">
      <div class="row tl-about">
        <p>About</p>
      </div>
      <div class="row section-about">
        <div class="col-xs-12">
          <p><strong>Born on:</strong> <%= @profile.birthdate %></p>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Hometown:</strong> <%= @profile.hometown %></p>
          <p><strong>Currently Lives:</strong> <%= @profile.current_residence %></p>
        </div>
      </div>

      <div style="margin-top: 10px" class="row tl-about">
        <p>Photos</p>
      </div>
      <div class="row section-about">
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <a style="margin-left: 146px" href="/static_pages">See More Photos</a>
      </div>

      <div style="margin-top: 10px" class="row tl-about">
        <p>Friends (<%= @user.friendeds.count %>)</p>
      </div>
      <div class="row section-about">
        <% @user.friendeds.each do |friend| %>

        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= link_to friend.profile.name, user_timeline_path(friend), style: "margin-left: 12px" %>
        </div>

        <% end %>
      </div>
    </div>

    <div class="col-xs-7 post-title">

      <div class="row tl-posts">
        <div class="col-xs-12">
          <p>Posts</p>
        </div>
      </div>

      <% if current_user == @user %>

        <%= form_for [@user, @post] do |f| %>

        <div class="row section-posts">
          <div class="col-xs-12">
            <%= f.text_area :body, size: "72x6", placeholder: "Tell the world something" %>
          </div>
        </div>
        <div class="row section-submit">
          <div class="col-xs-12">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm submit-button" %>
          </div>
        </div>

        <% end %>

      <% end %>

      <% @user.posts[0..-2].each do |post| %>

      <div class="row old-post">
        <div class="col-xs-1 pic">
          <%= image_tag 'user_silhouette_generic.gif', class:"poster-pic" %>
        </div>
        <div class="col-xs-11 name">
          <%= link_to full_name(post.user), user_profile_path(post.user), class:"poster" %>
          <p>Posted on <%= post.created_at.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
      <div class="row post-content">
        <div class="col-xs-12">
          <p><%= post.body %></p>
        </div>
      </div>
      <div class="row post-comment">
        <div class="col-xs-2">
          <% unless current_user.like_exist?(post) %>
            <%= link_to "#{post.likes.count} Like(s)", user_likes_path(current_user, post), method: :post %>
          <% else %>
            <%= link_to "Unlike", user_like_path(current_user, current_user.find_like(post).first), method: :delete %>
          <% end %>
        </div>
        <div class="col-xs-1">
          <a href="timeline.html">Comment</a>
        </div>
        <% if current_user == @user %>
        <div class="col-xs-1 col-xs-offset-7">
          <%= link_to "Delete", user_post_path(@user, post), method: :delete, style: "margin-left: 10px" %>
        </div>
        <% end %>

      </div>

      <% unless post.likes.empty? %>
        <div class="row post-like">
          <div class="col-xs-12">
            <p><%= post.like_list %> likes this</p>
          </div>
        </div>
      <% end %>

      <% post.comments.each do |comment| %>

      <div class="row comment-post">
        <div class="col-xs-1 pic">
          <%= image_tag 'user_silhouette_generic.gif', class:"poster-pic2" %>
        </div>
        <div class="col-xs-11 name">
          <p class="poster2"><%= comment.user.profile.name %> said on <%= comment.created_at.strftime("%m/%d/%Y") %></p>
          <p class="poster2"><%= comment.body %></p>
          <% if current_user == comment.user %>
            <%= link_to "Remove Comment", user_comment_path(current_user, comment), method: :delete, class: "poster2" %>
          <% end %>
        </div>
      </div>

      <% end %>

        <%= form_for [current_user, @comment] do |f| %>
        <%= f.hidden_field :post_id, :value => post.id %>

        <div class="row comment-next">
          <div class="col-xs-12">
            <%= f.text_area :body, size: "72x4", placeholder: "Write a comment.", style: "margin-top: 5px" %>
          </div>
        </div>

        <div class="row next-submit">
          <div class="col-xs-2 col-xs-offset-9">
            <%= f.submit "Comment", class: "btn btn-primary btn-sm submit-button" %>
          </div>
        </div>

        <% end %>

      <% end %>

    </div>

  </div>
</section>