<%= render partial: 'shared/menu' %>

<div class="container">
<div class="row">

  <%= render partial: 'timeline_panels' %>

  <!-- Timeline Section -->
  <div class="col-sm-8">
    <% if current_user && current_user.id == @profile.id %>
      <%= render partial: 'post_form' %>
      <%= render partial: 'post_spacing' %>
    <% end %>

    <% @posts.each do |post| %>
      <div class="row" style="margin-top: 10px">
        <div class="col-sm-12">
          <%= render partial: 'post_show', locals: { post: post } if post.id %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<!-- End of Timeline Section -->
