<main>
	<div class="container about-info-container">
		<header>
			<div class="row main-content-header">
				<div class="col-xs-2 col-xs-offset-5">
					<h2>About</h2>
				</div>
				<div class="col-xs-3 pull-right h2 btn-container">
          <%= link_to "Edit Your Profile", edit_user_path(@user), class: "btn btn-primary" if required_user? %>
				</div>
			</div>
		</header>
		<div class="row info-section">
			<section class="col-xs-5 identifying-info">
				<h2>Basic Information</h2>
				<div class="row">
					<div class="col-xs-4">
						<ul class="list-unstyled topics">
							<li>Birthday:</li>
							<li>College:</li>
							<li>Hometown:</li>
							<li>Currently Lives:</li>
						</ul>
					</div>
					<div class="col-xs-7">
						<ul class="list-unstyled answers">
							<li><%= user_birthday %></li>
							<li><%= @user.college %></li>
							<li><%= @user.hometown %></li>
							<li><%= @user.current_add %></li>
						</ul>
					</div>
				</div>
				<h2>Contact Information</h2>
				<div class="row">
					<div class="col-xs-4">
						<ul class="list-unstyled topics">
							<li>Email:</li>
							<li>Telephone:</li>
						</ul>
					</div>
					<div class="col-xs-7">
						<ul class="list-unstyled answers">
							<li><%= @user.email %></li>
							<li><%= @user.tele %></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="col-xs-6 personal-info">
				<h2>Words to Live By</h2>
				<p><%= @user.words_to_live %></p>
				<h2>About Me</h2>
				<p><%= @user.about_me %></p>
			</section>
		</div>
	</div>
</main>
