<section class="container main-header">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag 'hogwarts_small.jpg' %>
      <%= image_tag 'user_silhouette_generic.gif', class:"profile" %>
      <a class="title-name"><%= @user.profile.first_name %> <%= @user.profile.last_name %></a>
    </div>
  </div>

  <!-- nav links -->
  <div class="row nav-link-row">
    <div class="col-xs-2 nav-links">
      <a style="visibility: hidden"><p>test</p></a>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Timeline", user_timeline_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "About", user_profile_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <a href="/static_pages"><p>Photos</p></a>
    </div>
    <div class="col-xs-2 nav-links">
      <a href="/static_pages/new"><p>Friends</p></a>
    </div>
    <% if current_user == @user %>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Update Profile", edit_profile_path(current_user) %></p>
    </div>
    <% end %>
  </div>
</section>

<!-- content -->
<section class="container tl-content">
  <div class="row content-space">
    <div class="col-xs-5">
      <div class="row tl-about">
        <p>About</p>
      </div>
      <div class="row section-about">
        <div class="col-xs-12">
          <p><strong>Born on:</strong> <%= @profile.birthdate %></p>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Hometown:</strong> <%= @profile.hometown %></p>
          <p><strong>Currently Lives:</strong> <%= @profile.current_residence %></p>
        </div>
      </div>

      <div style="margin-top: 10px" class="row tl-about">
        <p>Photos</p>
      </div>
      <div class="row section-about">
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
        </div>
        <a style="margin-left: 146px" href="/static_pages">See More Photos</a>
      </div>

      <div style="margin-top: 10px" class="row tl-about">
        <p>Friends</p>
      </div>
      <div class="row section-about">
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 12px" href="/static_pages/new">Ron Weasley</a>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 30px" href="/static_pages/new">Hagrid</a>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 7px" href="/static_pages/new">Ginny Weasley</a>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 11px" href="/static_pages/new">Draco Malfoy</a>
        </div>
        <div class="col-xs-4">
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 14px" href="/static_pages/new">Dumbledore</a>
          <%= image_tag 'user_silhouette_generic.gif', class:"ph-preview" %>
          <a style="margin-left: 6px" href="/static_pages/new">Severus Snape</a>
        </div>
        <a style="margin-left: 146px" href="/static_pages/new">See More Friends</a>
      </div>
    </div>

    <div class="col-xs-7 post-title">

      <div class="row tl-posts">
        <div class="col-xs-12">
          <p>Posts</p>
        </div>
      </div>

      <% if current_user == @user %>

        <%= form_for [@user, @post] do |f| %>

        <div class="row section-posts">
          <div class="col-xs-12">
            <%= f.text_area :body, size: "72x3", placeholder: "Tell the world something" %>
          </div>
        </div>
        <div class="row section-submit">
          <div class="col-xs-12">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm submit-button" %>
          </div>
        </div>

        <% end %>

      <% end %>

      <% @user.posts[0..-2].each do |post| %>

      <div class="row old-post">
        <div class="col-xs-1 pic">
          <%= image_tag 'user_silhouette_generic.gif', class:"poster-pic" %>
        </div>
        <div class="col-xs-11 name">
          <%= link_to full_name(post.user), user_profile_path(post.user), class:"poster" %>
          <p>Posted on <%= post.created_at.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
      <div class="row post-content">
        <div class="col-xs-12">
          <p><%= post.body %></p>
        </div>
      </div>
      <div class="row post-comment">
        <div class="col-xs-2">
          <% unless current_user.like_exist?(post) %>
            <%= link_to "#{post.likes.count} Like(s)", user_likes_path(current_user, post), method: :post %>
          <% else %>
            <%= link_to "Unlike", user_like_path(current_user, current_user.find_like(post).first), method: :delete %>
          <% end %>
        </div>
        <div class="col-xs-1">
          <a href="timeline.html">Comment</a>
        </div>
        <% if current_user == @user %>
        <div class="col-xs-1 col-xs-offset-7">
          <%= link_to "Delete", user_post_path(@user, post), method: :delete, style: "margin-left: 10px" %>
        </div>
        <% end %>

      </div>

      <% unless post.likes.empty? %>
        <div class="row post-like">
          <div class="col-xs-12">
            <p><%= post.like_list %> likes this</p>
          </div>
        </div>
      <% end %>

      <% end %>

    </div>

  </div>
</section>