<%= render partial: "shared/header", locals: { active: :timeline } %>

<main class="container">
  <div class="row">

    <aside class="col-sm-4 timeline-left-column">
      <div class = "panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Åbout</h2>
        </div>
        <div class="panel-body">
          <div class="col-sm-12">
            <%= render "about_box" %>
          </div>
        </div>
      </div>

      <%= render "photo_box" %>

      <%= render "friend_box" %>

    </aside>

    <section class="col-sm-8 timeline-right-column post-list">

      <div id="flash-messages">
        <%= render partial: "shared/flash" %>
      </div>

      <%# render "add_friend_box" %>

      <%= render "post_box" if self_profile? %>

      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post } if post.persisted? %>
      <% end %>

    </section>
  </div>
</main>
