<!--Nav -->


<!-- Hero -->
<div class="container">
    <%= render "/shared/second_nav" %>

    <!-- Current location header -->
    <section class="nav-about">
        <h2>
            About
        </h2>
        <% if current_user == @user %>
        <a class="btn btn-primary" href="<%= edit_user_profile_path(@user) %>">
            Edit Your Profile
        </a>
        <% end %>
    </section>

    <!-- Main -->
    <main class="main-about">
        <div class="row">
            <article class="col-xs-12 col-sm-6 interior">
                <table class="tab-about table">
                    <caption>
                        <h3>
                            Basic Information
                        </h3>
                    </caption>
                    <tr>
                        <th>
                            Birthday:
                        </th>
                        <td>
                           <%= @profile.birthday %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            College:
                        </th>
                        <td>
                           <%= "Not Available" if @profile.college == " " %>
                           <%= @profile.college unless @profile.college == " " %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Hometown:
                        </th>
                        <td>
                            <%= "Not Available" if @profile.hometown == " " %>
                            <%= @profile.hometown unless @profile.hometown == " " %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Currently Lives:
                        </th>
                        <td>
                            <%= "Not Available" if @profile.residence == " " %>
                            <%= @profile.residence unless @profile.residence == " " %>
                        </td>
                    </tr>
                </table>
                <!-- Contact information -->
                <table class="tab-about table">
                    <caption><h3>Current Information</h3></caption>
                    <tr>
                        <th>
                            Email:
                        </th>
                        <td>
                           <%= @user.email %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Telephone:
                        </th>
                        <td>
                            <%= @profile.telephone %>
                        </td>
                    </tr>
                </table>
            </article>
            <!-- Righthand coloumn -->
            <article class="col-xs-12 col-sm-6 interior">
                <h3>Words to Live By</h3>
                <p><%= @profile.summary %>
                   <%= "The user has not fileld this out yet" if @profile.summary == " " %>
                </p>
                <h3>About Me</h3>
                <p><%= @profile.about_me %>
                    <%= "The user has not fileld this out yet" if @profile.about_me == " " %>
                </p>
            </article>
        </div>
    </main>
</div>