<%= render partial: "shared/navbar", locals: { :user => @user } %>

<!-- Hero -->
<div class="container">
  <header class="hero">
    <div class="avatar">
    </div>
  </header>

  <%= render partial: "shared/subnav", locals: { :user => @user } %>

  <!-- Current location header -->
  <main class="row">
    <article class="col-xs-4">
      <section class="post">
        <header class="nav-post">
          <h4>
            About
          </h4>
        </header>
        <div class="post-body">
          <table class="tab-timeline">
            <tr>
              <th>
                Name:
              </th>
              <td>
                <%= @user.full_name %>
              </td>
            </tr>
            <tr>
              <th>
                  Born on:
              </th>
              <td>
                  <%= @user.profile.birthday %>
              </td>
            </tr>
            <tr>
              <th>
                  Went to school:
              </th>
              <td>
              <%= @user.profile.college %>
              </td>
            </tr>
            <tr>
              <th>
                  Hometown:
              </th>
              <td>
                  <%= @user.profile.hometown %>
              </td>
            </tr>
            <tr>
              <th>
                  Currently Lives:
              </th>
              <td>
                  <%= @user.profile.city %>
              </td>
            </tr>
          </table>
        </div>
      </section>
        
      <!-- Photos aside -->
      <section class="post">
        <header class="nav-post">
          <h4>
            Photos (123)
          </h4>
        </header>
          <div class="container-fluid">
            <!-- 1st row -->
            <!-- <div class="row"> 

                <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                 <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                 <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- 2nd row -->
            <!-- <div class="row"> 

              <div class="col-md-4 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                      </a>
                  </div>
              </div>
               <div class="col-md-4 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                      </a>
                  </div>
              </div>
               <div class="col-md-4 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                      </a>
                  </div>
              </div>
            </div> -->
            <!-- 3rd row -->
            <!-- <div class="row"> 

                <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                 <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                 <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="nav-bottom-link">
            <a class="edit-profile" href="photos.html">
                See More Photos
            </a>
        </div>
    </section>

    <!-- Current location header -->
    <section class="post">
        <header class="nav-post">
            <h4>
            Friends (542)
            </h4>
        </header>

        <div class="container-fluid">
          <!-- 1st row -->
          <div class="row"> 

              <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="icon_photo_small.png" alt="">
                          Ron Weasley
                      </a>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Ricky Jervais
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Bob Drake
                      </a>
                  </div>
              </div>
          </div> -->
          <!-- 2nd row --> <!--
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Bugs Bunny
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Frank Zappa
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Don Van Vliet
                      </a>
                  </div>
              </div>
          </div> -->
          <!-- 3rd row --> <!--
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          James Joyce
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Lauren Faust
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <a href="#">
                          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                          Herman Melville
                      </a>
                  </div>
              </div>
          </div> -->
        <div class="nav-bottom-link">
            <a class="edit-profile" href="friends.html">
                See More Friends
            </a>
        </div>
    </section>
  </article>

  <!-- Post Entry -->
  <article class="col-xs-8">
      <%= render partial: "friends/friending_button", locals: { user: @user } %>
      <% if @user == current_user %>
        <section class="post">
            <header class="nav-post">
                <h4>
                  Post
                </h4>
            </header>
            <%= form_for @post do |f| %>
              <div class="post-body">
                <div class="form-group">
                  <%= f.text_area :body, class: "form-control", placeholder: "Tell the world what's on yer mind..." %>
                </div>
              </div>
              <div class="nav-footer">
                <%= f.submit "Post", class: "btn btn-primary" %>
              </div>
            <% end %>
        </section>
      <% end %>
      
      <!-- Posts -->
      <% @user.authored_posts.reverse.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post, user: @user } if  post.persisted? %>
      <% end %>
    </article>
  </main>
</div>