<!-- Your markup here! -->
<div class="jumbotron" id="big-body">
  <%= render partial: "shared/user_nav_bar", locals: { profile: @profile} %>
</div>
<div class="main">
  <div class="container" style="padding: 0px">
  

  <div class="col-xs-5" id="panels">  
    <div class="row">
      <%= render "shared/wall_post_form"%>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>About(Text Area)</h4>
        <div class="row">
          <div class="col-xs-3">
            <b>Born on: </b>
          </div>
          <div class="col-xs-9">
            <%= @profile.month %>, <%= @profile.day %>, <%= @profile.year %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>Went to school at: </b>
          </div>
          <div class="col-xs-9">
            <%= @profile.college %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>Hometown: </b>
          </div>
          <div class="col-xs-9">
            <%= @profile.home_town %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <b>Favorite Singer/Band: </b>
          </div>
          <div class="col-xs-9">
            <%= @profile.currently_lives %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6" id="comment-panels-box" style="border: 1px solid grey">
    <% if current_user && current_user.id == @user.id %>
      <%= render partial: "shared/wall_post", locals: { posts: @posts} %>
    <% end %>
  </div>

   

</div>