<!-- Main -->
<main>
  <!-- Header -->
  <%= render partial: 'shared/header', locals: {user: @user } %>

  <!-- Navigation -->
  <%= render partial: 'shared/nav_loggedin', locals: {user: @user, active: 'timeline'} %>

  <!-- Bootstrap Grid system -->
  <section class="content">
    <div class="container">
      <div class="row">
        <!-- Left Column -->
        <div class="col-sm-4">

          <!-- Article About -->
          <article>
            <div class="row timeline-heading">
              <div class="col-xs-12 ">
                <h4 class="text-center">About</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="timeline-field">Born on: </span><%=@user.birthday.to_formatted_s(:long_ordinal)%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="timeline-field">Went to School at: </span><%= @profile.college %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="timeline-field">Hometown: </span><%= @profile.hometown %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="timeline-field">Currently Lives: </span><%= @profile.address %>
              </div>
            </div>
          </article>

          <!-- Article Photo -->
          <article class="text-center">
            <div class="row timeline-heading">
              <div class="col-xs-12 ">
                <h4 class="text-center">Photos (123)</h4>
              </div>
            </div>
            <div class="row">
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
            </div>
            <div class="row">
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
            </div>
            <div class="row">
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
              <a href="#" class="col-md-4">
                <div class="photo-container"><%= image_tag("icon_photo_small.png") %></div>
              </a>
            </div>
            <a href="#" class="see-more">See More Photos</a>
          </article>

          <!-- Article Friends -->
          <article class="text-center">
            <div class="row timeline-heading">
              <div class="col-xs-12 ">
                <h4 class="text-center">Friends (<%= @friends.count %>)</h4>
              </div>
            </div>
            <div class="row">
            <% @friends.each do |friend| %>
              <div class="col-md-4 user-image">
                <%= image_tag("user_silhouette_generic.gif") %>
                <%= link_to friend.name, about_user_path(friend) %>
              </div>
            <% end %>
            </div>
            <a href="#" class="see-more">See More Friends</a>
          </article>
        </div>

        <!-- Right Column -->
        <div class="col-sm-8">

          <% if current_user_page %>
            <!-- Article Post-form -->
            <%= simple_form_for @post do |f| %>
            <article class="post-form">
              <div class="row timeline-heading">
                <div class="col-xs-12 ">
                  <h4 class="text-center">Post</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.input :text, label: false, :input_html => { :rows => 4 } %>
                </div>
              </div>
              <div class="row timeline-heading">
                <div class="col-xs-12 ">
                  <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } %>
                  <%= f.button :submit, 'Post', class: "btn btn-primary pull-right" %>
                </div>
              </div>
            </article>
            <% end %>
          <% end %>

          <!-- Article Post 1 -->
          <% @posts.each do |p| %>
          <article class="post">
            <div class="row">
              <div class="col-xs-12">
                <div class="media">
                  <a class="media-left" href="#">
                    <%= image_tag("harry_potter_small.jpg") %>
                  </a>
                  <div class="media-body">
                    <a href="#" class="media-heading"><%= link_to p.user.name, about_user_path(p.user) %></a>
                    <p class="text-muted"><%= p.posted_on %></p>
                  </div>
                </div>
                <p class="post-text"><%= p.text %></p>
              </div>
            </div>
            <div class="row timeline-heading">

              <%= render partial: 'posts/likes', locals: {p: p} %>
              <hr>
              <%= render partial: 'posts/comments', locals: {p: p, comments: p.comments } %>

              <%= render partial: 'comments/comment_form', locals: {post: p, comment: @comment} %>

            </div>
          </article>
          <% end %>
        </div>
      </div>
    </div> <!-- end of container -->
  </section>
</main>