<%= render partial: 'header' %>

<main>
  <!-- Main Container -->
  <div class="container main">

   <!-- Left Side Content Column -->
    <section class="left-content col-sm-4">

     <!-- First row (About) -->
      <div class="about-row row">
      <!-- (About) content wrapper -->
        <div class="about-wrapper col-sm-12">
        <!-- Header Row -->
          <div class="about-header row">
            About (Text Area)
          </div>
          
          <!-- Content Row 1 -->
          <div class="content row">
      <div class="col-md-3 col-md-offset-1">
        <strong>Birthday:</strong>
      </div>
      <div class="col-md-8">
        July 31st, 1980
      </div>
     </div>

     <div class="content row">
      <div class="col-md-3 col-md-offset-1">
        <strong>College:</strong>
      </div>
      <div class="col-md-8">
        Hogwarts College
      </div>
     </div>

     <div class="content row">
      <div class="col-md-3 col-md-offset-1">
        <strong>Hometown:</strong>
      </div>
      <div class="col-md-8">
        Godrick's Hollow, England
      </div>
     </div>

     <div class="content row">
      <div class="col-md-3 col-md-offset-1">
        <strong>Birthday:</strong>
      </div>
      <div class="col-md-8">
        Godrick's Hollow, England
      </div>
     </div>
        </div><!-- End About wrapper -->
      </div><!-- End About Row -->

      <!-- Photos section row-->
      <div class="photos-row row">
        <!-- Photos Wrapper -->
        <div class="photos-wrapper col-sm-12">
          <!-- Header Row -->
          <div class="photos-header row">
            Photos (123) (Copied Text Area)
          </div>

          <!-- Photo Thumbnails Container -->
          <div class="thumbnails row">
            <!-- Thumbnail wrapper -->
            <div class="thumbnails-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
              </div>
            </div><!-- End Thumbnails Wrapper -->
          </div><!-- End Thumbnail Container -->

          <!-- Photo Thumbnails Container -->
          <div class="thumbnails row">
            <!-- Thumbnail wrapper -->
            <div class="thumbnails-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
              </div>
            </div><!-- End Thumbnails Wrapper -->
          </div><!-- End Thumbnail Container -->

          <!-- Photo Thumbnails Container -->
          <div class="thumbnails row">
            <!-- Thumbnail wrapper -->
            <div class="thumbnails-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                </div>
              </div>
            </div><!-- End Thumbnails Wrapper -->
          </div><!-- End Thumbnail Container -->
        </div><!-- End Photos Wrapper -->

        <footer class="photos-footer row">
          <a href="#" class="more-photos">See More Photos</a>
        </footer>

      </div><!-- End Photos Container -->


      <!-- friends section row-->
      <div class="friends-row row">
        <!-- friends Wrapper -->
        <div class="friends-wrapper col-sm-12">
          <!-- Header Row -->
          <div class="friends-header row">
            friends (542) (Copied Text Area)
          </div>

          <!-- Photo Thumbnails Container -->
          <div class="thumbnails row">

            <!-- Thumbnail wrapper -->
            <div class="thumbnails-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
              </div>
            </div><!-- End Thumbnails Wrapper -->
          </div><!-- End Thumbnail Container -->

          <!-- Photo Thumbnails Container -->
          <div class="thumbnails row">
            <!-- Thumbnail wrapper -->
            <div class="thumbnails-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
                <div class="col-sm-4">
                  <a href="#"><img src="/assets/default_user.gif"></a>
                  <a href="#"><div>Hermione</div> <div>Granger</div></a>
                </div>
              </div>
            </div><!-- End Thumbnails Wrapper -->
          </div><!-- End Thumbnail Container -->
        </div><!-- End friends Wrapper -->

        <footer class="friends-footer row">
          <a href="#" class="more-friends">See More friends</a>
        </footer>
        
      </div><!-- End friends Container -->

    </section>

    <!-- Right Side Content -->
    <section class="right-content col-sm-7 col-sm-offset-1">


      <div class="post-row row">
        <div class="post-wrapper col-sm-12">
          <div class="post-header row">
            Post
          </div>

          <% if signed_in_user? %>
            <%= form_tag posts_path do %>
            <div class="text-area row">
              <%= text_area_tag :body, "", class: "form-control", placeholder: "Tell the world something.." %>
            </div>
            <footer class="post-footer panel-footer row">
              <%= submit_tag "Post", class: "btn navbar-right btn-primary" %>
            <% end %>
          <% end %>
          </footer><!-- End Post Footer -->
        </div><!-- End Post Wrapper -->
      </div><!-- End Post Area Container -->

      <!-- Comment Container -->
      <% @user.posts.each do |post| %>
      <div class="comment-row row">
        <!-- Comment Wrapper -->
        <div class="comment-wrapper col-sm-12">
          <!-- Comment-Header -->
          <div class="comment-header row">
            <img src="/assets/default_user.gif">
            <div class="profile-name">
              <%= link_to "#{@user.first_name} #{@user.last_name}", @user %>
              <span>Posted on <%= post.created_at %></span>
            </div>
          </div><!-- End Comment Header -->

          <div class="comment-content row">
            <%= post.body %>
          </div><!-- End Content Row -->

          <div class="comment-footer row">
            <div class="clearfix col-xs-12">
              <% if current_user.liked_resource?(post) %>
                <%= link_to "Unlike", post_like_path(post, current_user.id_of_like(post)), method: :delete, class: "pull-left" %>
              <% else %>
                <%= link_to "Like", post_likes_path(post), method: :post, class: "pull-left" %>
              <% end %>
              <span class="pull-left">
                <%= post.likes.count unless post.likes.empty? %>
              </span>
              <% if current_user %>
                <%= link_to "Delete", post_path(post), method: :delete, class: "pull-right" %>
              <% end %>

            </div>

            <div class="col-xs-12">
              <% post.likes.each do |like| %>
                <span><%= like.author.first_name %></span>
              <% end %>
            </div>
          </div><!-- End Comment Footer -->

          <% post.comments.each do |comment| %>
            <div class="panel panel-default row">
              <div class="panel-heading">
                <%= link_to comment.author.first_name, user_path(comment.author) %>
                <span>Posted on <%= comment.created_at %></span>
              </div>
              <div class="panel-body">
                <%= comment.body %>
              </div>

              <div class="panel-footer clearfix">
                <% if current_user.liked_resource?(comment) %>
                <%= link_to "Unlike", comment_like_path(comment, current_user.id_of_like(comment)), method: :delete %>
                <% else %>
                  <%= link_to "Like", comment_likes_path(comment), method: :post %>
                <% end %>
                <%= comment.likes.count unless comment.likes.empty? %>
                <% if current_user == comment.author %>
                  <%= link_to "Delete", post_comment_path(post, comment), method: :delete, class: "pull-right" %>
                <% end %>
              </div>
            </div>

          <% end %>

          <div class="form-group row">
          <%= form_tag post_comments_path(post) do %>
            <div class="col-xs-12">
              <%= text_area_tag :body, "", class: "form-control", placeholder: "Write a comment.." %>
            </div>
            <div class="col-xs-12">
              <%= submit_tag "Comment", class: "btn navbar-right btn-primary btn-sm" %>
            </div>
            <% end %>
          </div>

        </div><!-- End Comment Wrapper -->
      </div><!-- End Comment Container -->
      <% end %>



      <!-- Comment Container -->
      <div class="comment-row row">
        <!-- Comment Wrapper -->
        <div class="comment-wrapper col-sm-12">
          <!-- Comment-Header -->
          <div class="comment-header row">

            <img src="/assets/default_user.gif">
            <div class="profile-name"><a href="#">Harry Potter</a><span>Posted on Thursday 10/31/2015</span></div>
          </div><!-- End Comment Header -->

          <!-- Comment Content Area -->
          <div class="comment-content row">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div><!-- End Content Row -->

          <!-- Comment Footer -->
          <footer class="comment-footer row">
            <div class="row">
            <div class="navbar-form navbar-left">
              <a>Unlike</a>
            </div>
            <div class="navbar-form navbar-right">
              <a>Delete</a>
            </div>
          </div>

          <div class="row active-comment">
            <div class="navbar-form navbar-left">
              You and<a>Hermione Granger</a><span> and 3 others likes this</span>
            </div>
          </div>

          <!-- Line separator -->
          <div class="row">
            <div class="line-sep col-sm-10 col-sm-offset-1"></div>
          </div>

          <!-- Comment Expanded Container-->
          <div class="expanded-row row">
            <!-- Comment Expanded Wrapper -->
            <div class="expanded-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-2">
                  <img class="img-thumb" src="/assets/default_user.gif">
                </div>
                <div class="col-sm-9">

                  <div class="row">
                    <a>Ron Weasley</a><span> Said on Thursday 10/31/2015</span>
                  </div>
                  <div class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
               
                  <div class="row">
                    <a>Like</a><span> 3 other people like this</span>
                  </div>

                </div>
              </div>

          </div>
        </div>

        <!-- Comment Expanded Container-->
          <div class="expanded-row row">
            <!-- Comment Expanded Wrapper -->
            <div class="expanded-wrapper col-sm-12">

              <div class="row">
                <div class="col-sm-2">
                  <img class="img-thumb" src="/assets/default_user.gif">
                </div>
                <div class="col-sm-9">

                  <div class="row">
                    <a>Ron Weasley</a><span> Said on Thursday 10/31/2015</span>
                  </div>
                  <div class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
               
                  <div class="row">
                    <a>Like</a><span> 3 other people like this</span>
                  </div>

                </div>
              </div>

          </div>
        </div>

        <div class="text-area row">
          <textarea type="text" class="form-control" rows="4" placeholder="Write a comment.."></textarea>
          <a class="navbar-left cancel" href="#">Cancel</a>
          <button type="submit" class="btn navbar-right btn-primary btn-md">Comment</button>
        </div>




          </footer><!-- End Comment Footer -->
        </div><!-- End Comment Wrapper -->
      </div><!-- End Comment Container -->

    </section>
</main>
