<%= render partial: "navbar" %>
<main>
	<div class="container">
		<!-- This row will hold the profile information. -->
		<div class="row">
			<div class="col-md-12 profile-info">
				<!-- This row will hold the cover photo -->
				<div class="row">
					<div class="col-md-12">
						<%= image_tag "default_cover.jpg", class:"cover-photo"%>
					</div>

					<!-- We have a resized profile photo and name that plays nice with smaller screens, but extra small in certain configurations is very difficult so I have opted to just turn off the cover photo and name when the screen is extra small. -->
					<div class="profile-picture-large hidden-xs hidden-sm">
						<%= image_tag "harry.jpg"%>
					</div>
					<div class="profile-picture-small hidden-xs hidden-md hidden-lg">
						<%= image_tag "harry.jpg"%>
					</div>
					<div class="profile-name-large hidden-xs hidden-sm">
						<h2> Harry Potter </h2>
					</div>
					<div class="profile-name-small hidden-xs hidden-md hidden-lg">
						<h2> Harry Potter </h2>
					</div>
				</div>
				<!-- This row will hold the bar under the cover photo -->
				<div class="row cover-photo-menu">
					<!-- The tabs won't nicely fit into 2 or 3 lenghth columns -->
					<div class="col-md-7 col-md-offset-2">
						<div class="row cover-photo-menu-tabs">
							<a href="timeline.html">
								<div class="col-md-3">
									<h5>Timeline</h5>
								</div>
							</a>
							<a href="about.html">
								<div class="col-md-3 selected">
									<h5>About</h5>
								</div>
							</a>
							<a href="photos.html">
								<div class="col-md-3">
									<h5>Photos (123)</h5>
								</div>
							</a>
							<a href="friends.html">
							    <div class="col-md-3">
							    	<h5>Friends (546)</h5>
							    </div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- This row will hold the "About" Information. -->
		<!-- The info-section and info-section-topbar css classes are re-used for about_edit and about -->
		<div class="row info-section">
			<div class="col-md-12">
				<!-- This row holds the top bar of the about section -->
				<div class="row info-section-topbar">
					<div class="col-md-2 col-md-offset-5">
						<h2>About</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-12">
								<div class="center"><h3>Basic Information</h3></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>Birthday:</b>
							</div>
							<div class="col-md-8">
								July 31st, 1980
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>College:</b>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="Hogwart's School of Witchcraft and Wizardry"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>Hometown:</b>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="Godrick's Hollow, England"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>Currently Lives:</b>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="Godrick's Hollow, England"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="center"><h3>Contact Information</h3></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>Email:</b>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="harry_potter@hogwarts.edu"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<b>Telephone:</b>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="555-123-4567"></input>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="row about-right-col">
							<div class="col-md-12">
								<div class="center"><h2>Words to Live By</h2></div>
							</div>
							<div class="col-md-12">
								<textarea class="formcontrol" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, corporis vitae recusandae porro ratione inventore reiciendis et commodi, minima veritatis dolorum voluptates atque ab, officiis facere. Quod, dolore, quam!"></textarea>
							</div>
							<div class="col-md-12">
								<div class="center"><h2>About Me</h2></div>
							</div>
							<div class="col-md-12">
								<textarea class="formcontrol" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, corporis vitae recusandae porro ratione inventore reiciendis et commodi, minima veritatis dolorum voluptates atque ab, officiis facere. Quod, dolore, quam!"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<%= link_to "Save Changes", about_path, class:"btn btn-primary update-profile-btn"%>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>