<%= render partial: "navbar" %>
<main>
	<%= render partial: "info" %>

		<!-- This row will hold the "About" Information. -->
		<!-- The info-section and info-section-topbar css classes are re-used for about_edit and about -->
		<div class="row info-section">
			<div class="col-md-12">
				<!-- This row holds the top bar of the about section -->
				<div class="row info-section-topbar">
					<div class="col-md-2 col-md-offset-5">
						<h2>Photos</h2>
					</div>
					<div class="col-md-2 col-md-offset-3">
						<a href="#"><button class="btn btn-primary">Add Photo!</button></a>
					</div>
				</div>
				<!-- This row will hold all of the photos. Since we need 4 to a row, we do col-md-3, and we only need one row since overflow makes a new row. -->
				<div class="row">
					<!-- Tons of photos! If you hover over them, thanks to iHover they will be able to display a title and an upload date! -->
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
					<div class="col-md-3 photo-page-photo">
						<div class="ih-item square colored effect3 bottom_to_top">
							<a href="#">
				        		<div class="img"><%= image_tag "default_photo.png", alt:"img"%></div>
				        		<div class="info">
				          			<h3>Someone's Photo</h3>
				          			<p>Uploaded 1/1/1999</p>
				        		</div>
				        	</a>
					    </div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>