<footer>
  <%= display_like_unlike(object) %>
  <%= render 'shared/likes', object: object %>

  <div class="right-side-links">
    <%= link_to "Delete #{object.class.to_s}", [object.user, object], method: :delete, data: {confirm: 'Are you sure you want to delete this?'} if policy(object).destroy? %>
  </div><!-- right-side-links -->

  <div class="comments">
    <%= render 'comments/index', object: object %>
    <%= render 'comments/form',  object: object, comment: object.comments.new %>
  </div> <!-- comments -->
</footer>
