<div class="col-xs-12">
  <div class="row">
    <div class="clearfix tl-comment-container">
      <div class="col-xs-2 ex-post-profile-container">
        <%= link_to image_tag("/imgs/user_silhouette_generic.gif", class: "ex-post-profile"), "#" %>
      </div>
      <div class="col-xs-10 ex-poster-info">
        <%= link_to comment.owner.fullname, user_activities_path(comment.owner) %>
        <p class="ex-post-timestamp">Said on <%= comment.created_at %></p>
      </div>
      <p class="ex-post-content tl-comment-content"><%= comment.content %></p>
      <div class="col-xs-12 tl-comment-footer">
        <%= link_to "Like", "#" %>
        <span>3 other people like this</span>
      </div>
    </div>
  </div>
</div>
