<div id="comment-<%=comment.id%>">
  <div class="author-box">
    <img src="<%= set_avatar_photo(comment.user) %>">
    <a href="<%= user_path(comment.user.id) %>">
      <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
    </a>
    <time datetime= <%= "#{comment.created_at}" %> pubdate>
      <%= "#{comment.created_at}" %>
    </time>
  </div>
  <div class="comment-area" id="body">
    <p>
      <%= "#{comment.body}" %>
    </p>
  </div>

  <div class="like-area">
    <div class="clearfix">
      <%= render "/likes/likes", obj: comment %>
    </div>
  </div>
</div>