<div id="comments-container">
  <% commentable.comments.includes(:author).each do |comment| %>
    <div class = "row">
      <div class="col-xs-2">
        <%= profile_pic_or_generic(comment) %>
      </div>

      <div class="col-xs-10">
        <div class = "row">
          <p class="col-md-12">
            <%= link_to comment.author.name, user_path(comment.author) %>
            <span>
              said on <%= comment.created_at.to_formatted_s(:long) %>
            </span>
          </p>
        </div>

        <div class = "row">
          <p class="col-md-12">
            <%= comment.body %>
          </p>
        </div>

        <div class = "row">
          <%= like_or_unlike_button(comment) %>
          <span class="col-xs-8">
            <%= comment_likes_message(comment) %>
          </span>

          <%= delete_comment_button(comment) %>
        </div>
      </div>
    </div><br>
    <div class = "divider-line"></div>
  <% end -%>
</div>