<div id="activity_<%= comment.activity.id %>" class="col-xs-12">
  <div class="row">
    <div class="clearfix tl-comment-container">
      <div class="col-xs-2 ex-post-profile-container">
        <% if comment.owner.profile_photo %>
          <%= link_to image_tag(comment.owner.profile_photo.image.url, class: "ex-post-profile"), "#" %>
        <% else %>
          <%= link_to image_tag("/imgs/user_silhouette_generic.gif", class: "ex-post-profile"), "#" %>
        <% end %>
      </div>
      <div class="col-xs-10 ex-poster-info">
        <%= link_to comment.owner.fullname, user_activities_path(comment.owner) %>
        <p class="ex-post-timestamp">Said on <%= comment.created_at %></p>
      </div>
      <p class="ex-post-content tl-comment-content"><%= comment.content %></p>
      <div class="col-xs-12">
        <span id="like_link_<%= comment.activity.id %>">
          <%= render partial: "shared/like_link", locals: { activity: comment.activity }  %>
        </span>
        <%= link_to "Comment", "#", class: 'make_comment', data: {form_id: comment.activity.id} %>
        <%= link_to "Delete", user_activity_path(comment.owner, comment.activity), class: "pull-right", method: :delete, remote: true  if users_comment?(comment) %>
      </div>
      <span id="like_text_<%= comment.activity.id %>">
        <%= render partial: "shared/like_text", locals: { activity: comment.activity }  %>
      </span>
      <%= form_for [comment.activity, Comment.new], remote: true, html: {id: "comment_form_#{comment.activity.id}"} do |f| %>
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.text_area :content, class: "form-control tl-comment-post", rows: "5", placeholder: "Write a comment" %>
          </div>
          <div class="col-xs-3 pull-right btn-container">
            <%= f.submit "Post Comment", class: "btn btn-primary comment-btn" %>
          </div>
        </div>
      <% end %>
      <div id="comments_box_<%= comment.activity.id %>">
      <% comment.activity.comments.each do |comment| %>

        <%= render partial: "shared/comment_box", locals: { comment: comment }  %>

      <% end %>
      </div>
    </div>
  </div>
</div>
