
  <div class="col-xs-2 comment-image">
    <%= link_to user_path(comment.user_id) do %>
      <%= image_tag comment.user.profile.profile_picture.url(:post), class:"img-responsive"  %>
    <% end %>
  </div>
  <!-- commenter info and comment-->
  <div class="col-xs-10">
    <h6><%= link_to user_header_name(comment.user_id), user_path(comment.user_id) %>
      Posted on <%= comment.created_at.strftime("%m/%d/%Y") %></h6>
    <p><%= comment.body %></p>
    <div class="row">
      <div class="col-xs-1">
        <h6>
          <% if current_user.likes_post?(comment.id, "Comment").empty? %>
            <%= link_to "Like", comment_likes_path(comment.id), method: 'post' %>
          <% else %>
            <%= link_to "Unlike", comment_like_path(comment.id, current_user.likes_post?(comment.id, "Comment").first.id), method: 'delete' %>
          <% end %>
        </h6>
      </div>

      <div class="col-xs-4">
        <h6> <%= render partial: "shared/like_count", locals: {content: comment} %></h6>
      </div>
      <div class="col-xs-2 col-xs-offset-4">
      <% if comment.user_id == current_user.id %>
      <h6><%= link_to "Delete Comment", comment_path(comment), method: :delete %></h6>
      <% end %>
    </div>
    </div>
  </div>