<div class="like-comment-container comment-border-grey" data-id='<%= comment.id %>'>
  <% if comment.user.profile_pic %>
    <%= image_tag comment.user.profile_pic.avatar.url(:comment), alt: "friend's picture", class:  "side-image small-image" %>
  <% else %>
    <%= image_tag "wizard_hat.png", alt:"friend's picture", class: "side-image small-image" %>
  <% end %>
  <div class="side-text small-text">
    <p class="comment-format">
      <%= link_to comment.user.profile.full_name, comment.user %>
    </p>
    <p class="comment-format post-date">
      Said on <%= comment.posted_date %>:
    </p>
  </div>
  <p class="comment-text post-text">
    <%= comment.body %>
  </p>
  <div class="comment-text like-comment-container">
    <div class="like-text" data-id="<%= comment.id %>" data-type="Comment">
      <% if current_user_liked(comment) %>
        <%= link_to "Unlike", comment_like_path(comment, find_like(comment)), method: :delete, remote: true, class: "comment-format post-reaction" %>
      <% else %>
        <%= link_to "Like", comment_likes_path(comment), method: :post, remote: true, class: "comment-format post-reaction" %>
      <% end %>
    </div>
      <p class="comment-format reaction-text like-container" data-id="<%= comment.id %>" data-type="Comment">
        <%= likes_display(comment) %>
      </p>
    <% if can_delete_comment?(comment) %>
      <%= link_to "Delete", url_for([resource, comment]), method: :delete, remote: true, class: "post-reaction delete" %>
    <% end %>
  </div>
</div>