<section class="cover-profile-block col-xs-12">
    <div class="cover-photo-wrapper">
      <div class="cover-photo row">
        <div class="profile-photo-wrapper">
          <h3 class="profile-name"><%= user_profile_name %>
          <%= render 'friendings/friending_button' %>
          <div class="profile-photo">
            <%= image_tag("imgres.jpg", class: "img-thumbnail") %></h3>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper">
      <div class="menu-row row">
        <div class="btn-group col-xs-offset-2 col-sm-10">

          <%= link_to "Timeline", new_user_post_path, class: "menu-item col-xs-12 col-sm-2 btn-default" %>

          <%= link_to "About", user_profile_path, class: "menu-item col-xs-12 col-sm-2 btn-default" %>

          <a href="./photos.html">
          <button type="button" class="menu-item col-xs-12 col-sm-2 btn-default">
            <h5>Photos (800)</h5>
          </button>
          </a>

          <a href="./friends.html">
          <button type="button" class="menu-item col-xs-12 col-sm-3 btn-default">
            <h5>Friends (>9,000)</h5>
          </button>
          </a>

          <%= only_user_sees(edit_link, @user) %>

        </div> <!-- /button group -->
      </div> <!-- /menu-row -->
    </div> <!-- /menu-wrapper -->
</section> <!-- /cover-profile-block -->