<header class="container" id="cover">

  <!--cover images-->
  <div class = "row">
    <div id="cover-photo">
      <%= image_tag("hogwarts_small.jpg", class: "hidden-sm hidden-xs", width: "100%", height: "350px")%>
    </div>


    <div class="col-md-12 hidden-xs hidden-sm" id="profile-image">
      <div class = "col-md-2"><%= image_tag("harry_potter_small.jpg", height: "200px", width: "180px")%></div>
      <div class = "user_headline col-md-6">
        <span class = "h2 name-header"><%=@user.name %></span>
        <%= friend_button(@user) %>
      </div>
    </div>
  </div>

  <!--mid-page navbar-->
  <div id = "profile-nav" class = "row">
    <div class = "col-md-7 col-md-offset-3">
      <ul class = "nav nav-tabs " role = "profile-nav">
        <li><%= link_to "Timeline", user_timeline_path(@user) %></li>
        <li><%= link_to "About", user_profile_path(@user) %></li>
        <li ><%= link_to 'Photos <span class="link-count hidden-xs">(123)</span>'.html_safe, photos_path %></li>
        <li><%= link_to "Friends <span class='link-count hidden-xs'>(#{@user.friends.size})</span>".html_safe, user_friends_path %></li>
    </div>

    <div class = "col-md-2">
      <ul class = "nav">
        <li>
        <%= render partial: 'shared/about_link' if current_user_page?(@user) &&!current_page?(edit_user_profile_url) %>
        </li>
      </ul>
    </div>
  </div>
</header>
