<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Friends <span class=
        "badge">542</span></h4>
      </div><!-- icon_photo_small.png -->
      <table class="table table-bordered col-xs-12">
        <tr>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Ron Weasley</a>
          </td>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Ginny Weasley</a>
          </td>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Hermoine Granger</a>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Warren Buffet</a>
          </td>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Uncle Bob</a>
          </td>
          <td class="text-center">
            <a class="thumbnail" href="#"><%= image_tag "user_silhouette_generic.gif", { class: 'img-responsive' } %></a>
            <a href="#">Aunt Sue</a>
          </td>
        </tr>
      </table>
      <div class="panel-body row">
        <a class="col-xs-12 text-center" href="#">
        <h5>See More Friends</h5></a>
      </div>
    </div>
  </div>
</div>
