<!-HEADER->


<div class="row">
  <header class="col-sm-12">

<!--     <div class="col-sm-1">
    <img src="images/user_silhouette_generic.gif" alt="profile-pic" class="">    
    </div> -->

    <div class="col-sm-offset-1 col-sm-3">
      <h3><%= full_name(user) %></h3>
    </div>

    <div class="col-sm-1">
     <%= render 'shared/add_button' if user != current_user %>     
    </div>


  </header>  
</div>

<div class="row">
  <div class="toolbar">
    <div class="col-sm-offset-2 col-sm-1 menu-item">
      <b><%= link_to 'Timeline'%></b>
    </div>
    <div class="col-sm-1 menu-item active">
      <b><%= link_to 'About'%></b>
    </div>
    <div class="col-sm-1 menu-item">
      <b><%= link_to 'Photos'%></b>
    </div>
    <div class="col-sm-1 menu-item">
      <b><%= link_to 'Friends'%></b>
    </div>
    <% if user == current_user %>
    <div class="col-sm-offset-4 col-sm-2 menu-link">
      <%= link_to "Edit Profile", edit_user_path(user), class: 'pull-right' %>
    </div>
    <% end %>
  </div>
</div>