<%= render partial: '/shared/nav' %>
<div class="container">
  <div class="cover-container">
    <% if current_user.cover_photo.nil? %>
      <img id="cover-photo"  src="/images/hogwarts_small.jpg" class="img-responsive col-md-12" alt="Responsive Cover">
    <% else %>
      <%= image_tag current_user.cover_photo.image.url, class: "img-responsive col-md-12", alt: "Responsive Cover" %>
    <% end %>
  </div>
       
<div class="row">

  <div class="col-md-3">
    <div class="avatar">
      <% if current_user.avatar.nil? %>
        <img src="/images/harry_potter_small.jpg" class="img-responsive thumbnail">
      <% else %>
        <%= image_tag current_user.avatar.image.url, class: "thumbnail img-responsive", alt: "missing photo" %>
      <% end %>
    </div>
    <h1 class="profile-name"><%= @user.full_name %></h1>
  </div>

  <div class="col-md-offset-3">

    <ul class="nav navbar-nav">
      <% if current_user? %>
        <li class="btn btn-default btn-sm"><%= link_to "Newsfeed", user_newsfeed_path(current_user) %></li>
      <% end %>

      <li class="btn btn-default btn-sm"><%= link_to "Timeline", user_timeline_path(@user) %></li>
      <li class="btn btn-default btn-sm" id="active"><%= link_to "About", @user %></li>
      <li class="btn btn-default btn-sm"><%= link_to "Photos", user_photos_path(@user) %></li>
      <li class="btn btn-default btn-sm"><%= link_to "Friends", user_friends_path(@user) %></li>
    </ul>

  </div>

</div>