<!-- Header -->
<div class="shared">
<header class="container" id="bg">
  <section class="jumbotron">
    <% if @cover_photo %>
      <%= image_tag(@cover_photo.image) %>
    <% else %>
      <%= image_tag("hogwarts_small.jpg", :class => "cover-image") %>
    <% end %>
    <% if @profile_photo %>
      <%= image_tag(@profile_photo.image.url(:small), :class => "profile-image") %>
    <% else %>
      <%= image_tag("harry_potter_small.jpg", :class => "profile-image") %>
    <% end %>
    <h3><%= "#{user.first_name} #{user.last_name}"%></h3>
  </section>
</header>
</div>