<div class="row hero">
  <%= image_tag("hogwarts_small.jpg", :class => "hidden-sm hidden-xs", class: "hero-image", :alt => "Hogwarts Castle") %>
  <%= image_tag("harry_potter_small.jpg", :alt => "Harry Potter", class: "profile-picture") %>
  <%= friend_button(@user, "btn btn-danish") %>
  <h1><%= @user.name %></h1>
</div>

<nav class="nav row profile-navbar">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to 'Timeline', @user %></li>
    <li><%= link_to 'About', user_profile_path(@user) %></li>
    <li><%= link_to 'Photos (123)', photos_path %></li>
    <li><%= link_to "Friends (#{@user.friends.count})", user_friends_path(@user) %></li>
    <li>
      <%= edit_profile_button(@user) %>
    </li>
  </ul>
</nav>
