<div class="row hero">
  <%= cover_photo(@user) %>
  <%= profile_photo(@user, :medium, "profile-photo") %>
  <%= friend_button(@user, "btn btn-danish") %>
  <h1><%= @user.name %></h1>
</div>

<nav class="nav row profile-navbar">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to 'Timeline', @user %></li>
    <li><%= link_to 'About', user_profile_path(@user) %></li>
    <li><%= link_to "Photos (#{@user.photos.count})", user_photos_path(@user) %></li>
    <li><%= link_to "Friends (#{@user.friends.count})", user_friends_path(@user) %></li>
    <li>
      <%= edit_profile_button(@user) %>
    </li>
  </ul>
</nav>
