<nav class="nav navbar-default navbar-fixed-top" id="navbar-custom">
    <div class="container">
        <%= link_to "Bookish", root_path, class: 'navbar-brand', id: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <%= form_tag session_path, class: "form-inline navbar-form", id: "login-form" do %>
                <%= text_field_tag :email, nil, placeholder: "Email", class: 'form-control' %>
                <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control' %>
                <%= label_tag :remember_me, "Remember", class: 'text-white' %>
                <%= check_box_tag :remember_me, inline_label: 'Remember' %>
                <%= submit_tag 'Login' %>
                <% end %>
            </li>
        </ul>
    </div>
</nav>
