<%= form_tag session_path do %>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <%= submit_tag "Log in", class: "btn btn-success btn-block btn-large" %>
    </div>
  </div>
</div>

<% end %>
