<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#log-in-fields">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Danebook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="log-in-fields"> -->
      <!-- <form class="navbar-form navbar-right"> -->
        <%= form_tag session_path, :method => "POST", :class => "sign-in-form" do %>
          <%= label_tag do %>
            Email
            <%= text_field_tag :email %>
          <% end %>
          <%= label_tag do %>
            Password
            <%= password_field_tag :password %>
          <% end %>
        </div>
         <%= submit_tag "Log in", :class => 'btn btn-default' %>
      <% end %>
      
      <!-- </form> -->
    <!-- </div>/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><br><br><br><br>