<header>

  <div class = "photo-container">
    <%= image_tag "hogwarts_small.jpg", class: "img-responsive", id: "cover-photo" %>
  </div>

  <div id = "pages-nav">
    <div class = "row">

      <div class = "col-md-4">
        <div class = "profile-pic-container">
          <%= image_tag "harry_potter_small.jpg", class: "img-responsive" %>
        </div>
        <h1 class = "profile-name">
          <%= @user.name %>
          <%= friending_button(@user) unless @user == current_user %>
        </h1>

      </div>

      <div class = "col-xs-6 navigation-container">
        <ul class = "nav navbar-nav nav-pills">
          <li class ="<%= controller.class == TimelinesController && controller.action_name == "show" ? 'active' : '' %>" >
            <%= link_to "Timeline", user_timeline_path(@user) %>
          </li>

          <li class ="<%= controller.class == UsersController && controller.action_name == "show" ? 'active' : '' %>" >
            <%= link_to "About", @user %>
          </li>

          <li class ="<%= controller.class == UsersController && controller.action_name == "photos" ? 'active' : '' %>" >
            <%= link_to "Photos <span>(123)</span>".html_safe, photos_path %>
          </li>

          <li class ="<%= controller.class == FriendsController && controller.action_name == "index" ? 'active' : '' %>" >
            <%= link_to "Friends <span>(542)</span>".html_safe, user_friends_path(@user) %>
          </li>
        </ul>
      </div>

      <div class = "col-sm-2 pull-right">
        <ul class = "nav navbar-nav">
          <% if current_user.id == @user.id && !(controller.class == UsersController && controller.action_name == "about_edit") %>
          <li>
            <%= link_to "Edit Profile", @user.profile ? edit_profile_path : new_profile_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</header>