<!-- Navigation -->
<div class="container" id="nav-links">
 <ul class="nav nav-pills">
  <li role="nav" class=<%= "active" if active == "timeline" %>><%= link_to "Timeline", timeline_user_path(user) %></li><!--
  --><li role="nav" class=<%= "active" if active == "about" %>><%= link_to "About", about_user_path(user) %></li><!--
  --><li role="nav" class=<%= "active" if active == "photos" %>><%= link_to "Photos(123)", '#' %></a></li><!--
  --><li role="nav" class=<%= "active" if active == "friends" %>><%= link_to "Friends(567)", '#' %></li>
</ul>
</div>