

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
  <div class="container-fluid">
    <div class="col-xs-3">
      <div class="navbar-header">
         <aclass="navbar-left brand-img">
         <h1> Danebook<%= link_to "Danebook", root_path %>  </h1> </a>
      </div>
    </div>
  
  <div class="container col-xs-7">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <p>
      <%= text_field_tag :query, nil, placeholder: "SEARCH_USERS" %>
      <%= submit_tag "search" %>
    </p>
  <% end %>
      
  </div>

  <div class="col-xs-1 col-xs-offset-1" id="nav-bar">
    <%= render partial: "shared/nav_login" %>
  </div>
</nav>