<nav class="navbar navbar-default logged-out">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand h1" href="#">Danebook</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <%= form_tag session_path, class: 'navbar-right navbar-form' do  %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, '',  class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, '', class: 'form-control' %>
        </div>
        <div class="form-group form-button"><%= submit_tag "Sign In",  class: 'btn btn-action' %></div>
      <% end %>
    </div>
  </div>
</nav>