<% if current_page?(static_pages_path) %>
  <% on_homepage = true %>
<% elsif current_page?(new_user_path)%>
  <% on_homepage = true %>
<% else %>
  <% on_homepage = false %>
<% end %>

<% if on_homepage %>
  <%= form_tag session_path do %>
    <div class="homepage">
      <div class="navbar">
        <%= link_to static_pages_path do %>
          Danebook
        <% end %>
        <div class="login-container navbar-form navbar-right">
          <%= text_field_tag :email, nil, id:"emailInput1", class: "form-control", placeholder: "Email" %>
          <%= password_field_tag :email, nil, id:"emailInput2", class: "form-control", placeholder: "Password" %>
        <!--   <input type="text" class="form-control" id="emailInput1" placeholder="Email">
          <input type="text" class="form-control" id="emailInput2" placeholder="Password"> -->
          <%= submit_tag "Sign in", class: "btn btn-info" %>
          <!-- <button type="button" class="btn btn-info">Sign in</button> -->
        </div>
      </div>
    </div>
  <% end %>
<% end %>