<nav class="navbar navbar-fixed-top homepage" id="navigation-bar-top">
  <div class="container">
    <div class="navbar-header">
      <div class="brand">
        <%= image_tag("danish_flag.gif",  :class => "brand-image pull-left img-circle") %>
        <%= link_to "Danebook", root_path, :class => "navbar-brand" %>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="login" class="navbar-collapse collapse">
      <%= form_tag session_path, class: "navbar-form navbar-right" do %>
        <div class="form-group">
        <%= label_tag do %>
          <p>Email</p>
          <%= text_field_tag :email, nil, class: "form-control" %>
        <% end %>
        </div>
        <div class="form-group">
        <%= label_tag do %>
          <p>Password</p>
          <%= password_field_tag :password, nil, class: "form-control" %>
        <% end %>
        </div>
        <%= submit_tag "Log in" , class: "btn" %>

        <%= link_to "Github", "/auth/github", class: "btn" %>
      <% end %>
    </div>
</nav>
