<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Danebook
          </a>
        </div>
      </div>
      <div class="col-md-10">
        <% if signed_in_user? %>
          <div class="navbar-form navbar-right">
            <%= link_to "Logout", session_path, method: :delete %>
          </div>
        <% else %>
          <%= form_tag session_path, class: "navbar-form navbar-right" do %>
            <div class="form-group">
              <%= text_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
              <%= text_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
              <%= label_tag do %>
                Remember me?
                <%= check_box_tag :remember_me, class: "form-control"%>
              <% end %>
            </div>
            <%= submit_tag "Login", class: "btn btn-default" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
