<% if signed_in_user? %>
  <%= render "shared/signed_in_navbar" %>
  <%= render "shared/profile-topper" %>
<% else %>
  <%= render "shared/signed_out_navbar" %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <p><%= value %></p>
    </div>
  <% end %>
<% end %>
