<div class="panel panel-default">
  <div class="panel-heading text-center">
    Photos
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div><div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div><div class="col-sm-4">
        <div class="thumbnail">
          <%= link_to "#" do %>
            <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
          <% end %>
        </div>
      </div>
    </div>

    <p class="text-center"><a href="#">See More Photos</a></p>
  </div>
</div> <!-- /photos -->
