
  <div class="col-xs-2 comment-image">
    <%= link_to user_path(comment.user_id) do %>
      <% if comment.user.profile.prof_photo_id %>
          <%= image_tag comment.user.profile_picture.url(:profile) %>
      <% else %>
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">
      <% end %>
    <% end %>
  </div>
  <!-- commenter info and comment-->
  <div class="col-xs-10">
    <h6><%= link_to user_header_name(comment.user_id), user_path(comment.user_id) %>
      Posted on <%= comment.created_at.strftime("%m/%d/%Y") %></h6>
    <p><%= comment.body %></p>
    <div class="row">
      <div class="col-xs-1">
        <h6>
          <% if current_user.likes_post?(comment.id, "Comment").empty? %>
            <%= link_to "Like", likes_path(likeable_id: comment.id, likeable_type: "Comment"), method: 'post' %></h6>
          <% else %>
            <%= link_to "Unlike", like_path(find_like_id(current_user.id, comment.id, "Comment")), method: 'delete' %>
          <% end %>
        </h6>
      </div>

      <div class="col-xs-4">
        <h6> <%= render partial: "shared/like_count", locals: {content: comment} %></h6>
      </div>
      <div class="col-xs-2 col-xs-offset-4">
      <% if comment.user_id == current_user.id %>
      <h6><%= link_to "Delete Comment", comment_path(comment), method: :delete %></h6>
      <% end %>
    </div>
    </div>
  </div>