  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Photos (<%= user.photos.count %>)
                          </h4>
                      </header>
                      <div class="container-fluid">
                        <!-- 1st row -->
                        <div class="row"> 
                        <% 3.times do |i| %> 
                            <% if user.photos[i] %>
                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="<%= user_photo_path(user_id:user.id ,id:user.photos[i].id) %>">
                                        <img class="img-thumbnail" src="<%= user.photos[i].file.expiring_url(3600, :original) %>" alt="">
                                    </a>
                                </div>
                            </div>
                            <% end %>
                          <% end %>
                        </div>
                        <!-- 2nd row -->
                        <div class="row"> 

                         <% 3.times do |i| %> 
                            <% if user.photos[i+3] %>
                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="<%= user_photo_path(user_id:user.id ,id:user.photos[i+3].id) %>">
                                        <img class="img-thumbnail" src="<%= user.photos[i+3].file.expiring_url(3600, :original) %>" alt="">
                                    </a>
                                </div>
                            </div>
                            <% end %>
                          <% end %>
                        <!-- 3rd row -->
                        <div class="row"> 

                            <% 3.times do |i| %> 
                            <% if user.photos[i+6] %>
                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="<%= user_photo_path(user_id:user.id ,id:user.photos[i+6].id) %>">
                                        <img class="img-thumbnail" src="<%= user.photos[i+6].file.expiring_url(3600, :original) %>" alt="">
                                    </a>
                                </div>
                            </div>
                            <% end %>
                          <% end %>
                    </div>
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="<%= user_photos_path(user_id: user.id) %>">
                            See All Photos
                        </a>
                    </div>
                </section>