<div class="col-xs-12" id="previous-post-container">
  <div class="row">
    <div class="col-xs-12" id="author-info">
      <%= link_to user_path(post.post_author_id) do %>
        <% if post.author.profile.prof_photo_id %>
        <%= image_tag post.author.profile_picture.url(:profile)  %>
      <% else %>
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">
      <% end %>
      <% end %>
      <h6><%= link_to user_header_name(post.post_author_id), user_path(post.post_author_id) %>
      <br>Posted on <%= post.created_at.strftime("%m/%d/%Y") %></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="post-content">
      <p><%= post.body %></p>
    </div>
  </div>
  <div class="row" id="post-feedback">
    <div class="col-xs-1">
      <% if current_user.likes_post?(post.id, "Post").empty? %>
        <h6><%= link_to "Like", likes_path(likeable_id: post.id, likeable_type: "Post"), method: 'post' %></h6>
      <% else %>
        <h6><%= link_to "Unlike", like_path(find_like_id(current_user.id, post.id, "Post")), method: 'delete' %></h6>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h6> <%= render partial: "shared/like_count", locals: {content: post} %></h6>
    </div>
    <div class="col-xs-2 col-xs-offset-4">
      <% if post.post_author_id == current_user.id %>
      <h6><%= link_to "Delete Post", post_path(post), method: :delete %></h6>
      <% end %>
    </div>
  </div>
  <div class="row" id="comments-section">
    <% post.comments.each do |comment| %>
      <%= render partial: "shared/comment_box", locals: {comment: comment} %>
    <% end %>
    <div class="col-xs-12" id="write-comment">
          <%= simple_form_for [@comment] do |comment_field| %>
            <%= comment_field.hidden_field :commentable_type, :value => "Post" %>
            <%= comment_field.input :body, class:"form-control", label: false, input_html: {rows: "1"}, placeholder: "Write a comment..." %>
          <div class="col-xs-2 col-xs-offset-8">
          <%= comment_field.submit "Post comment", class:"btn btn-primary btn-sm" %>
          </div>
      <% end %>
    </div>
  </div>
</div>