<div class="panel panel-default post">
  <div class="panel-body">
    <div class="row">
      <div class="media-left media-middle col-xs-2">
        <%= link_to user_path(p.user) do %>
          <%= display_profile_photo(p.user, "thumb") %>
        <% end %>
        </a>
      </div>
      <div class="media-body col-xs-8">
        <%= link_to user_path(p.user) do %>
          <h4 class="media-heading"><%= user_full_name(p.user) %></h4>
        <% end %>
        <h6>Posted on <%= p.created_at.strftime('%A') %> <time datetime=
        "<% p.created_at.strftime('%m/%d/%Y') %>"><%= p.created_at.strftime('%m/%d/%Y') %></time></h6>
      </div>
    </div>
    <div class="row">
      <br>
      <p class="col-xs-12"><%= p.content %></p>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-1">
        <%= display_like_button(user, p) %>
      </div>
      <div class="col-xs-1 col-xs-offset-7">
        <%= display_post_delete(p.user, p) %>
      </div>
    </div>
    <%= display_likers(user, p) %>
  </div>
  <div class="panel-body">
    <% if p.comments.any? %>
      <%= render partial: "shared/comments", locals: { p: p, user: user } %>
      <%= render partial: "shared/comment_form", locals: { user: user, p: p, comment: @comment } %>
    <% end %>      
  </div>
</div>