<div class="panel">
  <div class="panel-heading">
    <div class="media">
      <div class="pull-left">
        <%= link_to user_path(post.user.id) do %>
          <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to post.user.profile.full_name, user_path(post.user.id) %></h4>
        <span class="text-info">Posted on <%= post.created_at.strftime('%b %d, %Y') %></span>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <%= post.body %>
  </div>
  <div class="panel-footer">
    <!-- Actions -->
    <p>
      <u><%= link_to "Like", "#" %></u>
      <u><%= link_to "Comment", "#" %></u>
      <% if post.user.id == current_user.id %>
        <u><%= link_to "Delete", user_post_path(current_user, post), method: :delete, class: "pull-right" %></u>
      <% end %>
    </p>
    <!-- TODO -->
    <!-- Comment form -->
      <p><textarea class="form-control" rows="8" cols="80" placeholder="Write a comment..."></textarea></p>
      <div>
        <button class="btn btn-danger">Cancel</button>
        <button class="btn btn-primary pull-right">Comment</button>
      </div>
  </div>
</div>
