<section class="post">
  <div class="post-body" id="post-<%= post.id %>">
      <img src="<%= set_avatar_photo(post.user) %>">
      <div class="author-box">
          <a href="<%= user_path(post.user_id) %>">
              <%= post.user.first_name %>
              <%= post.user.last_name %>
          </a>
          <time>
            <%= post.created_at %>
          </time>
      </div>
      <p class="comment-area">
           <%= post.body %>
      </p>
  </div>
 
  <div class="nav-footer">
      <%= render "/likes/likes", obj: post %>
  </div>
  
  <%= render "/shared/comment_writer", post: post %>
</section>

