                    <section class="post">
                      <div class="post-body">
                          <img src="assets/user_silhouette_generic.gif">
                          <div class="author-box">
                              <a href="<%= user_path(post.user_id) %>">
                                  <%= post.user.first_name %>
                                  <%= post.user.last_name %>
                              </a>
                              <time>
                                <%= post.created_at %>
                              </time>
                          </div>
                          <p class="comment-area">
                               <%= post.body %>
                          </p>
                      </div>
                     
                      <div class="nav-footer">

                          <% if post.likes.where(user_id: current_user.id).empty? %>
                            <%= link_to "Like", likes_path(:id => post.id, :type => "Post"), method: :post , class: "link pull-left" %>

                          <% else %>

                            <%= link_to "Unlike", like_path(post.id, :type => "Post"), class: "link pull-left", method: "delete" %>

                          <% end %>
     
                          <% if post.user_id == current_user.id %>
                            <%= link_to "Delete", user_post_path(post.user_id, post.id), method: "delete" %>
                          <% end %>
                          <br>
                          <%= show_post_likes(post) %>

                      </div>
                      
                      <%= render "/shared/comment_writer", post: post %>
                  </section>

