<main class="container" id="main">
  <div class="row">
    <div class="col-xs-12" id="cover-photo">
    </div>  
  </div>

  <!-- logic to grey out tab of current page -->
  <% timeline_grey = about_grey = photos_grey = friends_grey = edit_grey = "" %>
  <% if @timeline %>
    <% timeline_grey = "grey-out" %>
  <% elsif @about %>
    <% about_grey = "grey-out" %>
  <% elsif @photos %>
    <% photos_grey = "grey-out" %>
  <% elsif @friends %>
    <% friends_grey = "grey-out" %>
  <% end %>
  <!--move conditional css classes to parent div tags-->
  <div class="row" id="nav-options">
    <div class="col-xs-2">
      <div id="profile-photo">
        <% if @page_owner.profile_picture %>
          <%= link_to image_tag(@page_owner.profile_picture.file.url(:medium)), user_photo_path(@page_owner, @page_owner.profile_picture) %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-2 content-center border-right border-left">
      <h4><%= link_to "Timeline", user_timeline_path(@page_owner), class: ["main-nav", timeline_grey] %></h4>  
    </div>
    <div class="col-xs-2 content-center border-right grey-background">
      <h4><%= link_to "About", user_about_path(@page_owner), class: ["main-nav", about_grey] %> </h4>
    </div>
    <div class="col-xs-2 content-center  border-right">
      <h4><%= link_to "Photos (123)", user_photos_path(@page_owner), class: "main-nav #{photos_grey}" %> </h4> 
    </div>
    <div class="col-xs-2 content-center border-right">
      <h4><%= link_to "Friends", user_friends_path(@page_owner), class: "main-nav" %> </h4>
    </div>
    <div class="col-xs-2">
      <% if current_user == @page_owner %> 
        <%= link_to "Edit Profile", user_about_edit_path(@page_owner), class: "float-right" %>
      <% elsif signed_in_user? && @friendship %>
        <%= link_to "Unfriend", user_friendship_path(@page_owner, @friendship), method: "DELETE" %>
      <% elsif signed_in_user? %>
        <%= link_to "Add Friend", user_friendships_path, method: "POST" %>
      <% else %>
        <p class="float-right">Sign up to start adding friends!</p>
      <% end %>
    </div>
  </div>  
</main>