<div class="container cover-section">
  <div class="cover-photo-container">
    <img class="cover-photo" src="/imgs/hogwarts_small.jpg">
    <img class="profile-img" src="/imgs/harry_potter_small.jpg">
    <h2 class="profile-name"><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
  <div class="row midde-nav-row">
    <div class="col-xs-7 col-xs-offset-3">
      <ul class="nav nav-pills middle-nav">
        <li><%= link_to "Timeline", user_activities_path(@user) %></li>
        <li><%= link_to "About", @user %></li>
        <li>
        <%= link_to "#" do %>
          Photos
          <%= content_tag(:span, "(123)", class: "middle-nav-count") %>
        <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          Friends
          <%= content_tag(:span, "(542)", class: "middle-nav-count") %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="nav nav-pills">
        <li class="pull-right edit-link" role="presentation">
        <%= link_to "Edit Profile", edit_user_path(@current_user), class: "pull-right edit-link" if !editing_profile? && required_user? %>
        </li>
      </ul>
    </div>
  </div>
</div>
