<header class="row">
  <div class="profile-top col-xs-12">
    <div class="profile-cover" style="background-image: url('<%= @user.cover %>')">
    </div>
    <div class="profile-text">
      <h2 class="profile-name"><%= @user.full_name %></h2>
      <%= unless is_self?
        if current_user.nil?
          link_to 'Add Friend', new_user_path, class: 'btn btn-primary' 
        else
          case @user.friendship_status(current_user)
            when nil
             link_to 'Cancel Request', cancel_friend_path(@user), method: :patch, class: 'btn btn-dull'
            when false
              link_to "Remove Friend", friend_path(@user, current_user), method: :delete, class: 'btn btn-dull'
            when true
              '<div class="btn btn-dull">Add Friend</div>'.html_safe
            when 'received'
              link_to 'Accept Request', accept_friend_path(@user), method: :patch, class: 'btn btn-success'
            when 'create'
              link_to 'Add Friend', user_friends_path(@user), method: :post, class: 'btn btn-primary'
          end
        end
           end 
        %>
    </div>
    <%=  image_tag("#{@user.avatar(:medium)}", alt: 'Generic User Silhouette', class: 'img-thumbnail profile-pic')  %>
    <nav class="profile-nav">
      <ul class="nav nav-pills">
        <li class="current"><%= link_to "Timeline", user_profile_path(@user) %></li>
        <li><%= link_to "About", user_about_path(@user) %></li>
        <li><%= link_to "Photos", user_photos_path(@user) %></li>
        <li><%= link_to "Friends", user_friends_path(@user) %> <span class="text-light">(<%= @user.friendships_count %>)</span></li>
      </ul>
      <p class="profile-edit"><%= link_to "Edit Profile", edit_user_path(@user) if is_self? %></p>
    </nav>
  </div>
</header>