<div class="container">
  <div class="row">
    <article class="top-main-section">
      <img id="cover-photo" href="./blooming_flower_garden_199003.jpg" style="height:300px; width:100%">
      <nav>
        <table class="timeline-links">
          <tr>
            <td class="link-wrapper empty"></td>
            <td class="first-link link-wrapper timeline-link <%= current_page?(user_timeline_path) ? 'link-background' : '' %>"><%= link_to "Timeline", user_timeline_path, class: "link" %></td>
            <td class="link-wrapper about-link <%= current_page?(user_profile_path) ? 'link-background' : '' %>"><%= link_to "About", user_profile_path, class: "link" %></td>
            <td class="link-wrapper photos-link <%= current_page?(user_photos_path) ? 'link-background' : '' %>"><%= link_to "Photos(347)", user_photos_path, class: "link" %></td>
            <td class="link-wrapper friends-link <%= current_page?(user_friends_path) ? 'link-background' : '' %>"><%= link_to "Friends(234)", user_friends_path, class: "link" %></td>
            <td class="edit-profile-link link-wrapper"><%= link_to "Edit Profile", edit_user_profile_path, class: "link" %></td>
          </tr>
        </table>
      </nav>

      <div class="name-pic-block">
        <img id="profile-pic"href="./cat.jpg" style="height: 200px; width: 200px;">
        <h1 id="profile-name"> <%= user.email %></h1>
      </div>
    </article>
  </div>
</div>
