<style media="screen">
  #banner { background-image: url("<%= cover_pic_url(@user)%>"); }
</style>

<div class="row" id="upper">
    <div class="container">
        <div class="row">
            <h3 id="username">
                <%= @user %>
            </h3>
            <span class="btn-group pull-right"><%= friending_link(@user) %></span>
        </div>
    </div>
    <div id="profile-pic">
    <%= profile_pic(@user) %>
    </div>

    <div class="col-sm-12" id="banner">
    </div>
    <div class="cover-nav">
        <div class="col-sm-4 pull-down"></div>
        <%= link_to "User Timeline", @user, class: "col-sm-2"  %>
        <%= link_to "About", user_profile_path(@user), class: "col-sm-2" %>
        <%= link_to "Photos", user_photos_path(@user), class: "col-sm-2" %>
        <%= profile_edit_link(@user) %>
    </div>
</div>
