<header class="row">
  <div class="profile-top col-xs-12">
    <div class="profile-cover" style="background-image: url('<%= asset_url(@user.cover) %>')">
    </div>
    <div class="profile-text">
      <h2 class="profile-name"><%= @user.full_name %></h2>
      <%= render partial: 'shared/friend_action_button', locals: { friend: @user } %>
    </div>
    <%=  image_tag("#{@user.avatar(:medium)}", alt: 'Generic User Silhouette', class: 'img-thumbnail profile-pic')  %>
    <nav class="profile-nav">
      <ul class="nav nav-pills">
        <li <%= 'class="current"'.html_safe if current_page?(user_profile_path(@user)) %>><%= link_to "Timeline", user_profile_path(@user) %></li>
        <li <%= 'class="current"'.html_safe if current_page?(user_about_path(@user)) %>><%= link_to "About", user_about_path(@user) %></li>
        <li <%= 'class="current"'.html_safe if current_page?(user_photos_path(@user)) %>><%= link_to "Photos", user_photos_path(@user) %></li>
        <li <%= 'class="current"'.html_safe if current_page?(user_friends_path(@user)) %>><%= link_to "Friends", user_friends_path(@user) %> <span class="text-light">(<%= @user.friendships_count %>)</span></li>
      </ul>
      <p class="profile-edit"><%= link_to "Edit Profile", edit_user_path(@user) if is_self? %></p>
    </nav>
  </div>
</header>