<div class="row">
  <div class="col-sm-12">
    <div class="hero-image">
      <%= image_tag "harry_potter_small.jpg", class: "profile-photo" %>
      <div class="username"><%= @profile.name %></div>
      <% if current_user.friended_users.include? @profile.user %>
        <%= button_to "Remove friend", user_unfriend_path(@profile.user), class: "btn btn-default friend-btn", method: :get %>
      <% else %>
        <%= button_to "Add user as friend", user_friend_path(@profile.user), class: "btn btn-default friend-btn", method: :get %>
      <% end %>
    </div>
    <nav class="profile-navigation-bar">
      <div class="profile-photo-spacer"></div>
      <div class="profile-navigation-item"><%= link_to "Timeline", user_posts_path(@profile.user) %></div>
      <div class="profile-navigation-item"><%= link_to "About", user_profile_path(@profile) %></div>
      <div class="profile-navigation-item"><a href="#!">Photos</a> <span class="badge">(123)</span></div>
      <div class="profile-navigation-item"><a href="#!">Friends</a> <span class="badge"><%= @profile.user.friended_users.count %></span></div>
    </nav>
  </div>
</div>
