<div class="container">
  <div class="row">
    <div clas="col-md-8">
      <%= image_tag("default_image.jpg", class: "profile-photo") %>
      <%= image_tag("default_cover.jpg", class: "cover-photo") %>
    </div>
  </div>
  <div class="row profile-navigation">
    <div class="col-md-2 timeline-link">
      <%= link_to "Timeline", user_path(@user) %>
    </div>
    <div class="col-md-2 about-link">
      <%= link_to "About", user_profiles_path(@user) %>
    </div>
    <div class="col-md-2 photos-link">
      <%= link_to "Photos (#{@user.photos.count})", user_photos_path(@user) %>
    </div>
    <div class="col-md-2 friends-link">
      Friends
    </div>
    <div class="col-md-4 edit-link">
      <%= link_to "Edit", edit_user_profiles_path(@user) if current_user == @user %>
    </div>
  </div>
</div>