<div id = "profile-nav" class = "row">
  <div class = "col-md-7 col-md-offset-3">
    <ul class = "nav nav-tabs " role = "profile-nav">
      <li><%= link_to "Timeline", user_timeline_path(@user) %></li>
      <li><%= link_to "About", user_profile_path(@user) %></li>
      <li><%= link_to "Photos (#{@user.photos.count})", user_photos_path(@user) %></li>
      <li><%= link_to "Friends (#{all_friends_count(@user)})", user_friendings_path(@user) %></li>
  </div>

  <% if current_user %>
    <div class = "col-md-2">
      <ul class = "nav">
      <li><%= link_to "Edit Profile", edit_user_profile_path(@user), class: 'edit-profile-link' %></li>
      </ul>
    </div>
  <% end %>
</div>