<%= form_for user, html: { class: "col-sm-6 sign_up_form" } do |f| %>
  <h1>Sign Up!</h1>
  <fieldset class="form-group row collapsable_group">
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control col-sm-6", placeholder: "First Name" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control col-sm-6", placeholder: "Last Name" %>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Your New Password" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password" %>
  </fieldset>
  <h2>Birthday</h2>
  <fieldset class="form-group row collapsable_group">
    <div class="col-sm-4">
      <%= f.collection_select :month, Month.all, :month, :month_name, { prompt: 'Month', selected: nil, :disabled => 'Month' }, class: "form-control"  %>
    </div>
    <div class="col-sm-4">
      <%= f.collection_select :day, Day.all, :day, :day, { prompt: 'Day', selected: nil }, class: "form-control"  %>
    </div>
    <div class="col-sm-4">
      <%= f.collection_select :year, Year.all_years, :year, :year, { prompt: 'Year', selected: nil }, class: "form-control"  %>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label class="radio-inline">
      <input type="radio" name="user[gender]" value="female" id="user_male"> Female
    </label>
    <label class="radio-inline">
      <input type="radio" name="user[gender]" value="male" id="user_female"> Male
    </label>
  </fieldset>
  <fieldset class="form-group row">
    <div class="col-sm-12">
      <input class="btn btn-success btn-lg sign_up_button" type="submit" value="Sign Up!"></input>
    </div>
  </fieldset>
<% end %>
