<article class = "col-md-12 comment">
  <div class = "col-md-2">
    <%= profile_photo(comment.user) %>
  </div>

  <div class = "col-md-10">
    <p class = "col-md-12 date-posted">
      <%= user_link(comment.user) %> said on <%= comment.created_at.to_formatted_s(:long) %>
    </p>

    <p class = "col-md-12 comment-body"><%= comment.body %></p>
    <span class = "col-md-1">
      <%= like_link(comment) %>
    </span>
    <span class = "col-md-8 col-md-offset-1"><%=like_sentence(comment).html_safe%></span>
    <span class = "col-md-2">
      <%= delete_comment_link(comment) %>
    </span>
  </div>
</article> <!--comment-->
