<!-- <div class="pages"> -->
  <div class="row">
    <%= image_tag("hogwarts_small.jpg", size: "2200x300", class: " col-md-12 banner-img") %>
    <h2 class="username-tag">Harry Potter</h2>
  </div>
  <div class="row toolbar">
    <div class="col-md-3 img-handler">
      <%= image_tag("harry_potter_small.jpg", size: "200x225", class: "profile-image") %>
    </div>
    <div class="col-md-1 nav-links">
      <%= link_to "Timeline", timeline_path %>
    </div>
    <div class="col-md-1 nav-links current-page">
      <%= link_to "About", about_path %>
    </div>
    <div class="col-md-1 nav-links">
      <%= link_to "Photos(123)", photos_path %>
    </div>
    <div class="col-md-1 nav-links">
      <%= link_to "Friends(542)", friends_path %>
    </div>
    <div class="col-md-5 nav-links">
      <%= link_to "Edit Profile", about_edit_path %>
    </div>  
  </div>
<!-- </div> -->