<nav class="navbar navbar-fixed">
    <section class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#slide-out">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Danebook</a>
      </div>

      
      <div class="collapse navbar-collapse" id="slide-out">


        <%= form_for User.new, url: login_path, method: :post, html: {class: "navbar-form navbar-right"}  do |f| %>
        <section class="form-group inline-form">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password%>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "Sign In", class: "btn btn-info" %>

        </section>
            
        <% end %>
          

      </div><!-- /.navbar-collapse -->
    </section><!-- /.container-fluid -->
  </nav>