<%= form_for user do |user_fields| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @profile do |fa| %>
      <%=fa.label :first_name %>
      <%=fa.text_field :first_name %>
      <br>
      <%=fa.label :last_name %>
      <%=fa.text_field :last_name %>
      <br>
      <%=fa.label :month %>
      <%=fa.text_field :month %>
      <br>
      <%=fa.label :day %>
      <%=fa.number_field :day %>
      <br>
      <%=fa.label :year %>
      <%=fa.number_field :year %>
      <br>
      <%=fa.label :gender %>
      <%=fa.text_field :gender %>
   <% end %>
  
  <%= user_fields.label :username %>
  <%= user_fields.text_field :username %>
  <br>
  <%= user_fields.label :email %>
  <%= user_fields.text_field :email %>
  <br>
  <%= user_fields.label :password %>
  <%= user_fields.password_field :password %>
  <br>
  <%= user_fields.label :password_confirmation %>
  <%= user_fields.password_field :password_confirmation %>

  <%= user_fields.submit "Sign Up" %>
<% end %>