<nav class="navbar navbar-dark bg-inverse row-eq-height">
  <div class="col-xs-2" style="height: 80%">
  
    <h4 class="nav-item active">
      Navigate
    </h4>

  </div>

  
    <div class="nav navbar-nav col-xs-10">

      <div class="col-xs-2 col-xs-offset-1">
        <span class="nav-item active">
          <%= link_to "Timeline", user_path(current_user), class: "nav-link"%>
        </span>
      </div>
      <div class="col-xs-2">
        <span class="nav-item">
          <%= link_to "About", user_profiles_path(current_user), class: "nav-link" %>
        </span>
      </div>

      <div class="col-xs-2">
       <span class="nav-item">
        <%= link_to "Photos", user_photos_path(current_user), class: "nav-link" %>
       </span>
      </div>

      <div class="col-xs-2">
         <span class="nav-item">
          <%= link_to "Friends(#{current_user.friended_users.length})", user_friendings_path(current_user), class: "nav-link" %>
        </span>
      </div>

      <div class="col-xs-3">
       <span class="nav-item pull-right">
          <%= link_to "Edit Profile", user_profiles_path(current_user) + '/edit', class: "nav-link"%>
        </span>
      </div>
    </div>
  
  
</nav>
  