<%= simple_form_for @post, :url => user_posts_path(current_user) do |f| %>

  <div class="col-xs-6" id="panels" style="border: solid; border-radius: 1px;">
    <div class ="row header-bar">  
      <div class="col-xs-6">
        <h4>Post</h4>
      </div>
    </div>

    <%= f.label :description %>
    <br>
    <%= f.input_field :description%>
    <br>

    <%= f.fields_for :photo, Photo.new do |photo_fields| %>
      <%= photo_fields.label :label %>
      <%= photo_fields.text_field :label %>
      <%= photo_fields.file_field :avatar %>
    <% end %>

      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          <%= f.submit "Post the Post" %>
          </ul>
          
      </div>
    </div>
  </div>

<% end %>