<% posts.each do |post| %>
  <div class="col-xs-6" id="panels">
    <div class ="row header-bar">  
      <div class="col-xs-12"> 
        <div class="container" id="friends">
          <div class="row row-eq-height">
            <div class="col-xs-3">
              <%= image_tag current_user.profile.photo.avatar.url(:thumb) %>
            </div>
            <div class="col-xs-9">
              <u><%= link_to "#{current_user.profile.first_name} #{current_user.profile.last_name}", user_path(current_user) %> </u>
              <span id="helpBlock" class="help-block">Posted on <%= post.created_at %> </span>
              <span>&nbsp</span>
            </div>      
          </div>
        </div>
      </div>
    </div>

    <div>
      <p> <%= post.description %> </p>

      <% if post.has_photo? %> 
        <%= image_tag post.photo.avatar.url(:medium) %>
      <% end %>
    </div>

    <div class ="row footer-bar">  
      <ul class="list-unstyled" id="post-footers">

        <li><%= link_to 'Destroy', user_post_path(current_user, post), :method => :delete, :confirm => "Are you sure?" %></li>

        <% if post.already_likes? %>
          <%= current_user.username %> likes this..
          
        <% else %>
          <li> <%=link_to "Like", user_post_likings_path(current_user, post), :method => :post, :confirm => "like this?" %> </li>
        <% end %>

        <li>
          <%= render partial: "shared/post_comment_form", locals: { post: post } %>
        </li>

        <li>
        <% unless post.comments.empty? %>
          <%= render partial: "shared/post_comment", locals: { comments: post.comments } %>
        <% end %>
        </li>


    </div>
  </div>
<% end %>