<% posts.each do |post| %>
  <div class="col-xs-12" id="comment-panels">
    <div class ="row header-bar">  
      <div class="col-xs-6"> 
        <div class="container" id="friends">
          <div class="row row-eq-height">
            <div class="col-xs-6">
              <% if current_user.profile.has_photo? %>

                <%= image_tag current_user.profile.photo.avatar.url(:small) %>
              <% else %>
                <%= image_tag "http://learngroup.org/assets/images/logos/default_male.jpg", style: "width: 300px, height: 300px" %>
              <% end %>
            </div>
            <div class="col-xs-6">
              <u><%= link_to "#{current_user.profile.first_name} #{current_user.profile.last_name}", user_path(current_user) %> </u>
              
            </div>      
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div id="helpBlock" class="help-block">Posted on <%= post.created_at %> 
        </div>
      </div>
    </div>

    <div>
      <p> <%= post.description %> </p>

      <% if post.has_photo? %> 
        <%= image_tag post.photo.avatar.url(:medium) %>
      <% end %>
    </div>

    <div class ="row footer-bar">  
      <ul class="list-unstyled" id="post-footers">
        <div class="col-xs-2" id="comment-options">
          <li>
          <%= link_to 'Destroy', user_post_path(current_user, post), :method => :delete, :confirm => "Are you sure?" %>  
          </li>
        </div>
        <div class="col-xs-2" id="comment-options">
          <% if post.already_likes? %>
            <li>
              <%= current_user.username %> likes this..
            </li>
          <% else %>
            <li> 
              <%=link_to "Like", user_post_likings_path(current_user, post), :method => :post, :confirm => "like this?" %> 
            </li>
          <% end %>
        </div>


        <li>
          <%= render partial: "shared/post_comment_form", locals: { post: post } %>
        </li>

        <li>
        <% unless post.comments.empty? %>
          <%= render partial: "shared/post_comment", locals: { comments: post.comments } %>
        <% end %>
        </li>
      </ul>


    </div>
  </div>
<% end %>