<% posts.each do |post| %>
  <div class="col-xs-6" id="panels">
    <div class ="row header-bar">  
      <div class="col-xs-12"> 
        <div class="container" id="friends">
          <div class="row row-eq-height">
            <div class="col-xs-3">
              <img alt="friend_picture" src="#">
            </div>
            <div class="col-xs-9">
              <u> <%= current_user.profile.first_name %> <%= current_user.profile.last_name %> </u>
              <span id="helpBlock" class="help-block">Posted on <%= post.created_at %> </span>
              <span>&nbsp</span>
            </div>      
          </div>
        </div>
      </div>
    </div>

    <p> <%= post.description %> </p>

    <div class ="row footer-bar">  
      <ul class="list-unstyled" id="footers">
        <li><%= link_to 'Destroy', user_post_path(current_user, post), :method => :delete, :confirm => "Are you sure?" %></li>
        <li><a href="#"><u>Like</u></a></li>
        <li><a href="#"><u>Comment</u></a></li>
        <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li></ul>
    </div>
  </div>
<% end %>