<div class="row friend-box">
  <div class="col-sm-3">
    <img src="<%= friend.profile_url %>">
  </div>
  <div class="friend-container">
    <div class="col-sm-6">
      <%= link_to friend.name, user_path(friend) %>
      <br>
      <span><%= pluralize(friend.friended_users.count, "Friend") %></span>
    </div>
    <div class="col-sm-2">
      <% if current_user.friended_user_ids.include?(friend.id) %>
        <%= link_to 'Unfriend', friendship_path(friend), method: :delete, class: 'btn btn-default' unless friend == current_user %>
      <% else %>
        <%= link_to 'Add Friend', user_friendships_path(friend), method: :post, class: 'btn btn-primary' unless friend == current_user %>
      <% end %>
      <%# link_to 'Unfriend', friendship_path(friend), method: :delete, class: 'btn btn-primary' if self_profile? %>
    </div>
  </div>
</div>
