<!-- About Container -->
			<div class ="row border-control">
				<div class= "col-xs-12">
					<h3 class= "small-title-section text-center">About</h3>
				</div>
				<div class= "col-xs-12">
					<table class= "table">
						<tr>
							<td><strong>Born on:</strong></td>
							<td>July 31, 1980</td>
						</tr>
						<tr>
							<td><strong>Went to school at:</strong></td>
							<td>Hogwarts</td>
						</tr>
						<tr>
							<td><strong>Hometown:</strong></td>
							<td>Godrick's Hollow, Englant</td>
						</tr>
						<tr>
							<td><strong>Currently Lives:</strong></td>
							<td>Godrick's Hollow</td>							
						</tr>
					</table>
				</div>
			</div><!-- End About Container -->


			<!-- Gallery Photos -->

			<!-- Header -->
			<div class= "col-xs-12">
				<h3 class= "small-title-section text-center">Photos <small>(123)</small></h3>
			</div>

			<div class= "row border-control text-center">
				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("icon_photo_small.png") %>>
					</a>
				</div>
				<a href="#">See More Photos</a>
			</div>



			<!-- Friends Gallery -->

			<!-- Header -->
			<div class= "col-xs-12">
				<h3 class= "small-title-section text-center">Friends <small>(100)</small></h3>
			</div>

			<!-- Gallery -->
			<div class= "row border-control text-center">
				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Ron Weasley</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Ginny Weasley</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src=<%= image_url("user_generic.png") %>>
					</a>
					<h5>Hermione Granger</h5>
				</div>
				<a href="#">See More Friends</a>
			</div>

