<%posts.each do |post|%>
    <div class="panel panel-primary">
          <div class="panel-body">
              <div class="row">
    
                    <div class="col-md-2">
                      <img class="friends-head" src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="friends"/>
                    </div>
                    
                    <div id="post-time" class="col-md-10">
                      <p><a><%=post.user.profile.first_name+" "+post.user.profile.last_name%></a> posted on <%= post.created_at%></p>
                    </div>
    
              </div>
                  
            <hr>
      
              <div class="row">
                  <div class="col-md-12">
                      <h3> 
                          <%=post.words%>
                      </h3>
                  </div>
              </div>
          
          </div>
          <div class="panel-footer">
                  <div class="row">
                          <%if Like.find_by(:user_id => current_user.id,
                                            :user_chat_id => post.id,
                                            :user_chat_type => "Post") %>
                              <div id = "footerinput" class="col-md-1">
                                    <p>
                                      <%@like = Like.find_by(:user_id => current_user.id,
                                                              :user_chat_id => post.id,
                                                              :user_chat_type => "Post")%>
                                      <%=link_to"unlike", post_like_path(@like, @like.id),  method: "delete"%>
                                    </p>
                              </div>
                          <%else%>
                              <div id = "footerinput" class="col-md-1">
                                    <p>
                                      <%=link_to"like", post_likes_path(post), method: "post"%>
                                    </p>
                              </div>
                          <%end%>
                          <%if post.user == current_user %>
                              <div id = "footerinput" class="col-md-2 col-md-offset-8">
                                    <p>
                                      <%=link_to"delete this post", post_path(user), method: "delete"%>
                                    </p>
                              </div>
                          <%end%>
                  </div>
                    
                  <div class="row">
                          <div id = "footerinput" class="col-md-12">
                          </div>
                            <hr>
                            <div class="comment">
                                  <%post.comments.each do |c|%>
                                          <%if c.user != nil%>
                                          <div class="row">
                                          <div class="col-md-2 col-md-offset-2">
                                                  <img class="friends-head" src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="friends"/>
                                          </div>
    
                                          <div id="post-time" class="col-md-8">
                                            
                                                  <p><%=c.user.profile.first_name+c.user.profile.last_name%> posted on <%=c.created_at%></p>
                                            
                                          </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-md-8 col-md-offset-2">
                                                          <p> <%=c.words%></p>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-md-2 col-md-offset-2">
                                                    <%if Like.find_by(:user_id => current_user.id,
                                                                      :user_chat_id => c.id,
                                                                      :user_chat_type => "Comment") %>
                                                          <%@like = Like.find_by(:user_id => current_user.id,
                                                                      :user_chat_id => c.id,
                                                                      :user_chat_type => "Comment")%>
                                                          <p> <%=link_to"unlike", post_comment_like_path(c, @like, @like.id), method: "delete"%></p>
                                                    <%else%>
                                                          <p> <%=link_to"like", post_comment_likes_path(post, c), method: "post"%></p>
                                                    <%end%>
                                                  </div>
                                                  
                                                  
                                          </div>
                                          <%end%>
                                  <%end%>
                          </div>
                            <hr>
                          <div class="row">
                            <div class="col-md-1 col-md-offset-2">
                              <%=form_for ([post, post.comments.build]) do |p|%>
                                      <%=p.text_area(:words, :cols => 45, :rows => 3, :placeholder => "Comment what you want to say")%>
                          </div>
    
                          <div class="row">
                              <div class="col-md-2 col-md-offset-8">
                                      <%=p.submit 'Post', :class => "post-button btn-default"%>
                              </div>
                                <%end%>
                          </div>
                  </div>
         </div>
      </div>
  </div>
    <br>
<%end%>
