<%=render :partial => 'users/sign_in_navbar', :locals => {:email => @user.email}%>
<main class="container-fluid">
<section class="main-top row">
  <section class="col-md-8 col-md-offset-2">
    <figure class="top">
      <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="harry">
      <h1 id="name"><%=@user.profile.first_name+" "+@user.profile.last_name%></h1>
    </figure>
  </section>
  <section class="col-md-8 col-md-offset-2">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%=link_to "Timeline", users_path("html")%></li>
          <li><%=link_to "About me", user_path(@user)%></li>
          <li><a href="dane_photo.html">Photos(num)</a></li>
          <li><a href="dane_friends.html">Friends(num)</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to "edit your profile", edit_user_path(@user)%></li>
        </ul>
      </div>
    </nav>
  </section>
</section>
<section class="main-top row">
<div class="panel panel-primary col-md-8 col-md-offset-2">
  <div class="panel-heading">
    <h1 class="panel-title">ABOUT</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
    <article class="basic-information">
    <h2>Basic Information</h2>
    <ul>
      <li>Birthday: <%=@user.profile.birthday%></li>
    </ul>
    <h2>Contact Information</h2>
    <ul>
      <li>Email: <%=@user.email%></li>
    </ul>
    </div>
    </article>
    <div class="col-md-6">
    <article class="basic-information">
    <h2>Words to live by</h2>
    <p>
      <%=@user.profile.words_to_live_by%>
    </p>
    <h2>About me</h2>
    <p>
      <%=@user.profile.about_me%>
    </p>
    </article>
    </div>
    </section>
  </div>
</div>
</section>
</main>

