<div class="row commented" data-type="Comment" data-id="<%=comment.id%>">
  <hr>
  <div class="col-sm-2">
    <div class="thumbnail">
      <%= image_tag comment.user.profile.avatar_url %>
    </div>
  </div> <!-- col-md-2 end -->

  <div class="col-md-7 poster">
    <%= link_to comment.user.first_name, profile_timeline_path(comment.user.profile) %><span class="grey-text">  <%= comment.created_at.strftime('Said on %A %D') %></span>
    <p>
      <%= comment.body %>
    </p>
    <div class="clearfix">
      <div class="pull-left">
         <%= like_str(comment) %>
        </span>
        </div>
      <div class="pull-right">
        <%= link_to "Delete", comment_path(comment), method: :delete, remote: true, class: 'pull-right'  %>
      </div>
    </div>
  </div> <!-- col-md-7 end -->
</div>
