<article class="panel panel-default comments">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <%= image_tag p.user.profile.avatar_url %>
        </div>
      </div> <!-- col-md-2 end -->

      <div class="col-md-7 poster">
        <a href="#"><%= link_to p.user.first_name, profile_timeline_path(p.user.profile) %></a>
        <p class="grey-text"><%= p.created_at.strftime("Posted on %A %D") %></p>
      </div>
    </div> <!-- row end -->
    <div class="row">
      <div class="col-md-12">
        <p><%= p.body %></p>
      </div>
    </div>
  </div>
  <%= render partial: '/profiles/timeline_partials/post_footer',
             locals: {p: p} %>
</article> <!-- end comment panel -->