
<%= form_for(Comment.new ) do |f| %>
<div class="panel-footer clearfix">
  <div class="pull-right">
    <%= link_to "Delete", post_path(p), method: :delete  %>
  </div>
  <div >
    <%=like_str(p) %>
    <%= f.hidden_field :post_id, value: p.id %>
    <% p.comments.each do |comment| %>
    <%= render partial: '/profiles/timeline_partials/comment', locals: {:comment => comment} %>
    <% end %>
    <hr>
    <div class="col-md-10 col-md-offset-1 new-comment-field">
     <%= f.text_area :body, class: 'full_width' %>
     <%= f.submit "Comment", class: "pull-right" %> 
   </div>

 </div>
</div>
<% end %>