<!DOCTYPE html>
<html>
<head>
  <title>Realdane</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if user_signed_in?%>
  <%=render :partial => 'users/sign_in_navbar', :locals => {:user => current_user}%>
<%else%>
  <%=render 'sessions/sign_up_navbar'%>
<%end%>
  
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
  

<%= yield %>

</body>
</html>
