<%= form_for [photo, @comment] do |comment_fields| %>

  <div class="col-md-12">
    <div class="form-group" id = "comment-box">

      <%= comment_fields.text_area :body, class: "form-control", rows: "4", placeholder: "Write a comment..." %>

      <%= comment_fields.hidden_field(:commentable_type, value: photo.class.to_s) %>

      <%= comment_fields.hidden_field(:commentable_id, value: photo.id) %>

    </div>

    <div class="form-group">
      <%= comment_fields.submit "Comment", class: "col-md-3 pull-right btn btn-primary" %>
    </div>

  </div>
<% end -%>