<div class="row">
  <div class="photo-poster">
    <div class="col-sm-4">
      <div class="profile-photo">
        <%= profile_photo(photo.user, 'thumb') %>
      </div>
      
    </div>
    <div class="col-sm-8">
      <%= link_to photo.user.first_name, about_user_path(photo.user) %>
      <p><%= photo.created_at %></p>
    </div>  

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <p class="photo-likes">
        <%= like_or_unlike(photo) %> <%= like_count(photo) %>
      </p>    
  </div>
</div>
