<div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('<%= image_path('icon_photo_small.png') %>')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>