<main>
    <div class="container">
      <%= render partial: 'shared/cover' %>
      <%= render partial: '/shared/nav_menu' %>

  <section class="panel panel-default panel-custom">
    
    <div class="panel-heading clearfix">
      <%= link_to "Add a Photo", new_user_photo_path, class: 'btn btn-primary btn-sm pull-right'  if @user == current_user %>
      <h4 class="panel-text text-center">Photos</h4>
    </div><!-- end of panel -->

    <div class="panel-body">
      <div class="row about-info">
        <% @user.photos.each do |photo| %>
        <div class="col-md-4 picture-box">
          <%= image_tag photo.picture.url(:medium) %>
          <% %>
          <div class="pic-links">
            <div class="col-md-12">
              <%= link_to "Remove Picture", user_photo_path(current_user, photo), method: :delete if @user == current_user  %>
              <br>
              <%= link_to like_str(photo) %>   |       
              <%= link_to "Comment on this Photo.", user_photo_path(@user, photo)  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  </div> <!-- end of container -->
</main>