<!--HERO-->
<div class="container">
  <header class="hero">
    <div class="avatar"></div>
  </header>

  <!--SUB-NAVIGATION-->
  <%= render "shared/sub_navbar" %>
  <section class="nav-about">
    <h2>
      Photos
    </h2>
    <% if current_user.id.to_s == params[:user_id] %>
      <%= link_to "Add Photo!", user_upload_path(@user), :class => "btn btn-primary" %>
    <% end %>
  </section>

  <!--PHOTOS TABLE-->
  <main class="main-about photos">
    <div class="row">
      <% @photos.each do |photo| %>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <%= link_to (require_current_user_friends(photo) ? user_photo_path(@user, photo) : "" ) do %>
          <%= image_tag photo.image.url(:thumb) %>
            <time datetime="<%= photo.created_at %>" class="overlay">
              Uploaded
              <%= created_at_formatted(photo) %>
            </time>
          <% end %>
        </div>
      </div>

      <% end %>
    </div>
  </main>
</div>
