<br>
<br>
<br>
<br>
<br>
<br>

<div class="main" style="border: 1px solid black">
  <div class="row">
    <h1> Photo Gallery </h1>

    <div class="col-sm-12">
      <% @photos.each do |photo| %>
        <div class="col-sm-4">
          <p>Title: <%= photo.label %></p>
          <p>Date: <%= photo.created_at %></p>
          <span>
            <%= image_tag photo.avatar.url(:medium) %>
          </span>
          <p>
            <%= link_to "View", user_photo_path(current_user, photo), class: "btn btn-danger active" %> 
          </p>


        </div>


      <% end %>
    </div>

    <div class="col-sm-3 col-sm-offset-1">


   <h1> Add A New Photo </h1>

    <%= form_for :photo, :url => user_photos_path(current_user), :method => "post" do |photo_fields| %>
      <%= photo_fields.label :label %>
      <br>
      <%= photo_fields.text_field :label, class: "form-control" %>
      <br>
      <%= photo_fields.file_field :avatar, class: "btn btn-small btn-file"  %>
      <br>
      <%= photo_fields.submit class: "btn btn-primary"%>
    <% end %>
  </div>
  </div>
  

</div>