<section id ="interior-page">

  <%= render partial: "shared/header", locals: { user: @user } %>  

  <main class="container">
    <div class="row">
      <div class="panel panel-default col-xs-offset-1 col-xs-10">
        <div class="panel-heading row">
          <div class="panel-title">
            <h4 class="col-xs-offset-5 col-xs-2 text-center">
            Photos</h4>

            <% if @user == current_user %>

              <%= link_to "Add Photo!", new_user_photo_path(@user), class: 'btn btn-info col-xs-2 col-xs-offset-3' %>

            <% end %>

          </div>
        </div>
        <div class="panel-body">
          <div class="row">

            <% if @photos.any? %>

              <% @photos.each do |photo| %>

                <div class="col-sm-3 img-caption">

                  <%= link_to user_photo_path(@user, photo), class: "thumbnail word" do %>
                    <%= image_tag photo.photo.url(:small), class: "img-responsive" %><h5 class="pub-date text-center">Posted on <time datetime="<%= photo.created_at.strftime('%B %d %Y') %>"><%= photo.created_at.strftime('%B %d %Y') %></time></h5>
                  <% end %>

                </div>

              <% end %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </main>

</section>
