<% content_for :title do %>
  <title>Photos</title>
<% end %>
<div class="container">
  <div class="pages">
    <%= render partial: '/shared/toolbar', locals: { user: current_user, profile: current_user.profile } %>
    <div class="row about-title">
      <div class="col-md-12">
        <h3>Photos</h3>
      </div>
    </div>
    <div class="row ">
      <%= form_for(@photo) do |f| %>
        <div class="col-md-12 photo-main-content">
          <h4>Paste the URL to a photo on the web...</h4>
          <p><%= button_to "Use Web Photo", class: "btn btn-primary" %></p>
          <h2>or..</h2>
          <h4>Select a photo from your hard drive</h4>
          <p><%= f.file_field :avatar, class: "form-control" %>
          <p><%= f.submit "Upload Photo", class: "btn btn-block btn-success" %></p>
          </div>
        </div>
      <% end %>      
    </div>
  </div>
</div>