<div class='text-center'>
  <div class='spacer'>

    <h3>Paste the url to a photo on the web:</h3>
      <div class='form-inline'>
        <div class='form-group'>
        <%= form_tag user_photos_path(current_user.id), method: :post do %>
        <%= url_field_tag :image_url, nil, class: 'form-control' %>
        <%= hidden_field_tag :user_id, value: current_user.id %>
          <%= submit_tag "Use Web Photo", class: "btn btn-primary btn-large" %>
        <% end %>
        </div>
      </div>

  </div>


  <h2 class="spacer">or...</h2>
  <h3>Select a photo from your file system:</h3>

  <%= render partial: 'form' %>

</div>