<%= render partial: 'shared/header', locals: { user: current_user } %>

<div class="row section-title">
  <h1 class="text-center">Photos</h1>
</div>


<div class="row">
  <div class="content col-sm-12 photos-content">

  <div class="col-sm-offset-2 col-sm-8">
<div class="text-center">    
    <%= form_for @photo do |p| %>
        <h3>Paste the URL to a photo on the web...</h3>
        <%= p.text_field :url, placeholder: 'http://example.com/photo1.jpg', class: 'form-control' %>
        <br>
        <%= p.submit 'Use Web Photo', class: 'btn btn-info btn-large' %>
    <% end %>

      <h2>or....</h2>

    <%= form_for @photo do |p| %>
    <div class="form-control">
      <%= p.file_field :image %>
    </div>
        
        <br>
        <%= p.submit 'Upload Photo', class: 'btn btn-large btn-info' %>
    <% end %>
</div>
  </div>



  </div>  
</div>
