<%= render 'shared/search_nav' %>
<%= render 'shared/banner_nav' %>

<main class="container">
    <div class="row">
        <div class="panel panel-default col-xs-offset-1 col-xs-10">
            <div class="panel-heading row">
                <div class="panel-title">
                    <h4 class="col-xs-offset-5 col-xs-2 text-center">
                        Photos
                    </h4>

                    <% if current_user.id == @user.id %>
                      <%= button_to "Add Photo!", new_user_photo_path(@user), :method => "get", class: "btn btn-info col-xs-2 col-xs-offset-3" %>
                    <% end %>

                </div>
            </div>
            <div class="panel-body">
                <div class="row text-center">
                    <%= form_for [@user, @photo] do |f| %>
                    <div class="field">
                        <%= f.file_field :picture %>
                    </div>

                    <div class="actions">
                        <%= f.submit class: "btn btn-success"%>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</main>
