<main class = "container">

  <section id="photo-show">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2>Photos</h2>
        </div>
      </div>
    </header>

    <div class = "row">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-center" id = "photo-container">
            <%= image_tag @photo.data.url, class: "img-responsive" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 pull-right">
            <% if @photo.user == current_user %>
              <p>
                <%= link_to "Set as Profile", photo_set_as_profile_path(photo_id: @photo.id), method: :post %>
              </p>
              <p><%= link_to "Set as Cover", photo_set_as_cover_path(photo_id: @photo.id), method: :post %></p>
              <p><%= link_to "Delete Photo", photo_path(@photo), method: :delete, class: "text-danger", data: {confirm: "Are you sure you want to delete this photo?"} %></p>
            <% end -%>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-xs-2">
            <%=image_tag "user_silhouette_generic.gif", width: "75px", height: "75px" %>
          </div>
          <div class="col-xs-10">
            <p>
              <%= link_to @photo.user.name, @photo.user %>
            </p>
            <p class="date-posted">
              <%= @photo.created_at.to_formatted_s(:long) %>
            </p>
          </div>
        </div>

        <div class="row" id = "like-block">
          <div class="col-xs-2">
            <%= like_or_unlike_button(@photo) %>
          </div>
          <div class="col-xs-10">
            <%= comment_likes_message(@photo) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= render partial: 'comment_form', locals: {photo: @photo} %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= render partial: 'photo_comments', locals: {photo: @photo} %>
          </div>
        </div>

      </div>
    </div>

  </section>
</main>

<br>