<div class="container">

  <div class="row">
    <div class="col-md-7">
      <%= image_tag @photo.data.url %>
      <div class="like-btn pull-right">
          <br>
          <%= link_to "Delete This Photo", user_photo_path(@user.id, @photo.id), :method => :delete if @user == current_user %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="post">

          <div class="post-container">

            <div class="post-header-row">

              <div class="col-xs-2 post-pic">

                <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

              </div>

                <%= link_to @photo.user.full_name, user_path(@photo.user) %>

                <br>

                Posted on <%= @photo.created_at.strftime("%A %-m/%-d/%Y") %>

            </div>
          </div>
        <div class="comment-end-box">

        <div class="like-btn">

          <%= show_like_or_unlike(@photo) %>

        </div>

        <div class="like-btn">

        <!--   <a href="#">Comment</a> -->

        </div>

        <div class="like-btn">

          <%= show_like_count(@photo) %>

        </div>

      <div class="comment-section">

          <%= render partial: "comments/comment_list", :locals => {:post => @photo} %>

          <%= render partial: "comments/comment", :locals => {:post => @photo} %>

      </div>
  </div>
</div>