<div class="container">
  <div clas="row">
    <div class="col-xs-10 col-xs-offset-1 content-center" id="image-show">
      <%= image_tag @photo.file.url(:large) %>
      <div class="col-xs-12">

        <% if @photo.likes.count > 0 %>
          <p class="photo-likes">
            <%= pluralize(@photo.likes.count, "like") %>
          </p>
        <% end %>

        <% if liked?("Photo", @photo.id, current_user.id) %>
          <%= link_to "Unlike", user_photo_like_path(@page_owner, @photo.id, find_polymorphic_like("Photo", @photo.id, current_user.id).first.id), method: "DELETE", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Like", user_photo_likes_path(@page_owner, @photo, params: {likable_type: "Photo"}), method: "POST", class: "btn btn-primary" %> 
        <% end %>
      </div>


      <!-- comment form -->
      <div class="comment-field row border-2sides border-bottom grey-background">
        <div class="comment">
          <div class="col-sm-1">
            <img src="images/user_silhouette_generic.gif" class="small-profile-photo">
          </div>
          <div class="col-sm-11">
            <%= form_for [current_user, @commentable, @comment] do |comment_field| %>
            <div class="row">
              <div class="col-sm-12">
                <p><%= comment_field.text_area :body %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= comment_field.submit :comment %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- show comments -->
      <div class="col-xs-12">
        <% @photo.comments.each do |comment| %> <!-- currently in order of first->last (seems fine) -->
        <% if comment.persisted? %>

          <div class="comment-field row grey-background border-2sides border-bottom">
            <div class="comment">
              <div class="col-sm-1">
                <% if comment.author.profile_picture %>
                  <%= image_tag(comment.author.profile_picture.file.url, class: "small-profile-photo")  %>
                <% else %>
                  <%= image_tag("http://buira.org/assets/images/shared/default-profile.png", class: "small-profile-photo") %>
                <% end %>              
              </div>
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="grey-out"><%= link_to comment.author.name, user_timeline_path(comment.author) %> <%= comment.created_at.to_formatted_s(:rfc822).split(' ')[0..-3].join(' ')  %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p><%= comment.body %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      <% if liked?("Comment", comment.id, current_user.id) %>
                        <%= link_to "Unlike", comment_like_path(comment.id, find_polymorphic_like("Comment", comment.id, current_user.id).first.id), method: "DELETE" %>
                        <% else %>
                         <%= link_to "Like", comment_likes_path(comment, params: {likable_type: "Comment"}), method: "POST", class: "footer-link" %> 
                        <% end %>
                        <% if comment.likes.count > 0 %>
                          <span class="grey-out"><%= pluralize(comment.likes.count, "like") %>
                          </span>
                        <% end %>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

      <!-- cover/profile picture controls -->
      <div class="col-xs-12">

        <% if current_user == page_owner %>
          <%= link_to "Delete this photo.", user_photo_path(@user, @photo), method: "DELETE", class: "btn btn-success big-font", id: "delete_photo_button" %><br><br>
          <%= link_to "Use as profile picture", user_photo_profile_picture_index_path(@user, @photo), method: "POST", class: "btn btn-success big-font" %> 
          <%= link_to "Use as cover picture", user_photo_cover_photos_path(@user, @photo), method: "POST", class: "btn btn-success big-font" %> 
        <% end %>
      </div>
    </div>
  </div>
</div>