<section class="container" id="information-pane">
  <header class="row">
    <div class="col-sm-offset-2 col-sm-8 about-header">
      <h2>Photos</h2>
    </div>
  </header>

  <div class = "row" id = "photo-show-section">
    <div class = "col-sm-10 col-sm-offset-1">
      <div class = "row">

        <div class = "col-sm-7">

          <div class = "row">
            <div class = "col-sm-12">
              <%=image_tag @photo.image.url(:large), class: "photo-show-img" %>
            </div>
          </div>
          <!-- action links -->
          <div class = "row">
            <div class = "col-sm-12">
              <%= render partial: "photo_settings" if @user == current_user %>
            </div>
          </div>

          <div class = "row">
            <div class = "col-sm-12">
              <%= like_link(@photo) %>
            </div>

            <div class = "col-sm-12">
              <%= like_sentence(@photo)%>
            </div>
          </div>

        </div>

        <%= render partial: "photo_info" %>

      </div>
    </div>
  </div> <!-- row -->
</section> <!--information-pane -->

