<!--HERO-->
<div class="container">
  <%= render "shared/header" %>
  <!--SECTION BAR-->
  <!--SUB-NAVIGATION-->

  <%= render "shared/sub_navbar" %>
  <section class="nav-about">
    <h2>
      Photos
    </h2>
  </section>

  <!--PHOTOS TABLE-->
  <main class="main-about photos">
    <div class="row">

      <div class="col-xs-6">
        <%= image_tag @photo.image.url(:medium) %><br>
        <%= link_to "Set as Pofile", "#" %><br>
        <%= link_to "Set as Cover", "#" %><br>
        <%= link_to "delete photo", user_photo_path(@photo.id) %><br>
      </div>

      <div class="col-xs-6">
        <div class="post-body">
          <%= image_tag("user_silhouette_generic.gif") %>
          <div class="author-box">
            <%= full_name(@photo) %>
            <time datetime="6/1/2013" pubdate>
              <%= created_at_formatted(@photo) %>
            </time>
          </div>
        </div>
        like 3 others liked <br>

        <%= form_for :comment do |comment_field| %>
          <div class="form-group">
            <div class="nav-footer">
              <%= comment_field.text_area :body,  wrap: "hard", rows: "4", :placeholder => "Share your opinion...?", :class => "form-control" %>
              <% comment_field.hidden_field :photo_id, :value => @photo.id %>
              <div class="clearfix">
                <a href="#" class="like pull-left">
                  Cancel
                </a>
                <%= comment_field.submit "Comment", :class => "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        <% end  %>



        <% @photo.comments.each do |comment| %>
        <div class="post-body unfolded">
          <%= image_tag("user_silhouette_generic.gif") %>
          <div class="author-box-comment">
            <%= link_to "#{full_name(comment)}", user_path(comment.user.id) %>
            <time datetime="#{formatted_date(comment.created_at)}" pubdate>
              <%= formatted_date(comment.created_at) %>
            </time>
            <p class="comment-area">
              <%= comment.body %>
            </p>

            <!-- <div class="clearfix">
              <div class="like-area">
                <% if current_user_liked?(@photo) %>
                  <%= link_to "Unlike", likes_path(:like => {:likeable_id => comment.id, :likeable_type => comment.class.name} ), method: 'delete', class: "link pull-left" %>
                <% else %>
                  <%= link_to "Like", likes_path(:like => {:likeable_id => comment.id, :likeable_type => comment.class.name} ), :method=>:post, class: "link pull-left" %>
                <% end %>
                <% if number_of_likes(comment) > 0 %>
                  <%= number_of_likes(comment) %> other people like this
                <% end %>
                <% if current_user.id == comment.user_id %>
                  <%= link_to "Delete", comments_path(id: comment.id, user_id: comment.user_id), method: 'delete', class: "delete pull-right", data: { confirm: 'Are you Sure?' } %>
                <% end %>
              </div> -->
            </div>
          </div>
        </div>
        <% end %>





      </div>

    </div>
  </main>
</div>
