<main id="show-photo-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title col-xs-1 col-xs-offset-5" id="about-panel-title">Photos</h3>
            <div class="spacer"> </div>
          </div>
          <div class="panel-body post-panel" data-post-id="<%= @photo.id %>" data-post-type="photo">
            <div class="col-xs-7 panel-content ">
              <div class="col-xs-12">
                <%= image_tag(@photo.image.url, class: 'col-xs-12') %>
                <div class="col-xs-6">
                  <%= form_for @user do |user_fields| %>
                    <%= user_fields.hidden_field :profile_photo_id, value: @photo.id %>
                    <%= user_fields.hidden_field :profile_photo_id, value: @photo.id %>
                    <%= user_fields.submit 'Set as profile picture', class: 'btn btn-primary' %>
                  <% end %>
                </div>
                <div class="col-xs-6">
                  <%= form_for @user do |user_fields| %>
                    <%= user_fields.hidden_field :cover_photo_id, value: @photo.id %>
                    <%= user_fields.submit 'Set as cover photo', class: 'btn btn-success col-xs-offset-6' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xs-4 panel-content">
              <div class="row">
                <%= image_tag(@user.profile_photo.image.url(:thumb), class: 'col-xs-4 no-padding') %>
                <div class="col-xs-6">
                  <%= content_tag(:p, @photo.user.name, class: 'no-margin') %>
                  <%= content_tag(:p, @photo.updated_at.to_date, class: 'grey no-padding') %>
                </div>
              </div>
              <div class="row">
                <%= like_button_for(@photo) %>
                <%= content_tag(:p, construct_like_sentence(@photo.likes), class: 'col-xs-4 photo-show-num-people') if @photo.likes.any? %>
              </div>
              <div class="row">
                <div class="row">
                  <%= form_for Comment.new, url: photo_comments_path(@photo), remote: true do |comment_fields| %>
                    <%= comment_fields.text_area :comment_text, placeholder: 'Write a comment...', rows: 5, class: 'post-control col-xs-10 col-xs-offset-1' %>
                    <%= comment_fields.submit 'Comment', class: 'btn btn-primary col-xs-2 col-xs-offset-9 top-margin-10' %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="photo-comments-section comments">
                  <%= render @photo.comments.reverse %>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
