<main class="container content-container">

  <%= render :partial => "shared/header", :locals => { :user => @user } %>



<!-- Start of main About section -->
  <section id="photo-show" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-4 col-xs-offset-4 text-center">
                <h1 class="panel-title">Photos</h1>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <div class="row">


              <!-- LEFT SIDE -->
              <div class="col-md-7">

                <div class='row'>
                  <div class='col-xs-12'>
                    <div class='show-photo'>
                      <%= image_tag @photo.photo.url(:medium), class: 'img-responsive center-block' %>
                    </div>
                  </div>
                </div>

                <div class='row'>
                  <div class='col-xs-12'>

                    <%= render :partial => 'show_action_links', :locals => { :photo => @photo } %>

                    <div class="pull-left">
                      <%= display_like_links(@photo) %>
                    </div>

                    <%= render :partial => 'likes/likes_display', :locals => { :liked_object => @photo } if @photo.likers %>

                  </div>
                </div>

              </div>




              <!-- RIGHT SIDE -->
              <div class="col-md-5">


                <!-- inner panel -->
                <div class="panel panel-default">

                  <!-- body -->
                  <div class="panel-body">

                    <div class="media">
                      <div class='row'>

                        <div class="col-md-12">

                          <!-- Media list image -->
                          <div class="media-left">
                            <%= link_to user_path(@photo.poster) do %>
                              <%= image_tag user_image(@photo.poster), id: 'user-photo', class: 'media-object', size: '75x75', alt: "Photo poster's photo" %>
                            <% end %>
                          </div>  <!-- end of image section -->


                          <!-- Photo poster name and posted date -->
                          <div class="media-body">
                            <div class="media-heading">

                              <%= link_to @photo.poster.profile.full_name, user_path(@photo.poster) %>

                              <br>

                              <time datetime=<%= @photo.photo_updated_at %> pubdate>
                                <small><%= @photo.render_date %></small>
                              </time>

                            </div>
                          </div> <!-- media-body -->
                        </div>
                      </div>
                    </div> <!-- media object -->

                  </div> <!-- inner panel-body -->



                  <div class="panel-footer">

                    <!-- New comment -->
                    <div class="row">
                      <div class="col-xs-12">
                        <%= render :partial => 'comments/new', :locals => { :commentable => @photo } if signed_in_user? %>
                      </div>
                    </div> <!-- End of New comment -->

                    <div class='row'>
                      <div class='col-md-12'>


                        <!-- Comments media list -->
                        <div class="row comments-wrapper">
                          <%= render_comments(@photo) %>
                        </div> <!-- End of Comments media list -->


                      </div>
                    </div>

                  </div> <!-- end of inner panel-footer -->


                </div> <!-- end of inner panel -->
              </div>
            </div>
          </div> <!-- end of outer panel body -->



        </div> <!-- end of outer panel -->

      </div>
    </div>
  </section>




</main> <!-- container -->