<main class="container content-container">

  <%= render :partial => "shared/header", :locals => { :user => @user } %>



<!-- Start of main About section -->
  <section id="photos" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-4 col-xs-offset-4 text-center">
                <h1 class="panel-title">Photos</h1>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <div class="row">


              <!-- LEFT SIDE -->
              <div class="col-md-8">

                <div class='row'>
                  <div class='col-xs-12'>
                    <div class='show-photo'>
                      <%= image_tag @photo.photo.url(:medium), class: 'img-responsive center-block' %>
                    </div>
                  </div>
                </div>

                <!-- action links -->
                <% if signed_in_user? %>
                  <div class='row'>
                    <div class='col-xs-12'>
                      <ul class="list-unstyled pull-right">
                        <li>
                          <%= link_to 'Set as Profile', user_photo_profile_photo_path(@user, @photo), method: 'PATCH' %>
                        </li>
                        <li>
                          <%= link_to 'Set as Cover', user_photo_cover_photo_path(@user, @photo), method: 'PATCH' %>
                        </li>
                        <li>
                          <%= link_to 'delete photo', user_photo_path(@user, @photo), method: 'DELETE', data: { confirm: "Delete photo?" } %>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>

              </div>




              <!-- RIGHT SIDE -->
              <div class="col-md-4">


                <!-- inner panel -->
                <div class=" panel panel-default">

                  <!-- body -->
                  <div class="media">
                    <div class='row'>

                      <div class="col-md-12">

                        <!-- Media list image -->
                        <div class="media-left">
                          <%= link_to user_path(@photo.owner) do %>
                            <%= image_tag 'user_silhouette_generic.gif', id: 'user-photo', class: 'media-object', size: '75x75', alt: "Photo owner's photo" %>
                          <% end %>
                        </div>  <!-- end of image section -->


                        <!-- Photo owner name and posted date -->
                        <div class="media-body">
                          <div class="media-heading">

                            <%= link_to @photo.owner.profile.full_name, user_path(@photo.owner) %>

                            <br>

                            <time datetime=<%= @photo.photo_updated_at %> pubdate>
                              <small><%= @photo.photo_updated_at %></small>
                            </time>

                          </div>
                        </div> <!-- media-body -->
                      </div>
                    </div>
                  </div> <!-- media object -->


                  <!-- Like links -->
                  <div class='row'>
                    <div class='col-xs-12'>
                      <%= render :partial => 'likes/like_links', :locals => { :liked_object => @photo } if signed_in_user? %>
                    </div>
                  </div>



                  <!-- New comment -->
                  <div class="row">
                    <div class="col-xs-12">
                      <%= render :partial => 'comments/new', :locals => { :commentable => @photo } %>
                    </div>
                  </div> <!-- End of New comment -->



                  <div class="panel-footer">

                    <div class='row'>
                      <div class='col-md-12'>

                        <% if @photo.comments.count > 0 %>

                          <!-- Comments media list -->
                          <div id="comments-wrapper" class="row">
                            <%= render :partial => 'comments/comment', :collection => @photo.comments %>
                          </div> <!-- End of Comments media list -->

                        <% end %>

                      </div>
                    </div>

                  </div> <!-- end of inner panel-footer -->


                </div> <!-- end of inner panel -->
              </div>
            </div>
          </div> <!-- end of outer panel body -->



        </div> <!-- end of outer panel -->

      </div>
    </div>
  </section>




</main> <!-- container -->