<div class="container">
  <div class="row info-section">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
          <h2 class="panel-title text-center">Photos</h2>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="img text-center"><%= image_tag @photo.photo_data.url(:medium)%></div>
            <% if current_user.id == @photo.user_id %>
              <ul class="list-unstyled pull-right">
                <li><%= link_to "Set as Profile", user_profile_path( :profile => { 
                  :id => current_user.profile.id, 
                  :user_id => current_user.id,  
                  :profile_photo_id => @photo.id } ), method: :patch %>
                </li>
                <li><%= link_to "Set as Cover", user_profile_path( :profile => { 
                  :id => current_user.profile.id, 
                  :user_id => current_user.id,  
                  :cover_photo_id => @photo.id } ), method: :patch %>
                </li>
                <li><%= link_to "Delete", user_photo_path(params[:user_id], @photo), method: :delete  %></li>
              </ul>
            <% end %>
          </div>
          <div class="col-md-4">
            <div class="row">
              <%= @photo.user.full_name %>
              <%= @photo.created_at %>
            </div>
            <div class="row">
              <div class="class col-md-4 left-justified">
                <%= like_links(@photo)%>
              </div>
              <div class="col-md-8">
                <%= user_like_info(@photo) %>
              </div> 
            </div>
            <div class="row">
              <%= render partial: "./comments/comment_form_for",
              locals: {comment: @photo.comments[-1], object: @photo}  %>
            </div>
            <div class="row">
              <% @photo.comments.each do |comment| %>

                <%= render partial: './comments/comment_partial', locals: {comment: comment} %>  
                      
              <% end %>
            </div>
            
          </div>
        </div>
      </div>  