<div class="container">
  <%= render "shared/header" %>

  <%= render "shared/sub_navbar" %>

  <section class="nav-about">
    <h2>
      Photos
    </h2>
  </section>

  <main class="main-about photos">
    <div class="container-fluid">
      <div class="row">

        <!-- LEFT COLUMN -->
        <div class="col-xs-7">
          <%= image_tag @photo.image.url(:medium), class: "centered-show-image" %><br>
          <div class="image-menu-wrapper">
            <% if @user.id == current_user.id %>
            <%= link_to "Set as Pofile", user_photo_path(@user, @photo, :type => 'profile'), :method=>:patch, class: "pull-right" %><br>
            <%= link_to "Set as Cover", user_photo_path(@user, @photo, :type => 'cover'), :method=>:patch, class: "pull-right" %><br>
            <%= link_to "delete photo", user_photo_path(@user, @photo), method: 'delete', class: "pull-right", data: { confirm: 'Are you Sure?' } %><br>
            <% end %>
          </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-xs-5 ">
          <div class="row ">


            <div class="col-xs-3 post-body">
              <%= image_tag @user.profile_photo_id ? @user.photos.find(@user.profile_photo_id).image.url(:thumb) : 'user_silhouette_generic.gif' %>
            </div>

            <div class="col-xs-9">
              <div class="author-box">
                <%= full_name(@photo) %>
                <time datetime="<%= @photo.created_at %>" pubdate>
                  <%= created_at_formatted(@photo) %>
                </time>
              </div>
            </div>
          </div>

            <div class="col-xs-12">
              <%= render partial: 'posts/liking_box', :locals => {:post => @photo, :user => @user, :likeable => @photo} %>
            </div>
          <div class="row">

            <div class="col-xs-12">
              <%= render partial: 'comments/new_comment_form', :locals => {:commentable => @photo} %>
            </div>

            <div class="col-xs-12">
              <%= render partial: 'posts/comment', :locals => {:post => @photo} %>
            </div>
</div>
          </div>
        </div>

      </div>
  </main>
</div>
