<main class="photos-show">
   <!-- Bootstrap grid system -->
  <section class="content">
    <div class="container">
      <div class ="row">
        <!-- Page Heading -->
        <div class="col-md-12 heading">
          <h1>Photo</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 text-center large-photo-container">
          <%= image_tag @photo.image.url(:medium) %><br>
          <div class="pull-right">
            <%= link_to "Set as Profile", photo_path(@photo, :profile_user_id => current_user.id), :method => :put %><br>
            <%= link_to "Set as Cover", photo_path(@photo, :cover_user_id => current_user.id), :method => :put %><br>
            <%= link_to "Delete Photo", photo_path(@photo), method: "DELETE" %><br>
          </div>
        </div>
        <div class="col-md-4 photo-comments-container">
          <div class="row">
            <div class="col-md-3">
              <% if @profile_photo %>
                <%= image_tag(@profile_photo.image.url(:thumb), :class => "profile-image") %>
              <% else %>
                <%= image_tag("harry_potter_small.jpg", :class => "profile-image") %>
              <% end %>
            </div>
            <div class="col-md-9">
              <h3><%= "#{@user.first_name} #{@user.last_name}"%></h3>
              <% if @profile_photo %>
              <div class="annotation text-muted"><p><%= @profile_photo.created_at.strftime("%B %d, %Y") %></p></div>
              <% end %>
            </div>
          </div>
          <div class="row photo-comments-container">
            <%= link_to "Like", "#" %> 3 others like this.
            <%= render partial: 'comments/comment_photo_form', locals: {photo: @photo, comment: @comment} %>
            <%= render partial: 'photos/comments', locals: {p: @photo, comments: @photo.comments } %>

          </div>
        </div>
        </div>
      </div>
    </div> <!-- end of container -->
  </section>
</main>