<section id ="interior-page">

  <%= render partial: "shared/header", locals: { user: @user } %>  

  <main class="container">
    <div class="row">
      <div class="panel panel-default col-xs-offset-1 col-xs-10">
        <div class="panel-heading row">
          <div class="panel-title">
            <h4 class="col-xs-offset-5 col-xs-2 text-center">
            Photos</h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">

            <div class="col-md-8">

              <%= image_tag @photo.photo.url(:medium) %>

              <% if current_user == @user %>

                <p><%= link_to "Set as Profile" %></p>
                <p><%= link_to "Set as Cover" %></p>
                <p><%= link_to "Delete Photo", user_photo_path(@user, @photo), method: :delete %></p>

              <% end %>

            </div>

            <div class="col-sm-4">
              <div class="panel-body">
                <% if @photo.comments.any? %>
                  <% @photo.comments.each do |comment| %>
                    <h4><%= comment.author.full_name %></h4>
                    <p><%= comment.body %></p>
                    <%= display_comment_delete(@user, @photo, comment) %>
                    <%= display_like_button(@user, comment) %>
                    <%= display_likers(@user, comment) %>
                  <% end %>
                <% end %>
                <%= form_for [@user, @photo, @comment] do |c| %>
                  <%= c.text_area :body %>
                  <%= c.submit %>
                <% end %>
              </div>
            </div>
         

          </div>
        </div>
      </div>
    </div>
  </main>

</section>
