<%= render partial: "shared/header", locals: { active: :photos } %>

<main class="container commentable" id="photo-page-box">

  <div id="flash-messages">
    <%= render partial: "shared/flash" %>
  </div>

  <div class="row timeline-left-column timeline-right-column">
    <div class = "panel panel-default" data-id="<%= @photo.id %>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="panel-title">Photos</h2>
          </div>
          <div class="col-sm-2 pull-right">
            <%= link_to "<< Photos Page", user_photos_path(@user), class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      </div>

      <!-- side menu buttons -->

      <div class="panel-body row" id="single-photo">
        <div class="col-sm-10">
            <%= image_tag @photo.image.url %>
        </div>
        <% if self_profile? %>
          <div class="col-sm-2" id="menu-buttons">
              <%= form_tag user_path(current_user), method: :patch do %>
                <%= hidden_field_tag "user[profile_photo_id]", "#{@photo.id}" %>
                <%= submit_tag "Make this my profile photo!", class: "btn btn-primary" %>
              <% end %>
              <br>
              <%= form_tag user_path(current_user), method: :patch do %>
                <%= hidden_field_tag "user[cover_photo_id]", "#{@photo.id}" %>
                <%= submit_tag "Make this my cover photo!", class: "btn btn-primary" %>
              <% end %>
              <br>
              <%= link_to "Delete", user_photo_path, method: :delete, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>


      <div class="panel-heading photo-comments">
        
        <!-- likes -->
        <div class="photo-like-count">
          <%= render partial: "likes/photo_like_count", locals: { photo: @photo } %>
        </div>

        <!-- menu -->
        <div class="row">
          <div class="col-sm-1 photo-like">
            <%= render partial: "likes/photo_like", locals: { photo: @photo } %>
          </div>
          <div class="col-sm-1">
            <a href="#" class="comment-show">Comment</a>
          </div>
        </div>


        <!-- new comment -->
        <div class="new-comment">
          <%= form_for [current_user, @photo, @comment], remote: true do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_area :text, class: "form-control comment-text", rows: 2, placeholder: "Write a comment...", style:"resize: none" %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                <a href="#" class="comment-hide">Cancel</a>
              </div>
              <div class="col-sm-3 col-sm-offset-8">
                <%= f.submit "Comment", class: "btn btn-primary btn-block" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="comment-list">
          <!-- comments -->
          <% @photo.comments.order(created_at: :asc).each do |comment| %>
            <%= render partial: "comments/comment", locals: { comment: comment } if comment.persisted? %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</main>
