<article class="friends-copied-text-area left-section-article-heading">
  <h3 class="grey-back-ground">Friends(423)</h3>
   <%= render 'users/timeline/friend_thumbnail' %>
   <%= render 'users/timeline/friend_thumbnail' %>
   <%= render 'users/timeline/friend_thumbnail' %>
   <%= render 'users/timeline/friend_thumbnail' %>
   <%= render 'users/timeline/friend_thumbnail' %>
   <%= render 'users/timeline/friend_thumbnail' %>

  <!-- eventually will link to friends page -->
  <div class="more-link">
    <a href="#">See More Friends</a>
  </div>
</article>
