<div class="row">
  <div class="col-sm-12">

  <div class="photo-poster">
      <div class="col-sm-2">
        <div class="row">
          <div class="photo-container">
            <%= profile_photo(comment.user, 'thumb') %>
          </div>        
        </div>
      </div>

      <div class="col-sm-10">
        <div class="row">

          <%= link_to comment.user.first_name, user_timeline_path(comment.user) %>
          <p><%= comment.created_at %></p>            
          <p><%= comment.content %></p>
          <p>
            <span><%= like_or_unlike(comment) %></span>
            <span><%= like_count(comment) %></span>
            <span class='pull-right'>
              <%= delete_comment_link(comment) if comment.user == current_user %>  
            </span>
          </p>
        </div>
    
      </div>  
    </div>

  </div>      
</div>
<br>

