<% comments.each do |comment| %>
  <div class="media comment">
      <a class="media-left" href="#">
        <%= image_tag(comment.author.profile_photo.image.url(:thumb) ) %>
      </a>
    <div class="media-body">
      <%= link_to comment.author.name, about_user_path(comment.author), class: "media-heading"%></a> <span class="text-muted"><%= comment.commented_on %></span>
      <p><%= comment.text %></p>
        <% unless comment_liked_by_current_user(comment) %>
          <%= link_to "Like", like_post_comment_path(p,comment) %></a>
        <% else %>
          <%= link_to "Unlike", unlike_post_comment_path(p,comment) %></a>
        <% end %>
        <span class="text-muted"><%= comment.likes.size %> people like this</span>
      <% if comment.author == current_user %>
        <%= link_to "Delete", post_comment_path(p, comment), method: "DELETE" ,class: "pull-right"%></a>
      <% end %>
    </div>
  </div>
<% end %>