<section class="row" id="timeline-friends">
  <header class="col-md-12">
      <h4>Friends <%= ": " + friend_num %></h4>
  </header>

  <% friends.each do |friend| %>

    <div class="col-xs-4 friend">
      <a href= <%=user_posts_path(friend.id)%> >
        <%=image_tag friend.profile_photo %>
        <!-- switch to link below once defaults for profile photo set/re-seeded db / adjusted helper method-->
        <%# profile_pic_display(friend) %>
        <%#image_tag friend.profile_photo.picture.expiring_url(10, :thumb) %>
      </a>
      <p><%=link_to friend.full_name,
                        user_posts_path(friend.id) %></p>
    </div>

  <% end %>

  <div class="col-md-12 friend">
    <%= link_to "See more friends!",
                        friendings_path(user_id: params[:user_id]) %>
  </div>
</section>