<% if @user.has_posts? %>
  <% @user.posts.each do |post| %>
    <div class="media media-wrap">
      <div class="media-left">
        <a href="#">
          <div class="post-avatar">
            <%= image_tag(@user.avatar.url(:medium)) %>
          </div>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @user.username %><span class="text-muted pull-right"><small><%= post.created_at %></small></span></h4>
        <%= post.body %>
        <p><span class="pull-left"><%= likes_link(post) %></span><span class="pull-right"><%= post_delete_link(post) %></span></p>
        <div class="clearfix"></div>
        <div class="likes_count">
          <%= "#{post.likes_count}  " %><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <% likers_name(post).each do |name| %>
            <%= "  #{name}. " %>
          <% end %>
        </div>
        <hr>
        <p><strong>Comments:</strong></p>
        <%= render 'comments/index', object: post %>
        <%= render 'comments/new', object: post %>
      </div>
    </div>
  <% end %>
<% end %>
