<div class="about">
  <table class="table table-bordered">
  <caption class="text-center">About</caption>
  <tbody>
    <tr>
      <td>Born On:</td>
      <td><%= user.birthday.strftime("%B %d, %Y") if user.birthday %></td>
    </tr>
    <tr>
      <td>Went to school at:</td>
      <td>Hogwarts</td>
    </tr>
    <tr>
      <td>Hometown:</td>
      <td><%= user.profile.hometown if user.profile.hometown %></td>
    </tr>
    <tr>
      <td>Currently Lives:</td>
      <td><%= user.profile.current_city if user.profile.current_city %></td>
    </tr>
  </tbody>
  </table>
</div>



<div class="photos">
  <table class="table table-bordered">
    <caption class="text-center">Photos</caption>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2" class="text-center"><%= link_to "See more Photos" %></td>
    </tr>
  </tbody>
  </table>
</div>





<div class="friends">
  <table class="table table-bordered">
    <caption class="text-center">Friends</caption>
  <tbody>
    <% if all_friends(user).count.between?(1,6) %>

      <% all_friends(user).each do |friend| %>
      <tr>
        <td><%= link_to "#{friend.first_name} #{friend.last_name}", user_timeline_path(friend) %></td>
      </tr>
      <% end %>

    <% elsif all_friends(user).count > 6 %>
      <% 2.times do %>
        <tr>
          <% 3.times do %>
            <% friend = all_friends(user).sample %>
            <td><%= link_to "#{friend.first_name} #{friend.last_name}", user_timeline_path(friend) %></td>
        </tr>
      <% end %>
    <% end %>


    <% else %>
      <td class="text-center">No friends yet.</td>

    <% end %>

    <tr>
      <td colspan="2" class="text-center"><%= link_to "See more Friends", user_friendings_path(user) %></td>
    </tr>

  </tbody>
  </table>
</div>