<div class="nav-footer">
  <div class="liked-box">
    <% if current_user_liked?(post) %>
      <%= link_to "Unlike", likes_path(:like => {:likeable_id => post.id, :likeable_type => post.class.name} ), method: 'delete', class: "link pull-left" %>
    <% else %>
      <%= link_to "Like", likes_path(:like => {:likeable_id => post.id, :likeable_type => post.class.name} ), :method=>:post, class: "link pull-left" %>
    <% end %>

    <% unless @photo %>
      <%= link_to "Delete", user_post_path(current_user.id, post.id), method: 'delete', class: "delete pull-right", data: { confirm: 'Are you Sure?', remote: true } %><br>
    <% end %>
    
    <p>
      <% if number_of_likes(post) > 3 %>
        <%= list_who_liked(post) %>
        <%= number_of_likes(post) - first_few_likes(post).size %> others like this
      <% elsif number_of_likes(post) > 0 %>
        <%= list_who_liked(post) %>
        like this
      <% end %>
    </p>
  </div>
