<article>
  <div class="post post-with-comment">
    <img href="#" style="height:50px; width:50px;">
    <div class="post-header">
      <%=link_to user_full_name(post), user_timeline_path(post.user_id), class: "timeline-name-link" %>
      <p>Posted on <%= date_posted(post) %></p>
    </div><br>
    <br>
    <div class="post-comment-body">
      <p><%= post.body %></p>
    </div>
  </div>
  <div class="comment-area grey-back-ground">
    <div class="comment-header-area">
      <% if liked?(post, current_user, "Post") %>
        <%= link_to("unlike", like_path(like: {user_id: current_user.id, likable_id: post.id, likable_type: "Post" }), method: :delete) %>
      <% else %>
        <%= link_to("like", like_path(like: {user_id: current_user.id, likable_id: post.id, likable_type: "Post" }), method: :post) %>
      <% end %>
      <%= link_to "Delete", user_post_path(current_user, post),
                            method: "DELETE",
                            data: {
                              confirm: "Are you sure you would like to delete this post? This action cannot be undone"
                            } %>
      <p><%= list_likes(post, current_user, "Post") %></p>
    </div>
    <br>
    <article class="comment-body">
    <% if post.comments.empty? %>
      <%= render template: '/comments/new', locals: {user: current_user, comment: post.comments.build, commentable_id: post.id, commentable_type: 'Post'  } %>
    <% else %>
      <%= render template: '/comments/index', locals: {user: current_user, comments: post.comments } %>
      <hr style="border-color:black;">
      <%= render template: '/comments/new', locals: {user: current_user, comment: post.comments.build, commentable_id: post.id, commentable_type: 'Post'  } %>
    <% end %>
  </article>
</article>
