<article>
  <div class="post-area post-with-comment">
    <br>
    <%= render partial: '/shared/author_thumbnail', locals: { resource: post } %>
    <br>
    <div class="post-comment-body">
      <p><%= post.body %></p>
    </div>
  </div>
  <div class="comment-area grey-back-ground">
    <div class="comment-header-area">
      <%= render partial: '/shared/display_likes', locals: { resource: post } %>
      <% if current_user == post.user %>
        <%= link_to "Delete", comment_path(current_user, post),
                              method: :delete,
                              class: "pull-right",
                              data: {
                                confirm: "Are you sure you would like to delete this resource? This action cannot be undone"
                              } %>
      <% end %>
      <p><%= list_likes(post, current_user) %></p>
    </div>
    <br>
    <article class="comment-body">
    <% if post.comments.empty? %>
      <%= render template: '/comments/new', locals: {user: current_user, comment: post.comments.build, commentable_id: post.id, commentable_type: 'Post'  } %>
    <% else %>
      <%= render template: '/comments/index', locals: {user: current_user, comments: post.comments } %>
      <hr style="border-color:black;">
      <div class="comment-text-area-div">
        <%= render template: '/comments/new', locals: {comment: post.comments.build, commentable_id: post.id, commentable_type: 'Post'  } %>
      </div>
    <% end %>
  </article>
</article>
