<div class="row wrapper post-rows">
  <div class="col-sm-12">
    <div id="post-img"></div>
    <ul>
      <li><%= link_to post.author.profile.first_name, current_user %></a></li>
      <li>Posted on: <%= post.created_at.strftime("%x || %n %r") %></li>
    </ul>
  </div>
  <div class="col-sm-12 post-body">
    <p><%= post.body %></p>
  </div>
  <div class="col-sm-12">

  </div>
  <div class="col-sm-12">
    <p><%= link_to "Comment" %> | <%= post_likes_link(post) %> | <%= delete_post_link(post) %>
    </p>
  </div>
</div>
