<div class="row">
  <div class="col-xs-12">

    <div class=" panel panel-default">


      <%= render :partial => 'post_body', :locals => {  :post => post } %>



      <!-- Feedback section for likes and comments -->
      <div class="panel-footer">


        <!-- Row to hold links -->
        <div class="row">
          <div class="col-xs-12">

            <%= render :partial => 'likes/like_links', :locals => { :liked_object => post } %>

            <div class="pull-right">
              <%= link_to 'Delete', user_post_path(post.author, post), method: 'delete', alt: 'Delete this post' if post.author == current_user %>
            </div>

          </div>
        </div>  <!-- end of links row -->


        <!-- Row to track likes -->
        <div class="row">
          <div class="col-xs-12">
            <%= render :partial => 'likes/likes_display', :locals => { :liked_object => post } if post.likers %>
          </div>
        </div>  <!-- end of likes row -->


        <% if post.comments.count > 0 %>

          <!-- Comments media list -->
          <div id="comments-wrapper" class="row">
            <%= render :partial => 'comments/comment', :collection => post.comments %>
          </div> <!-- End of Comments media list -->

        <% end %>


        <!-- Post another comment (only if there are comments) -->
        <div class="row">

          <div class="col-xs-12">

            <%= render :partial => 'comments/new', :locals => { :commentable => post } %>

          </div>

        </div> <!-- End of Post another comment -->





      </div> <!-- end of panel footer -->


    </div> <!-- end of panel -->


  </div>
</div>