<div class="row wrapper post-rows">
    <div class="col-sm-12">
        <div id="post-img"></div>
        <ul>
            <li><%= link_to post.author.profile.first_name, current_user %></a>
        </li>
        <li>Posted on:
            <%= post.created_at.strftime("%x || %n %r") %></li>
    </ul>
</div>
<div class="col-sm-12 post-body">
    <p><%= post.body %></p>
</div>
<div class="col-sm-12">
    <p>
        <%= post_likes_link(post) %>
        <span>||</span>
        <%= delete_post_link(post) %>
    </p>
</div>
<div class="col-sm-8">
    <%= render partial: "/comments/form", locals: { commentable: post } %>
</div>
<div class="container">

    <% post.comments.each do |comment| %>
    <%= render partial: "/comments/comment", locals: { comment: comment, commentable: post } %>
    <br>
    <span>------------</span>
    <br>
    <% end %>

</div>
</div>
