<section class="post">
  <div class="post-body">
    <%= image_tag @user.profile_photo_id ? @user.photos.find(@user.profile_photo_id).image.url(:thumb) : 'user_silhouette_generic.gif' %>
    <div class="author-box">
      <%= link_to full_name(post), @user %>
      <time datetime="6/1/2013" pubdate>
        <%= formatted_date(post.created_at) %>
      </time>
    </div>
    <p class="comment-area">
      <%= post.body %>
    </p>
  </div>

  <%= render partial: 'liking_box', :locals => {:commentable => post, :post => post, :user => @user} %>

  <div class="clearfix"></div>

  <div class="post-body unfolded">
    <% if post.comments.any? %>
      <%= render partial: 'comment', :locals => {:post => post} %>
    <% end %>
      <%= render partial: 'comments/new_comment_form', :locals => {:commentable => post} %>
  </div>
</section>
