<div class="col-md-12" data-post-id=<%=post.id %>>
  <div class="post-section" >
    <div class="displayed-post">
      <div class="media"  >
        <div class="media-left">
          <%= image_tag("default_image.jpg", class: "post-photo") %>
        </div>
        <div class="media-body">
        <h4 class="media-heading">Posted by: <%=link_to from_user(post), user_path(post.from)%>
        on<%= post.created_at.strftime(' %b %d at %r')%></h4>
          <div class="panel-body">
            <p><%= post.content %> </p>
            <p><%= post.likes.count %> likes</p>
            <% if !post.comments.empty? %>
              <% post.all_comments.each do |comment| %>
                <%= render partial: "comments/comment_new", locals: {comment: comment, user: user} %>
              <% end %>
            <% else %>
            <% end %>
          </div>
            <% if post %>
              <%= form_for [post, post.comments.build] do |c| %>
                <%= image_tag("default_image.jpg", class: "comment-picture") %>
                <%= c.text_field :content, placeholder: "Write your comment here", class: "comment-text form-control", 'aria-label'=> "basic-addon1" %>
                <%= c.submit "Comment on Post", class: "btn btn-success comment-section" %>
              <% end %>
              <%= form_for [post, post.likes.build] do |like| %>
                <%= like.hidden_field :user_id, value: current_user.id %>
                <%= like.submit "Like", class: "btn btn-primary like-section"%>               
              <% end %>

            <%= link_to "Delete Post", user_post_path(current_user, post), method: :delete, class: "btn btn-danger delete-section", remote: true, data: {post_id: post.id} if current_user == user%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
