<div class="row timeline-post">
	<div class="col-xs-12">
		<!-- Top section of a post -->
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-2 photo-page-photo">
						<%= display_profile_photo(post.author) %>
					</div>
					<div class="col-xs-5">
						<div>
						<h4><%= link_to post.author.full_name, post.author %></h4>
						<h6><%= post.posted_on %></h6>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<%= post.body %>
					</div>
				</div>
			</div>
		</div>

		<!-- Bottom section of a post -->
		<% if current_user || post.has_likes?%>
			<div class="row timeline-post-bottombar">
				<div class="col-xs-12 selected">
					<div class="row">
				        <% if current_user %>
							<div class="col-xs-1">
							    <%= display_like_or_unlike_button(post) %>
							</div>
						<% end %>
						<% if current_user && post.author == current_user %>
							<div class="col-xs-1 col-xs-offset-8">
								<%= link_to "Delete", user_post_path(@user, post), method: 'delete' %>
							</div>
						<% end %>
					</div>
					<% if post.has_likes? %>
					<div class="row">
						<div class="col-xs-12">
							<%= present_likes_count(post).html_safe %>
						</div>
					</div>
					<% end %>
				</div>
			<div class="col-xs-12 selected">
				<%= render post.comments %>
				<% if current_user %>
					<%= render partial: "posts/comment_form", locals: {commentable: post, user_id: current_user.id} %>
				<% end %>
			</div>
		</div>
		<% else %>
			<div class="col-xs-12 selected">
				<%= render post.comments %>
			</div>
		<% end %>
	</div>
</div>
