<div class="row">
  <div class="col-xs-12">

    <div class=" panel panel-default">


      <%= render :partial => 'post_body', :locals => {  :post => post } %>



      <!-- Feedback section for likes and comments -->
      <div class="panel-footer">

        <%= render :partial => "post_footer", :locals => { :post => post } %>


        <%# if comments.count > 0 %>

          <!-- Comments media list -->
          <div id="comments-wrapper" class="row">

            <%# comments.each do |comment_info| %>
              <%# render :partial => "static_pages/timeline/timeline_post_comment",
                :locals => {  :comment_author => comment_info[:author],
                              :comment_date => comment_info[:date],
                              :comment_body => comment_info[:body],
                              :comment_self_like => comment_info[:self_like],
                              :comment_likes => comment_info[:likes] } %>
            <%# end %>

          </div> <!-- End of Comments media list -->


          <!-- Post another comment (only if there are comments) -->
          <div class="row">

            <div class="col-xs-12">

              <!-- <form id="comment-form"> -->
              <div class='comment-form'>

                <%= form_for Comment.new do |comment_fields| %>

                  <%= comment_fields.hidden_field :author_id, value: current_user.id %>
                  <%= comment_fields.hidden_field :post_id, value: post.id %>

                  <%= comment_fields.text_area  :body, class: 'form-control', rows: '3', placeholder: 'Write a comment...' %>
                  <!-- <textarea class="form-control" rows="3">Write a comment...</textarea> -->

                  <!-- separate row for Cancel & Comment buttons -->
                  <div class="row center-block">
                    <div class="col-xs-12">

                      <div class="pull-left">
                        <a href="#" alt="Cancel writing a comment">Cancel</a>
                      </div>

                      <div class="pull-right comment-button-wrapper">

                        <%= comment_fields.submit 'Comment', class: 'btn btn-primary btn-sm' %>
                        <!-- <button type="submit" class="btn btn-primary btn-sm">
                          Comment
                        </button> -->

                      </div>

                    </div>
                  </div> <!-- end of Cancel & Comment row -->

                <% end %>

              </div> <!-- comment-form -->
              <!-- </form> -->

            </div>

          </div> <!-- End of Post another comment -->


        <%# end %>



      </div> <!-- end of panel footer -->


    </div> <!-- end of panel -->


  </div>
</div>