<div class = "col-md-7 col-md-offset-1" id = "post-feed">

  <%= render partial: 'post_form' if @user = current_user %>

  <% @posts.each do |post| %>
    <article class='row single-post' data-id="<%=post.id%>">
      <header class='col-sm-12'>
        <div class='col-sm-2'>
          <%= image_tag("user_silhouette_generic.png") %>
        </div>
        <div class='col-sm-10'>
          <p><%= link_to post.user.name, post.user %></p>
          <p class='date-posted'>Posted on <%= post.created_at.strftime("%A %m\/%d\/%y") %></p>
        </div>
      </header>

      <section class='col-sm-12 post-body'>
        <p><%= post.body %></p>
      </section>

      <%= render partial: 'shared/likes_section', locals: {post: post} %>
      <%= render partial: 'shared/comments_section', locals: {parent: post} %>

    </article>
  <% end %>
</div>