<div class="row">


  <section class="post-content col-xs-11 col-xs-offset-1">
  <!-- User Info -->
    <div class="row">
      <div class="col-sm-2">
        <div class="photo-container">
          <%= profile_photo(user) %>
        </div>
      </div>

      <div class="col-sm-10">
        <%= link_to post.user.first_name, about_user_path(post.user) %>
        <p class="sub-heading">Posted on <%= post.created_at %></p>
        <p><%= post.content %></p>
      </div>
    </div>

  </section>



  <section class="post-bar col-xs-11 col-xs-offset-1">

    <%= render partial: 'posts/post_actions', locals: { post: post, user: user } %>
    <br>

<!-- Comments -->

    <% post.comments.each do |comment| %>
        <%= render partial: 'comment', locals: { comment: comment } %>
    <% end %>
      
    <%= render partial: 'posts/new_comment_form', locals: { commentable: post } %>

  </section>

</div>