      <section class="col-sm-12 bkg-fix buffer">
        <div class="post-body">
          <div class="post-friend row">
            <%= image_tag("default.png", class: "post-friend-thumb") %>
            <div class="post-friend-info">
              <a><h4><%= @user.name %></h4></a>
              <span><p>Posted on <%= date_in_words(post.created_at) %> </p></span>
            </div>
          </div>

          <div class="post-text buffer">
            <%= post.body %>
          </div>
        </div>


        <a>Like</a> -
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCommentForm<%=post.id%>">Comment</a> -
        <%= delete_post(post) %>
        <div class="row grey-footer">
          <div class="bottom-of-post col-sm-12">
            <div class="row">
              <div class="like-or-comment col-sm-4">
              </div>
            </div>
            <div class="likes-and-comments">
              <a>Herpderp Granger</a> likes this.
            <hr>
              <%= render 'shared/comments', resource: post unless post.comments.blank? %>
              <!-- This is a bit hacky, but it allows an easy way to open a new comment box for each post -->
              <div id="collapseCommentForm<%=post.id%>" class="accordion-body collapse">
                <div class="accordian-inner">
                <%= render 'shared/comment_form', resource: post %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>