<!-- Post -->
<div class="post col-xs-12">
  <header>
    <div class="row">
      <div class="col-xs-2">
        <div class="post-profile-image-container">
          <a href="/about">
            <img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
          </a>
        </div>
      </div>
      <div class="col-xs-8 post-info-container">
        <a href="/about">
          <%= post.user.name %>
        </a>
        <time>
          Posted on <%= post.date %>
        </time>
      </div>
    </div>
  </header>
  <article>
    <p>
      <%= post.body %>
    </p>
  </article>
  <footer class="post-footer">
    <div class="row post-footer-links">
      <div class="col-xs-1 like-link-container">
        <a href="#">
          Like
        </a>
      </div>
      <div class="col-xs-2 col-xs-offset-1 comment-link-container">
        <a href="#">
          Comment
        </a>
      </div>

      <% if is_current_user?(post.user) %>

        <div class="col-xs-8 delete-link-container">
          <%= link_to('Delete Post', user_post_path(post.user, post), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this post?'}, :class => 'text-danger') %>
        </div>

      <% end %>

    </div>

    <!-- Post Likes -->
    <div class="post-likes">
      <a href="#">
        Somebody Else
      </a>
      likes this
    </div>

  </footer>

  <!-- Post Comments -->
  <section class="post-comments">

    <% if post.comments.present? %>

      <%= render post.comments %>

    <% end %>

    <%= render :partial => 'comments/form', :locals => {:comment => post.comments.build, :commentable => post} %>

  </section>


</div><!-- post col -->



