
<div class="panel panel-default">
  <div class="panel-heading" data="<%=post.id%>"> 

    <% if post.user == current_user %>
      You posted on <%= post.created_at.strftime("%A %D") %>:

    <% else %>
      <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_timeline_path %><br/>
      Posted on <%= post.created_at.strftime("%A %D") %>
    <% end %>
  </div>

  <div class="panel-body">
    <%= post.body %>
  </div>



  <div class="panel-footer">

    <%= like_or_unlike(post) %>

    <%= link_to "Comment" %>

    <% if current_user == post.user %>
    <%= link_to "Delete", user_post_path(post.user, post), method: :delete, class: "pull-right", data: {confirm: "Are you sure?"} %>
    <% end %>

    <!-- likes -->
    <% unless post.likes.empty? %>
      <div class="panel-footer">
      <%= render partial: "shared/likes", locals: { likes: post.likes } %>
      </div>
    <% end %>

    <!-- existing comments -->
    <% if post.comments %>
      <% post.comments.each do |comment| %>
      <div class="panel-footer">
      <%= render partial: "comments/show_comment", locals: { comment: comment } %>
      </div>
      <% end %>
    <% end %>

    <!-- new comment form -->
    <% if current_user && @new_comment %>
      <div class="panel-footer">
        <%= render partial: "comments/new_comment", locals: { post: post } %>
      </div>
    <% end %>

  </div>
</div>

