<div class="tiny-font text-left">

  <% if !recent_post_activity.user.profile.image_id.nil? %>
     
    <% profile_pic = recent_post_activity.user.profile.image_id %>
     
    <%= image_tag Image.find(profile_pic).picture.url, 
        class: "img-thumbnail pull-left" %>
  <% else %> 
    <img src="../assets/frog-888798_640.jpg" class="img-thumbnail pull-left">
  <% end %>

  <br>

  <a href="<%= user_path(recent_post_activity.user) %>"> 
    <%= recent_post_activity.user.profile.first_name %> 
    <%= recent_post_activity.user.profile.last_name %>
  </a> 
  <br>
  Posted On <%= recent_post_activity.created_at.strftime("%a, %m/%d/%Y") %>
 <hr>
</div>