<% posts.each do |post| %>
<section class="row section-container">
  <div class="col-sm-12">
    <div class="row post-wrapper">
      <div class="col-xs-2 col-sm-1">
        <%= image_tag("harry_potter_small.jpg", class: "post-pic") %>
      </div>
      <div class="col-xs-9 col-sm-10 friend-name-wrapper">
        <p><%= link_to user.full_name, user_profile_path(user, user.profile), class: "like-link" %></p>
        <p>Posted on <%= post.updated_at.strftime("%A %-m/%-d/%Y") %></p>
      </div>
    </div>
    <div class="row post-wrapper">
      <div class="col-xs-12">
        <p class="post-content"><%= post.description %></p>
      </div>
    </div>
    <div class="row post-wrapper section-footer">
        <% if post.likers.include?(current_user) %>
          <div class="col-xs-7 col-sm-4">
            <%= button_to "Unlike", like_path( user_liked_id(post)), method: :delete, class: "goofy-btn unlike-class", id: "unlike-id"%>
          </div>
        <% else %>
          <div class="col-xs-7 col-sm-7">
            <%= button_to "Like", post_likes_path(post), method: :post, class: "goofy-btn like-class" %>
          </div>
        <% end %>

        <% if user == current_user %>
          <div class="col-xs-4 col-sm-4 text-right">
            <%= button_to("Delete", post, method: :delete, class: "goofy-btn delete-class") %>
          </div>
        <% end %>

      <% unless post.likers.empty? %>
        <div class="col-xs-12 like-listing-expanded hr-block">
            <p><%= print_likers(post) %></p>
        </div>
      <% end %>
      <hr>
      <div class="col-xs-12">
  			<div class="row post-wrapper">
            <% post.comments[0..6].each_with_index do |comment, index| %>

                  <%= render 'comments/comment', comment: comment, post: post, index: index %>

            <% end %>
            <%= render 'comments/new_comment_form', post: post %>
  				</div><!-- Comment content wrapper -->
        </div><!-- Comment wrapper -->
      </div>
    </div>
  </section><!-- Old Post Section -->
<% end %>
