<section id="interior-page">

  <%= render partial: "shared/header", locals: { user: @user } %>

  <main class="container">
    <div class="row">
      <div class="panel panel-default col-xs-offset-1 col-xs-10">

      
        <div class="row bottom-box">
          <div class="col-sm-5">
            <%= render partial: "shared/about", locals: { user: @user } %>
            <%= render partial: "shared/photos" %>
            <%= render partial: "shared/friends" %>
          </div>

          <div class="col-sm-7">
            <%= render partial: "form", locals: { user: @user, post: @post } %>
            <%= render partial: "post", locals: { user: @user, post: @post, posts: @posts } %>
          </div>
        </div>

      </div>
    </div>
  </main>

</section>

