<!--HERO-->
<div class="container">

  <header class="hero">
    <div class="avatar">
    </div>
    <div class="user-name">
      <div class="user-name-wrapper">
        <%= full_name_of_user(@user) %>
      </div>
    </div>
    <%= render "shared/add_remove_friend_btn", :locals => {} %>
  </header>

  <%= render "shared/sub_navbar" %>

  <main class="row">
    <article class="col-xs-4">
      <%= render "about_sidebar" %>

      <%= render "photos_sidebar" %>

      <%= render "friends_sidebar" %>
    </article>

    <article class="col-xs-8">
      <%= render "new_post" if current_user.id == @post.user_id %>

      <% @posts.each do |post| %>
        <%= render partial: "post", :locals => {:post => post, :user => @user} %>
      <% end %>
    </article>
  </main>

</div>
