<%= render partial: 'shared/navbar' %>
<main>
  <header class = "container" id="cover">

    <%= render partial: 'shared/cover_images' %>

    <!--secondary navbar-->
    <%= render partial: 'shared/second_nav' %>

  </header>

  <section class = "container" id="timeline">
    <div class = "row" id = "information-column">

      <!--details-->
      <aside class = "col-md-4" id = "details">
        <section class = "row" id = "timeline-about">
          <header class="col-md-12">
              <h4>About</h4>
          </header>

          <table class = "table about-table col-md-12">
            <tr>
              <td>Born on:</td>
              <td><%= @user.profile.birthday %></td>
            </tr>
            <tr>
              <td>Went to school at:</td>
              <td><%= @user.profile.college if @user.profile.college %></td>
            </tr>
            <tr>
              <td>Hometown:</td>
              <td><%= @user.profile.hometown if @user.profile.hometown %></td>
            </tr>
            <tr>
              <td>Currently Lives:</td>
              <td><%= @user.profile.current_city if @user.profile.current_city %></td>
            </tr>
          </table>
        </section>

        <section class = "row" id= "timeline-photos">
          <header class="col-md-12">
              <h4>Photos (123)</h4>
          </header>

          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-4 photo">
            <a class = "photo-link" href="#">
              <%= image_tag("user_silhouette_generic.png") %>
            </a>
            <div class = "photo-upload-date">
              <p>Uploaded January 1, 2015</p>
            </div>
          </div>
          <div class="col-md-12">
            <a href="photos.html">See more photos!</a>
          </div>

        </section><!--photos-->

        <section class = "row" id = "timeline-friends">
          <header class="col-md-12">
              <h4>Friends: <%= all_friends_count(@user) %></h4>
          </header>

          <% all_friends(@user).each do |friend| %>
            <div class="col-md-4 friend">
              <a class = "photo-link" href="#">
                <%= image_tag("user_silhouette_generic.png") %>
              </a>
              <p><%= link_to "#{friend.first_name} #{friend.last_name}", user_timeline_path(friend) %></p>
            </div>
          <% end %>

          <div class="col-md-12">
            <%= link_to "See more friends", user_friendings_path(@user) %>
          </div>
        </section>

      </aside>


      <!--post feed-->
      <%= render partial: 'post_feed' %>

    </div>
  </section>

</main>