<%= render 'shared/profile_header' %>
<section class="row">
  <aside class="col-sm-4 timeline-sidebar">
    <%= render 'info_box_about', profile: @user.profile %>
    <%= render partial: 'info_box_photos', locals: {photos: @user.photos.limit(9), user: @user } %>
    <%= render 'info_box_friends', friends: @user.friendees, user: @user %>
  </aside>
  <div class="col-sm-8">
    <section class="timeline-feed">
      <%= render partial: 'shared/post_form', locals: { user: @user, post: @post} %>
      <%= render partial: 'shared/post', collection: @posts, as: :post %>
    </section>
  </div>
</section>