<%= render partial: "./shared/navbar" %>
<main>
  <%= render partial: "./users/info" %>
  
    <div class="row timeline">
      <div class="col-md-12">
        <!-- This column will represent the left side of the timeline. -->
        <div class="col-md-4">
          <!-- This row will represent the About summary -->
          <%= render partial: "about_summary" %>

          <%= render partial: "photos_summary" %>

          <%= render partial: "friends_summary" %>
        </div>
      </div>

        <!-- </div> -->

        <!-- This column will represent the right side of the timeline. -->
        <div class="col-md-7 col-md-offset-1">
          <!-- This row will represent the post window. -->

          <% if current_user.id == params[:user_id].to_i %>
            <%= render partial: "post_form_for" %>
          <% end %>

          <% @posts.each do |post| %>
          <!-- This row will represent a post -->
            <div class="row timeline-post">
              <div class="col-xs-12">
                <!-- Top section of a post -->
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-sm-1">
                        <%= image_tag "harry.jpg" %>
                      </div>
                      <div class="col-sm-5">
                        <div>
                          <h4>
                            <%= link_to post.user.full_name, user_path(post.user_id)  %>
                          </h4>
                          <h6>Posted on <%= post.created_at %></h6>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <p><%= post.body%></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          

              <!-- Bottom section of a post -->
              <div class="row timeline-post-bottombar">
                <div class="col-xs-12 selected">
                  <div class="row">
                    <div class="col-xs-1">
                      <% if post.likes.include_user?(current_user) %>
                        <%= link_to "Like", likes_path(post_id:post.id), method: :post%>
                      <% else %>
                        <%= link_to "Unlike", like_path(post.likes.where(:user_id=>current_user.id), post_id:post.id), method: :delete %>
                      <% end %>
                    </div>
                    <div class="col-xs-1">
                      <%= link_to "Comment", new_comment_path(:user_id => current_user.id, :post_id =>post.id)  %>
          

                    </div>
                    <div class="col-xs-1 col-xs-offset-8">
                      <%= link_to "Delete", user_post_path(current_user, post), method: :delete  %>
                    </div>
                    <% if post.likes.length > 0 %>
                      <div class="row">
                        <div class="col-xs-12">
                          <% if post.likes.length < 4 %>
                            <% post.likes.each do |like| %>
                              <%= like.user.full_name %> and
                            <% end %>
                            like this.
                          <% else %>
                            <%= post.likes.count %> others like this.
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% post.comments.each do |comment| %>
              <% unless comment.body.nil? %>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="row timeline-post-comment">
                      <div class="col-xs-12">
                        <!-- Top section of a post -->
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="row">
                              <!-- <div class="col-sm-1">
                                <%= image_tag "default_photo.png" %>
                              </div> -->
                              <div class="col-sm-5">
                                <div>
                                <h4><%= link_to comment.user.full_name, user_profiles_path(comment.user)   %>
                                <h6><%= comment.created_at %></h6>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <%= comment.body %>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-1">
                                <% if post.likes.include_user?(current_user) %>
                                  <%= link_to "Like", likes_path(post_id:post.id), method: :post%>
                                <% else %>
                                  <%= link_to "Unlike", like_path(post.likes.where(:user_id=>current_user.id), post_id:post.id), method: :delete %>
                                <% end %>
                              </div>
                              <div class="col-sm-5">
                                <% if post.likes.length > 0 %>
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <% if post.likes.length < 4 %>
                                        <% post.likes.each do |like| %>
                                          <%= like.user.full_name %> and
                                        <% end %>
                                        like this.
                                      <% else %>
                                        <%= post.likes.count %> others like this.
                                      <% end %>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                                <% if comment.user_id == current_user.id%>
                                  <div class="col-sm-1 col-sm-offset-4 timeline-comment-delete">
                                  <%= link_to "Delete", comment_path(comment), method: :delete %>
                                <% end %>
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if post.comments.length > 0 %>            
              <%= render partial: "./comments/comment_form_for", locals: { post: post} %>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>