<main class="main timeline">
  <%= render partial: 'profiles/profile_header_and_links', locals: { user: find_user } %>
  <div class="container">
    <div class="bottom-main-section row">
      <section class="left-section col-xs-4">

      <%= render partial: 'users/timeline/about_block', locals: { user: find_user } %>

        <%= render partial: 'users/timeline/photo_block', locals: { user: find_user } %>

        <%= render partial: 'users/timeline/friend_block', locals: { user: find_user } %>

      </section>

      <section class="right-section col-xs-8">

        <%= render 'posts/new' %>

        <% unless find_user.posts.empty? %>

          <%= render partial: 'posts/post_index', locals: { user: find_user } %>

        <% end %> 

      </section>
    </div>
  </div>

</main>
