<div class="container">

          <!-- Current location header -->
          <main class="row">
              <article class="col-xs-4">
                  <%= render "/shared/about", user: current_user %>
                  
                  <!-- Photos aside -->
                  <%= render "/shared/pictures" %>

                <!-- Current location header -->
                <%= render "/shared/friends_side_main", user: current_user %>
              </article>

              <!-- Post Entry -->
              <article class="col-xs-8">
                  <%= form_for @post, url: user_posts_path(current_user.id) do |f| %>
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Post
                          </h4>
                      </header>
                      <div class="post-body">
                          <div class="form-group">
                              <%= f.text_area :body, wrap: "hard", rows: "4", class: "form-control" %>
                          </div>
                      </div>
                      <div class="nav-footer">
                          <%= f.submit "Post", class: "btn btn-primary" %>
                      </div>
                  </section>
                  <% end %>
                  
                  <!-- Top comments -->
                  <% @posts.each do |post| %>
                    <%= render "/shared/post", post: post%>
                  <% end %>
                 
                  </section>
              </article>
          </main>
      </div>