<main>
  <div class="container">

    <%= render partial: 'layouts/cover_and_profile_banner' %>

    <div class="row">
      <div class="col-sm-10">
        <%= render :partial => 'layouts/navbar' %>
      </div>
      <div class="col-sm-2 timeline-add-friend-button">
        <% if !object_owner? %>
          <%= link_to("Add Friend", user_friendships_path(:user_id => object_owner.id), class: "btn btn-primary btn-sm pull-right", method: :post) %>
        <% end %>
      </div>
    </div>

  <section class="timeline-wrap">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title timeline-panel-header">Photos <span class="grey-text">(123)</span></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
              </div>
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
              </div>
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/icon_photo_small.png" alt=""></a>
              </div>
            </div> <!-- end row -->

            <div class="text-center">
              <a href="#" class="text-center">See More Photos</a>
            </div>

          </div> <!-- end panel -->
        </div> <!-- end friends panel-->


        <div class="panel panel-default friends">
          <div class="panel-heading ">
            <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text">(542)</span></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

              </div>
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

              </div>
              <div class="col-sm-4">
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
              </div>
            </div> <!-- end row -->
            <div class="text-center">
              <a href="#" class="text-center">See More Friends</a>
            </div>
          </div>
        </div> <!-- end friends panel-->
      </div> <!--col-md -4 -->

      <!-- new post partial	 -->
      <div class="col-md-8">
        <% if object_owner? %>
      	 <%= render partial: 'new', :locals => {:user => current_user} %>
        <% end %>
      <!-- new comment partial -->
        <% if @posts %>
          <% @posts.each do |post| %>
            <%= render partial: 'show', :locals => {:post => post} %>
          <% end %>
        <% end %>
      <!-- end comment panel -->
      </div><!-- col-md-8 end -->
    </div> <!-- end of row -->
  </section>
</div> <!-- end of container -->
</main>