<main class = "container">

  <%= render :partial => 'shared/middle_navbar' %>

    <section class = "container" id="timeline-section">
      <div class="row">

        <aside class="col-md-4" id="basic-info">

          <%= render partial: 'about_panel', locals: {user: @user, profile: @profile} %>

          <%= photos_widget %>

          <%= friends_widget %>

        </aside>

        <!--timeline posts!-->
        <div class="col-md-7 col-md-offset-1" id="post-index">

          <%= post_form_display %>

          <!-- list all existing post below -->
          <div id="post-list">
            <%= render @posts %>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

  <br>