<div class="container">
          <%= render "/shared/second_nav" %>

          <!-- Current location header -->
          <main class="row">
              <article class="col-xs-4">
                  <%= render "/shared/about", user: current_user %>
                  
                  <!-- Photos aside -->
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Photos (123)
                          </h4>
                      </header>
                      <div class="container-fluid">
                        <!-- 1st row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 2nd row -->
                        <div class="row"> 

                          <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                        </div>
                        <!-- 3rd row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="photos.html">
                            See More Photos
                        </a>
                    </div>
                </section>

                <!-- Current location header -->
                <section class="post">
                    <header class="nav-post">
                        <h4>
                        Friends (<%= current_user.friended_users.count %>)
                        </h4>
                    </header>

                    <div class="container-fluid">
                      <!-- 1st row -->
                      <div class="row"> 
                      <%= render "/shared/friends_side", friend: current_user.friended_users.first%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users.second%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users.third%>
                      </div>
                      <div class="row">
                      <%= render "/shared/friends_side", friend: current_user.friended_users.fourth%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users.fifth%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users[6]%>
                      </div>
                      <div class="row">
                      <%= render "/shared/friends_side", friend: current_user.friended_users[8]%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users[7]%>
                      <%= render "/shared/friends_side", friend: current_user.friended_users[9]%>
                      </div>
                      <!-- 3rd row -->
                 
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="friends.html">
                            See More Friends
                        </a>
                    </div>
                </section>
              </article>

              <!-- Post Entry -->
              <article class="col-xs-8">
                  <%= form_for @post, url: user_posts_path(current_user.id) do |f| %>
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Post
                          </h4>
                      </header>
                      <div class="post-body">
                          <div class="form-group">
                              <%= f.text_area :body, wrap: "hard", rows: "4", class: "form-control" %>
                          </div>
                      </div>
                      <div class="nav-footer">
                          <%= f.submit "Post", class: "btn btn-primary" %>
                      </div>
                  </section>
                  <% end %>
                  
                  <!-- Top comments -->
                  <% @posts.each do |post| %>
                    <%= render "/shared/post", post: post%>
                  <% end %>
                 
                  </section>
              </article>
          </main>
      </div>