<div class="container">
  <%= render 'shared/profile_header_block' %>
  <div class="row">
    <div class="col-sm-4">
      <%= render 'shared/about_box' %>
      <%= render 'shared/photos_box' %>
      <%= render 'shared/friends_box' %>
    </div>
    <div class="col-sm-8">
      <%= render 'posts/authoring_box' %>
      <%= render partial: 'posts/show', collection: @posts, as: :post %>
    </div>
  </div>
</div>
