<div class="container">
          <%= render "/shared/second_nav" %>

          <!-- Current location header -->
          <main class="row">
              <article class="col-xs-4">
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          About
                          </h4>
                      </header>
                      <div class="post-body">
                          <table class="tab-timeline">
                              <tr>
                                  <th>
                                      Born on:
                                  </th>
                                  <td>
                                      July 31st, 1980
                                  </td>
                              </tr>
                              <tr>
                                  <th>
                                      Went to school:
                                  </th>
                                  <td>
                                      Hogwarts
                                  </td>
                              </tr>
                              <tr>
                                  <th>
                                      Hometown:
                                  </th>
                                  <td>
                                      Godrick's Hollow, England
                                  </td>
                              </tr>
                              <tr>
                                  <th>
                                      Currently live:
                                  </th>
                                  <td>
                                      Godrick's Hollow
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </section>
                  
                  <!-- Photos aside -->
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Photos (123)
                          </h4>
                      </header>
                      <div class="container-fluid">
                        <!-- 1st row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 2nd row -->
                        <div class="row"> 

                          <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                        </div>
                        <!-- 3rd row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="photos.html">
                            See More Photos
                        </a>
                    </div>
                </section>

                <!-- Current location header -->
                <section class="post">
                    <header class="nav-post">
                        <h4>
                        Friends (542)
                        </h4>
                    </header>

                    <div class="container-fluid">
                      <!-- 1st row -->
                      <div class="row"> 

                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Ron Weasley
                                  </a>
                              </div>
                          </div>

                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Ricky Jervais
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Bob Drake
                                  </a>
                              </div>
                          </div>
                      </div>
                      <!-- 2nd row -->
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Bugs Bunny
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Frank Zappa
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Don Van Vliet
                                  </a>
                              </div>
                          </div>
                      </div>
                      <!-- 3rd row -->
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      James Joyce
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Lauren Faust
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                      Herman Melville
                                  </a>
                              </div>
                          </div>
                      </div>
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="friends.html">
                            See More Friends
                        </a>
                    </div>
                </section>
              </article>

              <!-- Post Entry -->
              <article class="col-xs-8">
                  <%= form_for @post, url: user_posts_path(current_user.id) do |f| %>
                  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Post
                          </h4>
                      </header>
                      <div class="post-body">
                          <div class="form-group">
                              <%= f.text_area :body, wrap: "hard", rows: "4", class: "form-control" %>
                          </div>
                      </div>
                      <div class="nav-footer">
                          <%= f.submit "Post", class: "btn btn-primary" %>
                      </div>
                  </section>
                  <% end %>
                  
                  <!-- Top comments -->
                  <% @posts.each do |post| %>
                    <%= render "/shared/post", post: post%>
                  <% end %>
                 
                  </section>
              </article>
          </main>
      </div>