<!--HERO-->
<div class="container">

  <header class="hero">
    <div class="avatar"></div>
    <div class="user-name">
      <div class="user-name-wrapper">
      <%= full_name(@user.profile) %>
    </div>
    </div>
  </header>

  <%= render "shared/sub_navbar" %>

  <main class="row">
    <article class="col-xs-4">
      <%= render "about_sidebar" %>

      <%= render "photos_sidebar" %>

      <%= render "friends_sidebar" %>
    </article>

    <article class="col-xs-8">
      <%= render "new_post" if @post %>

      <% @posts.each do |post| %>
        <%= render partial: "post", :locals => {:post => post, :user => @user} %>
      <% end %>
    </article>
  </main>

</div>
