<main class="container content-container">

  <%= render :partial => "shared/header", :locals => { :user => @user, :toggled => "about" } %>




<!-- Start of main Timeline section -->
  <section id="timeline" class="row">
    <div class="row">



<!-- LEFT side -->
<!--            -->
<!--            -->
<!--            -->

      <div class="col-lg-5 visible-lg">

  <!-- row for Basic Info  -->
        <div class="row">
          <div class="col-xs-12">

            <div class=" panel panel-default">

              <div class="panel-heading">

                <h3 class="panel-title text-center">
                  About
                </h3>

              </div>


              <div class="panel-body col-sm-offset-1">

                <p><strong>Born on: </strong>July 31st, 1980</p>
                <p><strong>Went to school at: </strong>Hogwarts</p>
                <p><strong>Hometown: </strong>Godrick's Hollow, England</p>
                <p><strong>Currently lives: </strong>Godrick's Hollow</p>

              </div>

            </div> <!-- end of panel -->

          </div> <!-- end of col -->

        </div> <!-- end of row -->
<!-- end of Basic Info -->


  <!-- row for Photos  -->
        <div class="row">
          <div class="col-xs-12">

            <div class=" panel panel-default">

              <div class="panel-heading">

                <h3 class="panel-title text-center">
                  Photos <small>(123)</small>
                </h3>

              </div>


              <div class="panel-body">

                <% 3.times do %>
                  <div class="row">
                    <% 3.times do %>
                      <%= render "static_pages/timeline/timeline_photo" %>
                    <% end %>
                  </div>
                <% end %>


                <div class="col-xs-12 text-center">

                  <%= link_to "See more photos", photos_path, alt: "See more photos" %>

                </div>

              </div> <!-- end of panel body -->

            </div> <!-- end of panel -->

          </div> <!-- end of col -->

        </div> <!-- end of row -->
<!-- end of Photos panel -->




<!-- row for Friends  -->
        <div class="row">
          <div class="col-xs-12">

            <div class=" panel panel-default">

              <div class="panel-heading">

                <h3 class="panel-title text-center">
                  Friends <small>(542)</small>
                </h3>

              </div>


              <div class="panel-body">

                <% 2.times do %>
                  <div class="row">
                    <% 3.times do %>
                      <%= render "static_pages/timeline/timeline_friend" %>
                    <% end %>
                  </div>
                <% end %>


                <div class="row">

                  <div class="col-xs-12 text-center">

                    <%= link_to "See More Friends", friends_path, alt: "See more friends" %>

                  </div>

                </div>

              </div> <!-- end of panel body -->

            </div> <!-- end of panel -->

          </div> <!-- end of col -->

        </div> <!-- end of row -->
<!-- end of Friends panel -->

      </div>
<!-- end of LEFT side -->





<!-- RIGHT side -->
<!--            -->
<!--            -->
<!--            -->

      <div class="col-lg-7">


<!-- MAKE POST -->
        <%= render :partial => 'new', :locals => { :user => @user, :new_post => @new_post } if @user == current_user %>


        <%= render @posts %>



      </div>
<!-- end of RIGHT side -->

    </div>
  </section>




</main> <!-- container -->