<main class = "container">

  <%= render :partial => 'shared/middle_navbar' %>

    <section class = "container" id="timeline-section">
      <div class="row">

        <aside class="col-md-4" id="basic-info">

          <%= render partial: 'about_panel', locals: {user: @user, profile: @profile} %>

          <%= render partial: 'photo_panel' %>

          <%= render partial: 'friend_panel' %>

        </aside>

        <!--timeline posts!-->
        <div class="col-md-7 col-md-offset-1" id="news-feed">

          <% if current_user.id==params[:user_id].to_i %>

            <section id ="post-box">
              <%= form_for [current_user, @post] do |f|%>

                <header class="row">
                  <h4 class = "col-md-12">Post</h4>
                </header>
                <div class = "row" >
                  <div class="col-md-12 form-group comment-area">
                    <%= f.text_area :body, placeholder: "Tell the world something...", class: "form-control" %>
                  </div>
                </div>
                <div class = "row" >
                  <footer class="col-md-12">
                    <%= f.submit "Post", class: "btn btn-primary" %>
                  </footer>
                </div>

              <% end %>
            </section><!-- Ends post form -->
          <% end %>

          <!-- list all existing post below -->
          <%= render @posts %>

        </div>
      </div>
    </div>
  </section>
</main>

  <br>