  <div class="container" id="timeline-page">
    <div class="row">

      <!-- left column -->
      <div class="col-sm-4" id="left-column">
        <header class="row content-center grey-background" id="timeline-about">
          <div class="col-sm-12 border-3sides">
            <h4>About</h4>
          </div>
        </header>
        <div class="row border-3sides border-bottom">
          <div class="col-sm-10 col-sm-offset-1">
            <p><strong>Born on: </strong><%= @user.profile.birth_date.to_formatted_s(:rfc822) %></p>
            <p><strong>Went to school at: </strong><%= @profile.college %></p>
            <p><strong>Hometown: </strong> <%= @profile.hometown%> </p>
            <p><strong>Currently Lives: </strong> <%= @profile.currently_lives %></p>
          </div>
        </div>

        <!-- photos section -->
        <header class="row content-center grey-background" id="timeline-photos">
          <div class="col-sm-12 border-3sides">
            <h4>Photos (<%= @page_owner.photos.count %>) </h4>
          </div>
        </header>

        <div class="row padding-top border-3sides">
          <% @page_owner.photos.each do |photo| %>
            <div class="col-sm-4 small-photo-div">
              <%= link_to image_tag(photo.file.url(:thumb), class: "small-photo"), user_photo_path(@page_owner, photo) %>
            </div>
          <% end %>
        </div>
      
        <div class="row border-2sides border-bottom content-center">
          <div class="col-xs-12">
            <a href="photos.html" class="footer-link more-link">See More Photos</a>
          </div>
        </div>

        <!--friends section  -->
        <header class="row content-center grey-background" id="timeline-photos">
          <div class="col-sm-12 border-3sides">
            <h4>Friends (<%= @page_owner.friended_users.count + @page_owner.users_friended_by.count %>) </h4>
          </div>
        </header>
        <div class="row padding-top border-3sides">
          <% (@page_owner.friended_users + @page_owner.users_friended_by).each do |friend| %>
            <div class="col-sm-4 small-photo-div">
            <% if friend.profile_picture %>
              <%= link_to image_tag(friend.profile_picture.file.url(:thumb), class: "small-photo"), user_timeline_path(friend) %>
            <% else %>
              <%= link_to image_tag("http://buira.org/assets/images/shared/default-profile.png", class: "small-photo"), user_timeline_path(friend) %> 
            <% end %>
            </div>
          <% end %>

        </div>
        <div class="row border-2sides border-bottom content-center">
          <div class="col-xs-12">
            <a href="friends.html" class="footer-link more-link">See More Friends</a>
          </div>
        </div>          
      </div>

      <!--right column-->

      <div class="col-sm-7 col-sm-offset-1" id="right-column">
        <% if @user.id == params[:user_id].to_i %>
          <!--post creation section-->
          <%= form_for [@user, @post] do |post_fields| %>
          <header class="row content-center grey-background border-3sides">
            <div class="col-sm-12">
              <h4>Post</h4>
            </div>
          </header>
          <div class="row">
            <div class="col-sm-12 border-3sides">
              <div id="post-input-div">
                <%= post_fields.text_area :body, placeholder: "Tell the world something" %>
              </div>
            </div>
          </div>
          <div class="row grey-background border-3sides border-bottom">
            <div class="col-sm-2 col-sm-offset-10">
              <%= post_fields.submit :post, id: "post-button" %>
            </div>
          </div> 
          <% end %>
        <% end %>

        <!-- posts  -->
        <% @posts.each do |post| %>

          <div class="row border-3sides" id="posts-section" >
            <header>
              <div class="col-sm-1 small-profile-photo-div">
                <!--  <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>-->
                <% if post.author.profile_picture %>
                  <%= image_tag(post.author.profile_picture.file.url, class: "small-profile-photo")  %>
                <% else %>
                  <%= image_tag("http://buira.org/assets/images/shared/default-profile.png", class: "small-profile-photo") %>
                <% end %>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-12">

                    <a href="#"> <%= post.author.name %> </a>

                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">

                    <%= post.created_at.to_formatted_s(:rfc822).split(' ')[0..-3].join(' ') %>

                  </div>
                </div>
              </div>
            </header>
          </div>
          <div class="row post-content border-2sides">
            <div class="col-sm-12">

              <p><%= post.body %></p>

            </div>
          </div>

          <footer class="row border-3sides border-bottom grey-background">
            <div class="col-sm-12">

            <% if liked?("Post", post.id, current_user.id) %>
              <%= link_to "Unlike", post_like_path(post.id, find_polymorphic_like("Post", post.id, current_user.id).first.id), method: "DELETE", class: "footer-link"  %>
            <% else %>
              <%= link_to "Like", post_likes_path(post), method: "POST", class: "footer-link" %>
            <% end %>

            <%= link_to "Comment", post_path(post), class: "footer-link" %> 

            <% if @user.id == params[:user_id].to_i %>
              <%= link_to "Delete", user_post_path(@user, post), method: "delete", class: ["footer-link", "float-right"] %>
            <% end %>

            </div>
          </footer>


          <!-- all comments  -->
          
          <% post.comments.each do |comment| %> <!-- currently in order of first->last (seems fine) -->

          <div class="comment-field row border-2sides border-bottom grey-background">
            <div class="comment">
              <div class="col-sm-1">
                <% if comment.author.profile_picture %>
                  <%= image_tag(comment.author.profile_picture.file.url, class: "small-profile-photo")  %>
                <% else %>
                  <%= image_tag("http://buira.org/assets/images/shared/default-profile.png", class: "small-profile-photo") %>
                <% end %>              
              </div>
              <div class="col-sm-11">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="grey-out"><%= link_to comment.author.name, user_timeline_path(comment.author) %> <%= comment.created_at.to_formatted_s(:rfc822).split(' ')[0..-3].join(' ')  %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p><%= comment.body %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="grey-out"><%= link_to "Like", comment_likes_path(comment, params: {likable_type: "Comment"}), method: "POST", class: "footer-link" %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
        <!-- another post 
        <div class="row border-3sides" id="posts-section" >
          <header>
            <div class="col-sm-1 small-profile-photo-div">
              <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#">Harry Potter</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  Posted on Thursday 5/21/2014
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row post-content border-2sides">
          <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident facilis sint, fuga veritatis qui fugit similique quaerat possimus ea cupiditate dicta dolores, voluptates sed odio quam suscipit pariatur recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti labore voluptatibus doloribus dolorem doloremque, reiciendis laudantium minus molestiae libero nobis architecto molestias aliquam dolores veritatis neque. Fuga, possimus, neque?</p>
          </div>
        </div>
        <footer class="row border-3sides grey-background">
          <div class="col-sm-12">
            <a href="#" class="footer-link">Like</a>
            <a href="#" class="footer-link">Comment</a>
            <a href="#" class="footer-link float-right">Delete</a>
          </div>
        </footer>
        <div class="row border-2sides border-bottom grey-background">
          <div class="col-sm-12">
            <p><a class="user-link" href="#">Hermione Granger</a> likes this.</p>
          </div>
        </div>

        <!-- a third post 
        <div class="row border-3sides" id="posts-section" >
          <header>
            <div class="col-sm-1 small-profile-photo-div">
              <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#">Harry Potter</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  Posted on Thursday 5/21/2014
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row post-content border-2sides">
          <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident facilis sint, fuga veritatis qui fugit similique quaerat possimus ea cupiditate dicta dolores, voluptates sed odio quam suscipit pariatur recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti labore voluptatibus doloribus dolorem doloremque, reiciendis laudantium minus molestiae libero nobis architecto molestias aliquam dolores veritatis neque. Fuga, possimus, neque?</p>
          </div>
        </div>
        <footer class="row border-3sides grey-background">
          <div class="col-sm-12">
            <a href="#" class="footer-link">Unike</a>
            <a href="#" class="footer-link float-right">Delete</a>
          </div>
        </footer>
        <div class="row border-2sides grey-border-bottom grey-background">
          <div class="col-sm-12">
            <p class="grey-out">You and <a class="user-link" href="#">Hermione Granger</a> and 3 others this.</p>
          </div>
        </div>
        <!-- insert comment markup 
        <div class="row border-2sides grey-background">
          <div class="comment">
            <div class="col-sm-1">
              <img src="images/user_silhouette_generic.gif" class="small-profile-photo">
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="user-link">Ron Weasley</a> Said on Thursday 5/21/2014:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ex, saepe, quam doloremque debitis velit. Fugit quos quo nesciunt dignissimos id veritatis incidunt, adipisci expedita impedit vitae? Quibusdam, sint, possimus.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="footer-link">Like</a> 3 other people like this</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end comment markup -->
        <!-- insert comment markup 
        <div class="row border-2sides grey-background">
          <div class="comment">
            <div class="col-sm-1">
              <img src="images/user_silhouette_generic.gif" class="small-profile-photo">
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="user-link">Harry Potter</a> Said on Friday 5/22/2014:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ex, saepe, quam doloremque debitis velit. Fugit quos quo nesciunt dignissimos id veritatis incidunt, adipisci expedita impedit vitae? Quibusdam, sint, possimus.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p class="grey-out"><a href="#" class="footer-link">Like</a> 3 other people like this</p>
                </div>
                <div class="col-sm-2">
                  <a href="#" class="footer-link">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 grey-background border-2sides">
            <textarea class="write-comment border-3sides border-bottom" placeholder="Write a comment..."></textarea>
          </div>
        </div>
        <div class="row grey-background border-2sides border-bottom" id="page-end">
          <div class="col-xs-1">
            <a href="#" class="footer-link">Cancel</a>
          </div>
          <div class="col-xs-3 col-xs-offset-8">
            <input type="button" value="Comment" id="comment-button">
          </div>  
        </div>
      </div> 
      <!-- end of right column -->
    </div>  
  </div>

