<%= render 'shared/dbook_nav' %> 

<%= render 'shared/header' %>


<div class="row">
  <%= render 'timeline_sidebar' %>

<div class="col-sm-8">

<%= render 'new_post' if @user == current_user %>

    
<% @user.posts.each do |post| %>
  <section class="row">

    <section class="post-content col-xs-11 col-xs-offset-1">
    <!-- User Info -->
       <div class="poster">
           <img src="images/icon_photo_small.png">
           <div class="poster-name">
             <%= link_to post.user.first_name, about_user_path(post.user) %>
             <span>Posted on <%= post.created_at %></span>
           </div>
       </div>

    <!-- Post Body -->
    <p><%= post.content %></p>
`
    <!-- Comments -->
    </section>
      <div class="post-bar col-xs-11 col-xs-offset-1">
      <% post.comments.each do |comment| %>
        <%= render partial: 'comment', locals: { comment: comment } %>
      <% end %>
        <br>
      <%= render partial: 'new_comment_form', locals: { post: post } %>
      </div>
     </section>
 </section>   


    
<!--      
        <%= link_to 'Like' %>
        <%= link_to 'Comment' %>
        <%= link_to 'Delete', user_post_path(@user, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right' %>
        -->
  <% end %>


