<!-- TIMELINE -->
<%= render "shared/cover_section" %>

<section class="page-content">
 <!--  BOTH COLUMS ROW -->
  <div class="row top-buffer">

    <!-- LEFT - About, photos, and friends column  -->
    <div class="col-sm-5 fill">

      <!-- ABOUT -->
      <section class="col-sm-12 bkg-fix buffer" role="about">
        <div class="row grey-title">
          <h4>About</h4>
        </div>
        <ul class="buffer">
          <li><strong>Born on: </strong>July 31st, 1980</li>
          <li><strong>Went to school at</strong> Hogwarts</li>
          <li><strong>Hometown</strong> Godrick's Hollow, England</li>
          <li><strong>Currently Lives:</strong> Godrick's Hollow</li>
        </ul>
      </section> <!-- /ABOUT -->

      <!-- PHOTOS -->
      <section class="col-sm-12 bkg-fix buffer" role="photos">
        <div class="row grey-title">
          <h4>Photos</h4>
        </div>

        <div class="photos-body col-sm-12">
          <% @photos.each_with_index do |photo| %>
			      <div class="col-sm-3">
			        <%= image_tag(photo, :class => "img-thumbnail", :alt => "photo on the photo bar in the timeline", :title => "Timeline Photo") %>
			      </div>
          <% end %>

        </div> <!-- /photos-body -->

        <div class="row">
          <div class="bottom-link col-sm-12">
            <a href="./photos.html">See More Photos</a>
          </div>
        </div>
      </section> <!-- /PHOTOS -->

      <!-- FRIENDS  -->
      <section class="col-sm-12 bkg-fix buffer" role="friends">
        <div class="row grey-title">
          <h4>Friends <a href="#">(<%= count_friends(@user) %>)</a></h4>
        </div>
        <div class="col-sm-12">
          <div class="photos-friends-body col-sm-12">
            <%= render 'friendings/friends' %>
          </div>
        </div>


   <!--      <div class="col-sm-12">
          <div class="photos-friends-body col-sm-12">

            <div class="row">

              <div class="col-sm-3">
               <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>

              <div class="col-sm-3">
                <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>

              <div class="col-sm-3">
                <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-3">
                <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>

              <div class="col-sm-3">
                <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>

              <div class="col-sm-3">
                <%= image_tag("default.png", :class => "img-thumbnail") %>
                <div class="col-sm-12">
                  <a href="#">Ron Weasley</a>
                </div>
              </div>
            </div>

        </div> <!-- /photos-friends-body -->
        <div class="row">
          <div class="bottom-link col-sm-12">
            <a href="./friends.html">See More Friends</a>
          </div>
        </div>
      </section> <!-- /FRIENDS-->
    </div> <!-- /LEFT - about, friends and photos column -->

    <!-- RIGHT- Posts and comments -->
    <section class="col-sm-7 fill">

      <!-- New Post  -->
        <%= new_post %>
      <!-- /New Post -->


      <!-- Posts -->
        <%= render @posts %>
       <!-- /Posts -->

      <!-- Last post with like and comments -->
      <section class="col-sm-12 bkg-fix buffer">
        <div class="post-body">
          <div class="post-friend row">
            <%= image_tag("default.png", class: "post-friend-thumb") %>
            <div class="post-friend-info">
              <a><h4>Herpderp Granger<h4></a>
              <span><p>Posted on Derpsday 6/1/2104</p></span>
            </div>
          </div>
          <div class="post-text buffer">
            Quis nostrud non, adipisicing mixtape sriracha esse blog Neutra eu proident. Nesciunt veniam fanny pack, chillwave selvage ugh gluten-free eu cray irure nisi. Schlitz est aliquip velit flannel. Try-hard High Life ad letterpress you probably haven't heard of them ea. Est chambray placeat, distillery commodo Kickstarter nostrud fugiat veniam pug. Slow-carb.
          </div>
        </div>
        <div class="row grey-footer">
          <div class="bottom-of-post col-sm-12">
            <div class="row">
              <div class="like-or-comment col-sm-8">
                <a>Unike</a><br>
                <span>You and <a>Hermghr Grngr</a>and 3 others like this</span>
              </div>
              <div class="delete-post col-sm-4">
                <a>Delete</a>
              </div>
            </div>
            <hr>
            <div class="post-likes-and-comments">
              <a>Herppy Potter</a> likes this.
              <hr>

              <!-- COMMENT -->
              <div class="col-sm-12">
                <div class="comment-body">
                  <div class="col-sm-2">
                    <%= image_tag("default.png", class: "post-friend-thumb") %>
                  </div>
                  <div class="comment-friend">
                    <div class="comment-friend-info">
                      <a><h5>Mauricio Weasly<h5></a> <span>Said on Thrusday 5/21/1901</span>
                    </div>
                  </div>
                  <div class="comment-text col-sm-10 buffer">
                    Sriracha esse blog Neutra eu proident. Schlitz est aliquip velit flannel. Try-hard High Life ad letterpress you probably haven't heard of, distillery commodo Kickstarter nostrud fugiat veniam pug. Slow-carb.
                  </div>
                  <div class="">
                    <div class="like-or-comment col-sm-9">
                      <a>Like</a> <span>3 other people found this mildly interesting</span>
                    </div>
                    <div class="delete-post col-sm-3">
                      <a>Delete</a>
                    </div>
                  </div>
                </div>
              </div> <!-- /COMMENT -->

              <!-- COMMENT 2 -->
              <div class="col-sm-12">
                <div class="comment-body">
                  <div class="col-sm-2">
                    <%= image_tag("imgres.jpg", class: "post-friend-thumb") %>
                  </div>
                  <div class="comment-friend">
                    <div class="comment-friend-info">
                      <a><h5>Hermener Grenger<h5></a><span>Said on Thrusday 5/21/1901</span>
                    </div>
                  </div>
                  <div class="comment-text col-sm-10 buffer">
                    Sriracha esse blog Neutra eu proident. Schlitz est aliquip velit flannel. Try-hard High Life ad letterpress you probably haven't heard of, distillery commodo Kickstarter nostrud fugiat veniam pug. Slow-carb.
                  </div>

                  <div class="col-sm-12">
                    <div class="like-or-comment col-sm-9">
                      <a>Like</a> <span>2 other people found this mildly interesting</span>
                    </div>

                    <div class="delete-post col-sm-3">
                      <a>Delete</a>
                    </div>
                  </div> <!-- /like or comment container -->
                  <div>
                    <textarea class="post-input" placeholder="What's on your mind?" spellcheck="true"></textarea>

                    <div class="col-sm-12">
                          <a id="cancel">Cancel</a>
                          <button class="post-button navbar-right">Comment</button>
                    </div>
                  </div>
                </div>
              </div><!-- /COMMENT 2 -->
            </div> <!-- /LIKES AND COMMENTS -->
            <hr>
          </div> <!-- /bottom of post -->
        </div> <!-- /footer -->
      </section> <!-- /Post with like and comments -->

    </section>

  </div>
</section>