<div class="timeline">
  <div class="row">
    <div class="col-md-12">

      <%= render 'shared/cover_header' %>

      <main>
        <div class="row">
          <div class="col-md-7 col-md-push-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title text-center"><strong>New Post</strong></h3>
              </div>
              <div class="panel-body">
                <%= simple_form_for @post do |f| %>
                  <%= f.input :body, class: "form-control", label: false, :input_html => {:rows => 8} %>
                  <%= f.button :submit, class: "btn btn-primary btn-block btn-lg" %>
                <% end %>
              </div>
            </div> <!-- end of the new post panel -->


            <% if current_user.has_post? %>
              <% current_user.posts.each do |post| %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4> <small><%= post.created_at.to_date %></small></h4>
                    <p><%= post.body %></p>
                    <%= link_to "Delete", post_path(post), method: "delete", data: { confirm: "Are you sure you want to delete this post?" } %>
                  </div>
                  <div class="panel-footer">
                    <div class="row">
                      <div class="col-xs-12">
                        <span class="pull-left">
                          <%= link_to like_post_path(post), method: 'post' do %>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <%= pluralize(post.likes.size, "like") %>
                          <% end %>
                          <% if current_user.liked_staff?(post) %>
                            <%= link_to "Unlike", unlike_post_path(post), method: "delete" %>
                          <% end %>
                        </span>
                      </div>
                      <div class="col-md-12">
                        <%= post.sample_liker %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <% if post.has_comments? %>
                          <% post.comments.each do |comment| %>
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <p><strong><%= "#{comment.user.name}   " %></strong><span class="text-muted"><%= comment.created_at.to_date %></span></p>
                                <p><%= comment.body %></p>
                                <span class="pull-left">
                                  <%= link_to like_comment_path(comment), method: 'post' do %>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <%= pluralize(comment.likes.size, "like") %>
                                  <% end %>
                                  <% if current_user.liked_staff?(comment) %>
                                    <%= link_to "Unlike", unlike_comment_path(comment), method: "delete" %>
                                  <% end %>
                                </span>
                                <span class="pull-right">
                                  <% if comment.user == current_user %>
                                    <%= link_to "Delete", comment_path(comment), method: "delete", data: {confirm: "Are you sure?"} %>
                                  <% end %>
                                </span>

                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <%= simple_form_for @comment do |f| %>
                  <div class="form-group">
                    <%= hidden_field_tag(:id, post.id) %>
                    <%= f.input :body, class: "form-control", label: false, placeholder: "Leave your comment here" %>
                    <%= f.button :submit, class: "btn btn-success" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

          </div>
        </div> <!-- end of the post row -->
      </main>
    </div>
  </div>
</div>
