
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="/images/bgs/<%= rand(1...10) %>.jpg" class="cover-photo hidden-xs hidden-sm img-responsive" alt="profile cover photo">
          <div class="profile-photo"> 
            <img src="<%= @user.profile.photo_url %>" class="hidden-xs hidden-sm">
          </div>
        </div>
      </div>
 

    <div class="row">
      <nav class="col-md-7 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li><a href="timeline.html">Timeline</a></li>
          <li class="active"><a href="about.html">About</a></li>
          <li><a href="photos.html">Photos <span class="unread-number">(123)</span></a></li>
          <li><a href="friends.html">Friends <span class="unread-number">(542)</span></a></li>
        </ul>
      </nav>
      <div class="col-md-2 pull-right">
        <ul class="nav profile-link">
        <li><a href="about_edit.html" class="pull-right ">Edit Profile</a></li>
        </ul>
      </div>
    </div>

    <section class="timeline-wrap">
      <div class="row">
        <div class="col-md-4">

          <div class="panel panel-default friends">
            <div class="panel-heading">
              <h3 class="panel-title timeline-panel-header">Photos <span class="grey-text">(123)</span></h3>
            </div>
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src=/"/images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src=/"images/icon_photo_small.png" alt=""></a>
                </div>
              </div> <!-- end row -->

              <div class="text-center">
                <a href="#" class="text-center">See More Photos</a>
              </div>

            </div> <!-- end panel -->
          </div> <!-- end friends panel-->


          <div class="panel panel-default friends">
            <div class="panel-heading ">
              <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text">(542)</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
              </div> <!-- end row -->
              <div class="text-center">
                <a href="#" class="text-center">See More Friends</a>
              </div>

            </div>
          </div> <!-- end friends panel-->


        </div> <!--col-md -4 -->

        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title timeline-panel-header">Post</h3>
            </div>

            <div class="panel-body">
              <%= form_for [@user, @post] do |f|%>            
                <div class="form-group">
                  
                  <%= f.text_area :body,class: 'form-control' %>
                </div>
             
            </div>

            <div class="panel-footer clearfix">
               <%= f.submit 'Post', class: 'pull-right btn btn-sm btn-primary' %>
             
            </div>
             <% end %> 
          </div> <!-- end panel default -->

          <% @posts.each do |post| %>
          <article class="panel panel-default comments">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="<%= post.user.profile.photo_url %>">
                 </div>
               </div> <!-- col-md-2 end -->

               <div class="col-md-7 poster">
                 <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_timeline_path(post.user.id) %>
                <p class="grey-text">Posted on <%= post.created_at.strftime("%A %m/%d/%y") %></p>
              </div>
            </div> <!-- row end -->
            <div class="row">
              <div class="col-md-12">
                <p><%= post.body %></p>
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <a href="#">Delete</a>
            </div>
            <div class="pull-left">
              <a href="#">Like</a>
              <a href="#">Comment</a> 
            </div>
          </div>
        </article> <!-- end comment panel -->
        <% end %>

        </div><!-- col-md-8 end -->
      
      </div> <!-- end of row -->

    </section>

  </div> <!-- end of container -->
</main>