<!-- Start Comments / Responses -->
<% post.comments.each do |comment| %>
  <div class = "row">
    <div class="col-xs-2">
      <%=image_tag "user_silhouette_generic.gif", width: "50px", height: "50px" %>
    </div>

    <div class="col-xs-10">
      <div class = "row">
        <p class="col-md-12">
          <%= link_to comment.author.name, user_path(comment.author) %> <span>said on <%= comment.created_at.to_formatted_s(:long) %></span>
        </p>
      </div>
      <div class = "row">
        <p class="col-md-12">
          <%= comment.body %>
        </p>
      </div>
      <div class = "row">
        <%= like_or_unlike_button(comment) %>
        <span class="col-xs-8"><%= likes_count_message(comment) %></span>
          <%= link_to "Delete",
              post_comment_path(post.id, comment.id),
              method: :delete,
              class: "col-xs-2",
              data: {confirm: "Are you sure you want to delete this comment?"} if comment.author == current_user %>
      </div>
    </div>
  </div><br> <!-- End Comments / Responses -->
  <div class = "divider-line"></div>
<% end -%>