<section class="row" id="timeline-friends">
  <header class="col-md-12">
      <h4>Friends: <%= @friends.count %></h4>
  </header>

  <% @friends.each do |friend| %>
    <div class="col-xs-4 friend">
      <%= link_to user_path(friend) do %>
        <%=image_tag random_user_image %>
      <% end -%>
      <p>
        <%= link_to friend.name, user_path(friend) %>
      </p>
    </div>
  <% end -%>

  <div class="col-md-12 friend">
    <h4><%= link_to "See more friends!", user_friends_path(@user) %></h4>
  </div>
</section>