<section class="row" id="timeline-friends">
  <header class="col-md-12">
      <h4>Friends: 542</h4>
  </header>

  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "Hermione-Granger.jpg" %>
    </a>
    <p><a href="#">Hermione</a></p>
  </div>
  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "Bonnie-Wright.jpg" %>
    </a>
    <p><a href="#">Ginny Weasley</a></p>
  </div>
  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "RonWeasley.jpg" %>
    </a>
    <p><a href="#">Ron Weasley</a></p>
  </div>
  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "Cho-Chang.jpg" %>
    </a>
    <p><a href="#">Cho Chang</a></p>
  </div>
  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "cedric-diggory.jpg" %>
    </a>
    <p><a href="#">Cedric Diggory</a></p>
  </div>
  <div class="col-xs-4 friend">
    <a href="#">
      <%=image_tag "Rubeus_Hagrid.jpg" %>
    </a>
    <p><a href="#">Rubeus Hagrid</a></p>
  </div>

  <div class="col-md-12 friend">
    <%= link_to "See more friends!", friends_path %>
  </div>
</section>