<div class="container newsfeed-container">
	<main class="timeline-content-area">
		<div class="row">
      <div class="col-xs-4">
				<section class="tl-about-box tl-content-box">
					<div class="row">
						<div class="col-xs-12 tl-about-info tl-content-template">
              <% if @user.profile_photo %>
							  <%= image_tag(@user.profile_photo.image.url, class: "profile-img") %>
              <% else %>
                <img class="profile-img" src="/imgs/user_silhouette_generic.gif">
              <% end %>
              <%= link_to @user.fullname, @user, class: "newsfeed-name" %>
              <% if @user.active_friends.any? %>
                <h4>Recently Active</h4>
  						  <% @user.active_friends.each do |friend| %>
                  <% if friend.profile_photo %>
                    <%= image_tag(friend.profile_photo.image.url, class: "profile-img") %>
                  <% else %>
                    <img class="profile-img" src="/imgs/harry_potter_small.jpg">
                  <% end %>
                  <%= link_to friend.fullname, friend, class: "newsfeed-name" %>
                <% end %>
              <% else %>
                <p class="text-center">No recently active friends</p>
              <% end %>
              <h4 class="text-center"><%= link_to "See All Friends", user_friendings_path %></h4>
						</div>
					</div>
				</section>
			</div>
			<div class="col-xs-8">
				<section class="tl-content-box tl-post-box">
					<div class="row">
						<header class="col-xs-12">
							<h4>Newsfeed</h4>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 tl-content-template">
              <%= form_for [@current_user, Post.new], remote: true do |f| %>
                <div class="form-group tl-post-form">
                  <%= f.text_area :content, class: "form-control", rows: 2, placeholder: "Tell the world something..." %>
                </div>
                <div class="row">
      						<div class="col-xs-12">
      							<div class="col-xs-3 pull-right h2 btn-container">
                      <%= f.submit "Post", class: "btn btn-primary" %>
      							</div>
      						</div>
      					</div>
              <% end if created_by_user? %>
						</div>
					</div>
				</section>
        <div class="posts-box">
        <% if @activities.any? %>
          <% @activities.each do |activity| %>
            <section class="tl-exist-post">
              <%= render partial: "shared/post_profile_container", locals: { activity: activity } %>
            </section>
          <% end %>
        <% else %>
          <section class="tl-exist-post">
            <h4 class="text-center">You don't have any activity</h4>
          </section>
        <% end %>
        </div>

				<!-- <section class="tl-exist-post">
					<%= render partial: "shared/ex-post-profile-container", locals: { date: "Thursday, 5/21/2014", name: "Harry Potter" } %>
					<div class="row">
						<footer class="clearfix tl-post-footer">
							<div class="col-xs-12">
                <%= link_to "Unlike", "#", class: "ex-post-like-link" %>
                <%= link_to "Comment", "#" %>
                <%= link_to "Delete", "#", class: "pull-right" %>
							</div>
							<div class="col-xs-12 border-bottom">
                <span class="ex-post-like">You and <%= link_to "Hermione Granger", "#"%> and 3 others like this.</span>
							</div>

							<div class="col-xs-12">
								<div class="row">
									<div class="clearfix tl-comment-container">
										<div class="col-xs-2 ex-post-profile-container">
                      <%= link_to image_tag("/imgs/user_silhouette_generic.gif", class: "ex-post-profile"), "#" %>
										</div>
										<div class="col-xs-10 ex-poster-info">
                      <%= link_to "Ron Weasley", "#" %>
											<p class="ex-post-timestamp">Said on Wednesday 5/10/2014</p>
										</div>
										<p class="ex-post-content tl-comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<div class="col-xs-12 tl-comment-footer">
                      <%= link_to "Like", "#" %>
											<span>3 other people like this</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="row">
									<div class="clearfix tl-comment-container">
										<div class="col-xs-2 ex-post-profile-container">
                      <%= link_to image_tag("/imgs/harry_potter
											_small.jpg", class: "ex-post-profile"), @current_user %>
										</div>
										<div class="col-xs-10 ex-poster-info">
											<%= link_to "Harry Potter", @current_user %>
											<p class="ex-post-timestamp">Said on Wednesday 5/10/2014</p>
										</div>
										<p class="ex-post-content tl-comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<div class="col-xs-12 tl-comment-footer">
											<%= link_to "Like", "#" %>
											<span>3 other people like this</span>
                      <%= link_to "Delete", "#", class: "pull-right" %>
										</div>
									</div>
								</div>
								<form>
									<div class="form-group">
										<textarea class="form-control tl-comment-post" rows="5" placeholder="Write a comment..."></textarea>
									</div>
								</form>
                <%= link_to "Cancel", "#" %>
								<div class="col-xs-3 pull-right btn-container">
                  <%= link_to "Comments", "#", class: "btn btn-primary comment-btn" %>
								</div>
							</div>
						</footer>
					</div>
				</section> -->
			</div>
		</div>
	</main>
</div>
