<%= render 'users/user_header', user: @timeline.user %>


<div class="row top-row">
  <div class="col col-4">
    <article>
      <header>About</header>
      <section>
        <p><strong>Born on:</strong> <%= @timeline.user.birthday.to_date if @timeline.user.birthday %></p>
        <p><strong>Went to school at:</strong> <%= @timeline.user.college %></p>
        <p><strong>Hometown:</strong> <%= @timeline.user.hometown %></p>
        <p><strong>Currently Lives:</strong> <%= @timeline.user.current_town %></p>
      </section>
    </article>
    <article>
      <header>Photos (123)</header>
      <section>
        <p>Photos go here.</p>
        <%= link_to 'See more photos' %>
      </section>
    </article>

    <article>
      <header>Friends (123)</header>
      <section>
        <p>Friends go here.</p>
        <%= link_to 'See more friends' %>
      </section>
    </article>
  </div><!-- col col-4 -->

  <div class="col col-8 main-content">
    <% if policy(@timeline.post).create? %>
      <%= render 'posts/form', user: @timeline.user, post: @timeline.post %>
    <% end %>

    <% @timeline.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>

  </div> <!-- col col-8 -->

