
<!--begin profile page-->
<main class="container">
  <div class="row">
    <!-- cover photo -->
    <div class="col-md-10 col-md-offset-1 col-xs-12" id="cover-photo">
      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" class="img-responsive">
      <div class="row">
        <!--profile picture which is overlayed on cover photo-->
        <div class="col-md-6 col-md-offset-1 col-xs-10" id="profile-picture">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">
          <h2><%= user_header_name(real_user_id) %></h2>
        </div>
      </div>
    </div>
    <!--set of profile tabs linking to different parts of the page-->
    <%= render "shared/nav_links" %>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1" id="timeline-divider">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <!--About panel -->
            <div class="col-xs-12 timeline-title">
              <h5>About (Text Area)</h5>
            </div>
            <div class="col-xs-12 timeline-content">
              <p><b>Born on:</b> <%= real_user.profile.birthday.strftime("%m/%d/%Y") if real_user.profile.birthday%></p>
              <p><b>Went to school at:</b> <%= real_user.profile.college %></p>
              <p><b>Hometown:</b> <%= real_user.profile.hometown %></p>
              <p><b>Currently Lives:</b> <%= real_user.profile.currently_lives %></p>
            </div>
            <!-- User's Photos -->
            <div class="col-xs-12 timeline-title" id="timeline-friends-photos">
              <h5>Photos (123) (Copied Text Area)</h5>
            </div>
            <div class="col-xs-12 timeline-content">
              <div class="row">
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>                    </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                </div>
                <div class="col-xs-12">
                  <a href="photos.html"><h6>See more photos</h6></a>
                </div>
              </div>
            </div>
            <!-- User's Friends -->
            <div class="col-xs-12 timeline-title" id="timeline-friends-photos">
              <h5>Friends (542) (Copied Text Area)</h5>
            </div>
            <div class="col-xs-12 timeline-content">
              <div class="row">
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-4">
                  <a href=#><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
                  <a href=#><h6>Friend name</h6></a>
                </div>
                <div class="col-xs-12">
                  <a href="friends.html"><h6>See more friends</h6></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Post area and timeline -->
        <div class="col-md-8 col-sm-12 " id="timeline">
          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <div class="row">
              <!--Form to enter a new post-->
                <div class="col-xs-12 timeline-title">
                  <h5>New Posts</h5>
                </div>
                <%= simple_form_for @post do |post_fields| %>
                <div class ="col-xs-12" id="post-container">
                  <%= post_fields.input :body, input_html: {rows: "4"}, label: false, placeholder: "Tell the world something..." %>
                </div>
                <div class="col-xs-12" id="post-button-container">
                  <%= post_fields.submit "Post!", class:"btn btn-primary pull-right"%>
                </div>
                <% end %>
                <!-- Previous posts -->
                <% @timeline_user.posts_received.each do |post| %>
                  <%= render partial: "shared/post_box", locals: {post: post} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
</main>
