<h1>Timelines#show</h1>

<h3>About</h3>
<%= show_date @profile.birthday %>
<%= @profile.college %>
<%= show_address @profile.hometown %>
<%= show_address @profile.residence %>

<%= form_for @post do |post_fields| %>
  <%= post_fields.label :body %>
  <%= post_fields.text_field :body %>
  <%= post_fields.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <%= post.user.full_name %>
  <%= post.created_at %>
  <%= post.body %>
  <%= "#{post.likes_count} people have liked this post." %>
  <%= form_for post do |post_fields| %>
    <%= post_fields.fields_for :likes, @like do |like_fields| %>
      <% if !(like_fields.object.persisted?) %>
        <%= like_fields.hidden_field :likeable %>
        <%= like_fields.submit 'Like' %>
      <% else %>
        <%= like_fields.hidden_field :_destroy %>
        <%= like_fields.submit 'Unlike' %>
      <% end %>
    <% end %>
  <% end %>
  <% post.comments.each do |comment| %>
    <%= comment.user %>
    <%= comment.created_at %>
    <%= comment.body %>
    <%= form_for comment do |comment_fields| %>
      <%= comment_fields.fields_for :likes, @like do |like_fields| %>
        <%= like_fields.submit 'Like' %>
      <% end %>
    <% end %>
  <% end %>
  <%= form_for post do |post_fields| %>
    <%= post_fields.fields_for :comments, @comment do |comment_fields| %>
      <%= comment_fields.text_field :body %>
      <%= comment_fields.submit 'Comment' %>
    <% end%>
  <% end %>
<% end %>