<h1>Timelines#show</h1>

<h3>About</h3>
<%= show_date @profile.birthday %>
<%= @profile.college %>
<%= show_address @profile.hometown %>
<%= show_address @profile.residence %>

<%= form_for @post do |post_fields| %>
  <%= post_fields.label :body %>
  <%= post_fields.text_field :body %>
  <%= post_fields.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <%= post.user.full_name %>
  <%= post.created_at %>
  <%= post.body %>
  <% post.comments.each do |comment| %>
    <%= comment.user %>
    <%= comment.created_at %>
    <%= comment.body %>
  <% end %>
  <%= form_for post.comments.build do |comment_fields| %>
    <%= comment_fields.text_field :body %>
    <%= comment_fields.submit %>
  <% end %>
<% end %>