<!-- Like -->
<div class="post col-xs-12">
  <header>
    <div class="row">
      <div class="col-xs-2">
        <div class="post-profile-image-container">

            <%= link_to(user_path(like.user)) {image_tag(like.user.profile_photo_url)} %>

        </div>
      </div>
      <div class="col-xs-8 post-info-container">

        <%= link_to(like.user.name, user_path(like.user)) %>

        liked

        <%= link_to(like.likeable.user.name, user_path(like.likeable.user)) %>'s

        <%# Hash tag anchor if post or comment %>
        <%#
        path_params = like.likeable_type == 'Comment' ? like.likeable : [like.likeable.user, like.likeable]
        %>
        <%# link_to(like.likeable_type.downcase, polymorphic_path(path_params)) %>
        <%= link_to(like.likeable_type.downcase, user_path(like.likeable.user)) %>

        on

        <time>
          <%= like.date %>
        </time>
      </div>
    </div>
  </header>
</div><!-- col -->
