<% content_for(:profile_header) do %>
  <%= render :partial => 'shared/profile_header', :locals => {:user => @user} %>
<% end %>


<!-- Profile Page / Timeline -->
<section id="timeline" class="row profile-page-container row-offcanvas row-offcanvas-left">

  <!-- Details -->
  <div class="col-xs-10 col-sm-4 details-container sidebar-offcanvas">

    <div class="row">

      <!-- About -->
      <section id="about" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            About: <%= @user.name %>
          </h1>
        </header>
        <div class="about-container">
          <dl>
            <dt>Birthday:</dt><dd><%= @user.birthday %></dd>
            <dt>College:</dt><dd><%= @user.profile.college %></dd>
            <dt>Hometown:</dt><dd><%= @user.profile.hometown %></dd>
            <dt>Currently Lives:</dt><dd><%= @user.profile.currently_lives %></dd>
          </dl>
        </div>
      </section>

      <!-- Photos -->
      <section id="photos" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            Photos
            <small>
              (<%= @user.photos.length %>)
            </small>
          </h1>
        </header>

        <!-- Photo -->
        <div class="photos-container">

          <div class="row">

            <% if @user.photos.present? %>
              <% @user.photos.take(8).each do |photo| %>
                <%= link_to(user_photo_path(@user, photo)) do %>
                <div class="col-xs-12 col-sm-4 photo-thumb" style="background: url('<%= photo.file.url(:thumb) %>')"></div>
                <% end %>
              <% end %>
            <% else %>

              <div class="no-photos">
                No Photos
              </div>

            <% end %>

          </div>
        </div>

        <footer>
          
          <%= link_to('See more photos...', user_photos_path(@user)) %>

        </footer>
      </section>

      <!-- Friends -->
      <section id="friends" class="col-xs-10 col-sm-12">
        <header class="details-header">
          <h1>
            Friends
            <small>
              (<%= @user.friends.length %>)
            </small>
          </h1>
        </header>
        <div class="friends-container">

          <div class="row">

            <% if @user.friends.present? %>
            
              <% @user.friends.take(8).each do |friend| %>
              
                <div class="col-xs-12 col-sm-4 profile-image-container">

                  <%= link_to(user_path(friend)) do %>
                    <%= image_tag(friend.profile_photo_url(:thumb)) %>
                  <% end %>
                  
                  <%= link_to(friend.name, user_path(friend)) %>

                </div>

              <% end %>

            <% else %>

              <div class="col-xs-12 no-friends">
                No Friends
              </div>

            <% end %>

          </div>

        </div>
        <footer>

          <%= link_to('See more friends', user_friendships_path(@user)) %>

        </footer>
      </section>
    </div>

  </div>

  <!-- Timeline -->
  <div class="col-sm-7 col-sm-offset-1 timeline-container clearfix">

    <div class="pull-left visible-xs offcanvas-toggle-container">
      <button type="button" class="btn btn-primary offcanvas-toggle" data-toggle="offcanvas">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>

    <div class="row">

      <%# Render post form only if current user is this user %>
      <% if is_current_user?(@user) %>

        <%= render :partial => 'posts/form', :locals => {:post => @user.posts.build} %>

      <% end %>

      <!-- Activities -->
      <% if @activities.present? %>

        <% @activities.each do |activity| %>
          <%
          resource = "#{activity.feedable_type.underscore}"
          partial = resource
          locals = {resource.to_sym => activity.feedable}
          %>
          <%= render :partial => partial, :locals => locals %>
        <% end %>

        <div class="col-xs-12 text-success feed-end">
          You've successfully reached the beginning of time! Whoot!
          <br>
          Well... the beginning of <%= @user.name %>'s timeline at least.
        </div>

      <% else %>

        <div class="col-xs-12 no-activity">
          No activity yet!
        </div>

      <% end %>

    </div><!-- row -->

  </div><!-- col -->

</section><!-- timeline row -->




