
<%= render partial: "layouts/shared/navbar_signed_in" %>

<div class="row"> <!--main row for rest of page-->

  <div class="col-md-8 col-md-offset-2"><!--main middle for image and nav links--> 

    <%= render partial: "layouts/shared/page_bg_nav", 
               locals: {page_is: "photos"} %>

      <div class="row no-pad container-border page-type">
        
        <% if current_user_view? %>
          <div class="panel-container row no-pad">
            <div class="panel panel-default page-type-panel-body panel-style"> 
              <div class="panel-body panel-body-style">
                <strong>Photos (<%= @user.images.count %>) </strong>
                <button class="btn btn-info pull-right">
                  <a href="<%= new_image_path(user_id: @user) %>">
                    Add Photo
                  </a>
                </button>
              </div>
            </div>
          </div>
        <% end %>
        <%= render partial: 'show_images' %>
        
      </div> 
      
    <div class="col-md-2">
    </div>
  </div>   
</div> 