<div class="row">
<div class="row">
<div class="row">
<div class="row">
  <div class="jumbotron"> <!-- NOTE: Style background image in CSS -->
      <div class="row">
      <div class="row">
        <div class="col-sm-12"><%= image_tag("default_photo.png", :id => "banner_photo")%></div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12"><!--navbar -->
            <div class="row main_nav"> 
              <div class="col-sm-2">
                <%= image_tag("default_user.gif", :id => "profile_photo")%>
              </div>
          


              <ul class="jumbotron-links"> <!-- NOTE: STYLE INLINE-BLOCK CSS-->
                  <li><%= link_to "Timeline", timeline_path %></li>
                  <li><%= link_to "About", user_path %></li>
                  <li><a href="photos.html">Photos <span class="counter">(123)</span></a></li>
                  <li><a href="friends.html">Friends <span class="counter">(542)</span></a></li>
                  <li class="pull-right"><%= link_to "Edit Profile", edit_user_path %></li>
              </ul>
            </div>

        </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
<!-- banner box -->