<header>
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			    	</button>
			    	<a class="navbar-brand" href="#" id="logo"><%= image_tag('logo.png')%></a>
				</div>

				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
					<%= form_tag session_path, :class => "navbar-form navbar-right", :role => "form" do %>
						<div class="form-group navInput">
							<%= label_tag 'Email', 'Email', :class => 'navLabel' %>
							<%= text_field_tag :email, nil, :placeholder => "Email", :class => "form-control" %>
						</div>

						<div class="form-group navInput">
							<%= label_tag 'Password', 'Password', :class => 'navLabel' %>
							<%= password_field_tag :password, nil, :placeholder => "Password", :class => "form-control" %>
						</div>
							  <%= label_tag do %>
    								Stay logged in?
    							<%= check_box_tag :remember_me %>
  							  <% end %>

							<%= submit_tag "Sign in", :class => "btn btn-success" %>

					<% end %>
				</div>

				
			</div>
		</div>
	</nav>
</header>