<section class="container main-header">
  <div class="row">
    <div class="col-xs-12">
      <%= cover_image(@user) %>
      <%= profile_image(@user) %>
      <a class="title-name"><%= @user.first_name %> <%= @user.last_name %></a>
    </div>
  </div>

  <!-- nav links -->
  <div class="row nav-link-row">
    <div class="col-xs-2 nav-links">
      <% unless current_user == @user %>
        <% if current_user.friendeds.include?(@user) %>
          <p><%= link_to "Remove Friend", friending_path(@user), method: :delete %></p>
        <% else %>
          <p><%= link_to "Add Friend", friendings_path(@user), method: :post %></p>
        <% end %>
      <% else %>
      <a style="visibility: hidden"><p>test</p></a>
      <% end %>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Timeline", user_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "About", user_profile_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Photos", user_photos_path(@user) %></p>
    </div>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Friends", friending_path(@user) %></p>
    </div>
    <% if current_user == @user %>
    <div class="col-xs-2 nav-links">
      <p><%= link_to "Update Profile", edit_profile_path(current_user) %></p>
    </div>
    <% end %>
  </div>
</section>