<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDanebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <main class="container">
      <%= render partial: 'shared/user_navbar' %>
      <div class="row">
        <section class="col-xs-12 post">
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
