<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<% unless current_page?(root_path) %>
		<%= render :partial => '/layouts/header' %>
	<% end %>
	<div class="text-center">
		<% flash.each do |type, msg| %>
			<%= "#{type.upcase}: #{msg}" %> 
		<% end %>  
	</div>
	<%= yield %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
