<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>

  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
</head>
<body data-no-turbolink>
  <div class="container-fluid">
    <div class="row" id="home">

      <%= navbar_display %>

    </div>

    <div class="row" id="flash">
      <div class = "col-xs-10 col-xs-offset-1">
        <%= render partial: "shared/flash" %>
      </div>
    </div>

    <div class="row">

      <%= yield %>

    </div>

  </div>
</body>
</html>
