<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/navbar" %>
<div class = "col-md-12 flash-messages" %>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>

<div class = "container">
<%= render partial: "shared/cover_header" %>
<%= yield %>
</div>

</body>
</html>
