<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Danebook</title>

    <link href="./sassystyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render partial: 'shared/navbar' %>

    <%= yield %>
    
  </body>
</html>
