<!DOCTYPE html>
<html>
<head>
  <title>ProjectDanebook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in_user? %>
    <%= render 'shared/standard_nav' %>
  <% else %>
    <%= render 'shared/login_nav' %>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success alert-dismissable float-clear">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:success] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger alert-dismissable float-clear">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:error] %>
    </div>
  <% end %>
  
  <%= render 'shared/profile_nav', locals: {about: @about, friends: @friends, timeline: @timeline, photos: @photos} unless @home %>

  <%= yield %>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script src="bootstrap.min.js"></script>
  
</body>
</html>
