<!DOCTYPE html>
<html>
  <head>
    <title>AssignmentDanebookGoesLive</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body <% if @home %>style="padding: 0 0"<% end %>>

    <%= render :partial => "shared/navbar" %>
    <%= yield %>
  </body>
</html>
