<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

  <% flash.each do |type, message| %>
    <div class="alert alert-<%=type%>">
      <div>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= type.titleize %>! <%= message %></strong>
      </div>
      </div>
  <% end %> 

  <div class="general-navbar">
    <%= render partial: "shared/general_navbar", locals: { profile: current_user.profile } %>
  </div>

  <div class="timeline-controller">
    <%= yield %>
  </div>

  
  <div class="row bottom-spacer">
  <br>
  </div>

</body>
</html>