<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :first_name, label: false, placeholder: 'First Name', wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :last_name,  placeholder: 'Last Name', label: false, wrapper_html: {class: 'col-md-6'} %>
  </div>
  <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email' %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: 'Your New Password', label: false %>
  <%= f.input :password_confirmation, required: true, placeholder: 'Confirm Your Password', label: false %>
  <%= f.simple_fields_for :profile do |s| %>
    <%= s.input :birthdate, as: :date, end_year: Date.today.year - 90, start_year: Date.today.year - 12, order: [:day, :month, :year], required: false, prompt: true, label: 'Birthday' %>
    <div class="form-group">
      <%= s.input :sex, as: :radio_buttons, collection: [['Male', 'male'], ['Female', 'female']], item_wrapper_class: 'inline', class: 'radio-inline', required: false %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
<% end %>